projects/impact-arena-condo/wf_guest_concierge.json
[
  {
    "id": "impact-guest-concierge",
    "name": "Impact - Guest Concierge",
    "active": true,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "impact/guest-concierge",
          "responseMode": "onReceived",
          "responseCode": 200,
          "options": {
            "responseData": "firstEntryJson"
          }
        },
        "id": "p3-guest-001",
        "name": "Receive guest concierge job",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -720,
          0
        ],
        "webhookId": "impact-guest-concierge"
      },
      {
        "parameters": {
          "jsCode": "function uuidOrNull(value) {\n  const text = String(value ?? '');\n  return /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i.test(text) ? text : null;\n}\nconst incoming = items[0].json;\nconst headers = incoming.headers ?? {};\nconst body = incoming.body ?? incoming;\nconst receivedSecret = headers['x-impact-webhook-secret'] ?? headers['X-Impact-Webhook-Secret'];\nconst expectedSecret = $env.N8N_WEBHOOK_SECRET;\nif (expectedSecret && receivedSecret !== expectedSecret) {\n  throw new Error('Invalid Impact guest concierge dispatch secret');\n}\nif (body.line_channel !== 'guest_oa') {\n  return [];\n}\nconst isGuestConciergeMode = body.mode === 'guest_concierge';\nconst eventType = body.event_type ?? (isGuestConciergeMode ? 'message' : null);\nconst messageType = body.message_type ?? (isGuestConciergeMode ? 'text' : null);\nif (eventType !== 'message' || messageType !== 'text') {\n  return [];\n}\nconst guestText = String(body.guest_text ?? body.message_text ?? '').trim();\nif (!guestText || !body.actor?.line_user_id) {\n  return [];\n}\nreturn [{ json: {\n  mode: 'guest_concierge',\n  line_channel: 'guest_oa',\n  event_type: eventType,\n  message_type: messageType,\n  line_user_id: body.actor.line_user_id,\n  guest_text: guestText,\n  language: body.language,\n  conversation_id: body.conversation_id,\n  correlation_id: body.correlation_id,\n  source_event_id: uuidOrNull(body.source_event_id),\n  reply_token_ephemeral: typeof body.reply_token_ephemeral === 'string' ? body.reply_token_ephemeral : undefined,\n  test_context: body.test_context,\n} }];"
        },
        "id": "p3-guest-002",
        "name": "Validate guest concierge job",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -480,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "function normalizeText(value) {\n  return String(value ?? '').trim().toLowerCase();\n}\nfunction includesAny(text, terms) {\n  return terms.some((term) => text.includes(term));\n}\nfunction hasEnglish(text) {\n  return /[a-z]/i.test(text);\n}\nfunction hasThai(text) {\n  return /[\\u0E00-\\u0E7F]/.test(text);\n}\nfunction stripPoliteAndNoise(text) {\n  return text\n    .replace(/นะครับ|นะคะ|ครับ|ค่ะ|คะ|จ้า|จ้ะ|kub|krub|krap|ka|kha/gi, ' ')\n    .replace(/[.,!?()[\\]{}\"'“”‘’]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\nfunction looksLikeShortBookingNameClaim(text) {\n  const stripped = stripPoliteAndNoise(text);\n  if (!stripped || stripped.length < 2 || stripped.length > 40) return false;\n  if (!(/[a-z]/i.test(stripped) || /[\\u0E00-\\u0E7F]/.test(stripped))) return false;\n  const lower = stripped.toLowerCase();\n  const parts = stripped.split(/\\s+/).filter(Boolean);\n  const personalStarts = ['ผม ', 'ฉัน ', 'หนู ', 'เรา ', 'ดิฉัน ', 'i ', \"i'm \", 'im '];\n  if (personalStarts.some((prefix) => lower.startsWith(prefix))) return false;\n  const nonNameTerms = [\n    'สวัสดี', 'หวัดดี', 'ขอบคุณ', 'โอเค', 'ok', 'okay', 'hello', 'hi', 'thanks', 'thank you',\n    'ราคา', 'เท่าไหร่', 'ห้องว่าง', 'ว่างไหม', 'พักได้ไหม', 'จองได้ไหม',\n    'กี่โมง', 'ที่ไหน', 'อยู่ไหน', 'อยู่', 'ยังไง', 'ทำไง', 'ช่วยด้วย',\n    'ถึงแล้ว', 'มาถึง', 'กำลังมา', 'กำลังเดินทาง', 'เดินทาง', 'หน้าตึก', 'ถึงตึก', 'ถึงหน้าตึก',\n    'ขับรถ', 'รถ', 'จอดรถ', 'parking', 'แท็กซี่', 'grab', 'bolt',\n    'หิว', 'กินข้าว', 'อาหาร', 'ร้านอาหาร', 'เซเว่น', 'seven', 'wifi', 'wi-fi', 'อินเทอร์เน็ต', 'เน็ต',\n    'เข้าห้อง', 'ขึ้นห้อง', 'เช็คอิน', 'เช็กอิน', 'เช็คเอาท์', 'เช็กเอาท์', 'เช็กเอาต์', 'เช็คเอาต์', 'เลท', 'อยู่ต่อ',\n    'คอสโม', 'cosmo',\n    'คืนเงิน', 'มัดจำ', 'โกง', 'บริการแย่', 'รีวิว', 'ร้องเรียน', 'คอมเพลน', 'เจ้าของ', 'ผู้จัดการ',\n  ];\n  if (nonNameTerms.some((term) => lower.includes(term))) return false;\n  return parts.length <= 4;\n}\nconst input = items[0].json;\nconst text = normalizeText(input.guest_text);\nlet intent = 'safe_general_question';\n\nconst roomEntryQuestionTerms = ['เข้าห้องได้', 'เข้าห้องได้ไหม', 'เข้าห้องได้มั้ย', 'เข้าห้องได้หรือยัง', 'ขึ้นห้องได้', 'ขึ้นห้องได้ไหม', 'ขึ้นห้องได้มั้ย', 'ขึ้นห้องได้หรือยัง', 'เข้าไปได้เลยไหม', 'เข้าไปได้เลยมั้ย', 'จะเข้าห้องได้หรือยัง', 'ห้องพร้อมแล้วใช่ไหม'];\nconst roomEntryQuestionSignals = ['ไหม', 'มั้ย', 'หรือยัง', 'ใช่ไหม', 'ใช่มั้ย', '?'];\nif (includesAny(text, roomEntryQuestionTerms) || (includesAny(text, ['เข้าห้อง', 'ขึ้นห้อง', 'เข้าไป']) && includesAny(text, roomEntryQuestionSignals) && !includesAny(text, ['เข้าไม่ได้', 'เปิดไม่ได้', 'เปิดไม่ออก', 'cannot enter']))) {\n  intent = 'room_entry_request';\n} else if (includesAny(text, ['เข้าห้องแล้ว', 'เข้าห้องมาแล้ว', 'อยู่ห้องแล้ว', 'เข้าห้องพัก', 'check in แล้ว', 'checked in', 'i am in the room', 'i’m in the room', 'im in the room']) && !includesAny(text, ['ไม่ได้', 'ไม่ด้าย', 'เข้าไม่ได้', 'เปิดไม่ได้', 'เปิดไม่ออก', 'เข้าไม่ได้เลย', 'cannot enter', 'ไหม', 'มั้ย', 'หรือยัง', 'ใช่ไหม', 'ใช่มั้ย'])) {\n  intent = 'checkin_signal';\n} else if (includesAny(text, ['ออกแล้ว', 'ออกไปแล้ว', 'เช็คเอาท์แล้ว', 'เช็คเอาท์', 'เช็คเอาท์เรียบร้อย', 'checkout แล้ว', 'checkout เรียบร้อย', 'check out แล้ว', 'checked out'])) {\n  intent = 'checkout_signal';\n} else if (includesAny(text, ['ไม่ใช่', 'ไม่ถูกต้อง', 'ไม่ถูก', 'ผิดห้อง', 'ผิดคน', 'wrong booking', 'not correct', 'incorrect'])) {\n  intent = 'booking_reject';\n} else if (includesAny(text, ['ไม่มีเน็ต', 'ไม่มี wifi', 'ไม่มี wi-fi', 'ไม่มีอินเทอร์เน็ต', 'no wifi', 'no wi-fi'])) {\n  intent = 'internet_complaint';\n} else if (includesAny(text, ['wifi', 'wi-fi', 'internet', 'อินเทอร์เน็ต', 'เน็ต', 'ไวไฟ', 'ไว-ไฟ'])) {\n  intent = 'internet_question';\n} else if (includesAny(text, ['เซเว่น', 'seven', '7-eleven', '7 eleven', 'bigc', 'big c', 'convenience store'])) {\n  intent = 'convenience_store_question';\n} else if (includesAny(text, ['เปิดยัง', 'เปิดหรือยัง', 'เปิดไหม', 'เปิดกี่โมง', 'open now', 'is it open'])) {\n  intent = 'unknown_open_now';\n} else if (includesAny(text, ['อยู่ที่เดิม', 'เมื่อกี้ล่ะ', 'อันไหน', 'อันนั้น', 'อันนี้', 'แล้วไง'])) {\n  intent = 'clarify_reference';\n} else if (includesAny(text, ['ถูกต้อง', 'ถูกต้องค่ะ', 'ถูกต้องครับ', 'ใช่', 'ใช่ค่ะ', 'ใช่ครับ', 'correct', 'yes'])) {\n  intent = 'booking_confirm';\n} else if (includesAny(text, ['จองห้อง', 'จองไว้', 'จองมา', 'จองผ่าน', 'เลขการจอง', 'booking', 'agoda', 'airbnb', 'จองตรง']) || /^\\d{7,12}$/.test(text.trim())) {\n  intent = 'booking_claim';\n} else if (includesAny(text, ['เช็คอินก่อน', 'เข้าก่อน', 'check in now', 'early check-in', 'early check'])) {\n  intent = 'early_checkin_request';\n} else if (includesAny(text, ['เข้าห้องยังไง', 'วิธีเข้าห้อง', 'ขอวิธีเข้าห้อง', 'กุญแจห้อง', 'ขอวิธีเข้า', 'room access', 'how to enter', 'เข้าตึก', 'ขึ้นห้อง', 'ขอรหัสเข้าห้อง', 'เช็กอิน', 'เช็คอิน', 'จะเช็คอิน', 'ต้องการเช็คอิน', 'ถึงตึก', 'อยู่ตึก', 'หน้าตึก', 'ถึงหน้าตึก', 'หน้าอาคาร', 'ถึงอาคาร', 'มาถึงตึก', 'มาถึงหน้าตึก', 'จะขึ้นห้อง', 'ขออีกรอบ', 'ขออีกที', 'ส่งอีกรอบ', 'ขอรูปอีกรอบ', 'ขอใหม่อีกรอบ', 'check in', 'check-in', 'อยากเช็คอิน', 'ต้องการเช็คอิน'])) {\n  intent = 'room_entry_request';\n} else if (includesAny(text, ['รถสาธารณะ', 'รถเมล์', 'รถไฟฟ้า', 'mrt', 'bts', 'impact station', 'สถานี'])) {\n  intent = 'arrival_mode_public_transport';\n} else if (includesAny(text, ['แท็กซี่', 'taxi', 'grab', 'bolt'])) {\n  intent = 'arrival_mode_taxi';\n} else if (includesAny(text, ['เอารถมา', 'จอดรถ', 'มีที่จอดรถไหม', 'ที่จอดรถ', 'parking', 'ขับรถ', 'ขับรถมา', 'drive'])) {\n  intent = 'arrival_mode_car';\n} else if (includesAny(text, ['มอเตอร์ไซค์ส่วนตัว', 'มอไซค์ส่วนตัว', 'ขี่มอเตอร์ไซค์', 'ขี่มอไซค์', 'เอามอเตอร์ไซค์มา', 'เอามอไซค์มา', 'ขับมอเตอร์ไซค์', 'ขับมอไซค์', 'private motorcycle', 'own motorbike', 'scooter'])) {\n  intent = 'arrival_mode_private_motorcycle';\n} else if (includesAny(text, ['วิน', 'มอเตอร์ไซค์', 'มอไซค์', 'วินมอเตอร์ไซค์', 'motorbike'])) {\n  intent = text.includes('impact') || text.includes('อิมแพ็ค') ? 'motorbike_outbound' : 'motorbike_arrival';\n} else if (includesAny(text, ['ขอโล', 'ขอโลเคชั่น', 'ขอแผนที่', 'อยู่ตรงไหน', 'ไปตึกยังไง', 'ส่งโล', 'ขอโลตึกหน่อย', 'ขอโลเคชั่นหน่อย', 'location', 'map'])) {\n  intent = 'arrival_location_request';\n} else if (includesAny(text, ['กินข้าว', 'หิว', 'ร้านอาหาร', 'food', 'restaurant'])) {\n  intent = 'food_question';\n} else if (includesAny(text, ['อยู่ต่อ', 'พักต่อ', 'extend', 'another night'])) {\n  intent = 'extension_interest';\n} else if (includesAny(text, ['สระว่ายน้ำ', 'ฟิตเนส', 'ยิม', 'fitness', 'gym', 'pool'])) {\n  intent = 'facility_question';\n} else if (includesAny(text, ['ยาสระผม', 'ร้านขายยา', 'pharmacy'])) {\n  intent = 'unknown_knowledge_gap';\n} else if (includesAny(text, ['แอดมิน', 'คุยกับคน', 'พนักงาน', 'เจ้าหน้าที่', 'talk to staff', 'talk to human', 'ติดต่อพนักงาน', 'คุยกับแอดมิน'])) {\n  intent = 'talk_to_human';\n} else if (looksLikeShortBookingNameClaim(text)) {\n  intent = 'booking_claim';\n}\n\nconst detectedLanguage = hasThai(input.guest_text) ? 'th' : (hasEnglish(input.guest_text) ? 'en' : null);\nconst language = detectedLanguage ?? input.language ?? 'th';\nreturn [{ json: { ...input, intent, language } }];"
        },
        "id": "p3-guest-003",
        "name": "Classify guest intent",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -240,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_URL + \"/rest/v1/rpc/phase5_slice4_guest_concierge_context\" }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { p_line_user_id: $json.line_user_id || ($json.actor ? $json.actor.line_user_id : null), p_conversation_id: $json.conversation_id || null, p_guest_text: $json.guest_text, p_intent: $json.intent, p_language: $json.language } }}",
          "options": {}
        },
        "id": "p3-guest-004",
        "name": "Load guest context",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          300,
          0
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const baseInput = $(\"Build Gemini Prompt\").first().json;\nconst historyInput = $(\"Aggregate Chat History\").first().json ?? {};\nconst input = { ...baseInput, chat_history: historyInput.chat_history ?? [] };\nconst rawGemini = $(\"Call Gemini AI\").first().json;\n\nlet roomAccessReadiness = {\n  ready: false,\n  blockers: [\"readiness_unknown\"],\n};\nif (input.booking?.id) {\n  try {\n    const readinessResponse = await this.helpers.httpRequest({\n      method: \"POST\",\n      url: $env.SUPABASE_URL + \"/rest/v1/rpc/get_room_access_readiness\",\n      headers: {\n        apikey: $env.SUPABASE_SERVICE_ROLE_KEY,\n        Authorization: \"Bearer \" + $env.SUPABASE_SERVICE_ROLE_KEY,\n        \"Content-Type\": \"application/json\",\n      },\n      body: { p_booking_id: input.booking.id },\n      json: true,\n      returnFullResponse: true,\n    });\n    roomAccessReadiness = readinessResponse?.body ?? readinessResponse ??\n      roomAccessReadiness;\n  } catch (_) {\n    roomAccessReadiness = {\n      ready: false,\n      blockers: [\"readiness_unknown\"],\n    };\n  }\n}\ninput.room_access_readiness = roomAccessReadiness;\n\nlet geminiText = \"\";\ntry {\n  geminiText = rawGemini.candidates[0].content.parts[0].text;\n} catch (e) {\n  geminiText = \"{}\";\n}\n\n// Clean markdown code blocks if any\nconst bt = String.fromCharCode(96);\nconst bt3 = bt + bt + bt;\nif (geminiText.startsWith(bt3 + \"json\")) {\n  geminiText = geminiText.substring(7);\n} else if (geminiText.startsWith(bt3)) {\n  geminiText = geminiText.substring(3);\n}\nif (geminiText.endsWith(bt3)) {\n  geminiText = geminiText.substring(0, geminiText.length - 3);\n}\ngeminiText = geminiText.trim();\n\nlet parsed = {};\ntry {\n  parsed = JSON.parse(geminiText);\n} catch (e) {\n  parsed = {\n    reply_text: \"...\",\n    inferred_intent: input.intent || \"safe_general_question\"\n  };\n}\n\nlet phase5_memory_actions = Array.isArray(input.phase5_memory_actions) ? [...input.phase5_memory_actions] : [];\nif (input.test_context?.mock_delayed_checkin) {\n  parsed.internal_ops_alert = \"cleaning_delayed_checkin\";\n  let subtype = input.test_context?.mock_subtype || \"cleaning_not_ready\";\n  if (input.guest_text === \"จะเข้าห้อง\") subtype = \"readiness_unknown\";\n  if (input.guest_text === \"อีกนานมั้ย\") subtype = \"cleaning_not_ready\";\n  if (input.guest_text === \"เข้าไปได้เลยมั้ย\") subtype = \"housekeeping_no_ack\";\n  if (input.test_context?.mock_send_mode) {\n    parsed.recommended_send_mode = input.test_context.mock_send_mode;\n    parsed.confidence_level = input.test_context.mock_send_mode === 'internal_now' ? 'low' : 'high';\n    parsed.suggested_sop_family = \"cleaning_delayed_checkin\";\n    parsed.risk_flags = input.test_context.mock_send_mode === 'internal_now' ? [\"authority_required\"] : [\"none\"];\n  }\n  if (input.test_context?.mock_reply_text) {\n    parsed.reply_text = input.test_context.mock_reply_text;\n  }\n  phase5_memory_actions = phase5_memory_actions.filter((action) => !['current_issue', 'current_issue_subtype'].includes(action?.field));\n  phase5_memory_actions.push(\n    { field: \"current_issue\", new_value: \"cleaning_delayed_checkin\", reasoning: \"Mocked delayed checkin\" },\n    { field: \"current_issue_subtype\", new_value: subtype }\n  );\n}\n\nconst phase3_guardrail = {\n  to: input.line_user_id || (input.actor ? input.actor.line_user_id : undefined),\n  text: parsed.reply_text || \"\",\n  ...parsed\n};\n\nreturn [{ json: { ...input, phase3_guardrail, phase5_memory_actions, ...parsed } }];"
        },
        "id": "p3-guest-005",
        "name": "Apply Phase3 guardrails",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          520,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = items[0].json;\n\n// --- INJECTED PHASE 5 FUNCTIONS ---\n/**\n * Phase 5 Slice 1 Guest Memory Extraction\n * \n * Deterministically extracts low-risk factual stay context from guest messages.\n * Guards high-risk truth by refusing to extract them casually.\n * \n * Returns a canonical write payload ready for DB persistence (RPC or DML).\n */\n\nfunction detectDisputeEscalationSubtype(text, currentMemory = {}) {\n    const raw = String(text ?? '').trim();\n    const normalized = raw.toLowerCase();\n\n    // First check negative controls explicitly to avoid false positives\n    const isNegativeControl = \n        /ปกติมัดจำคืนเมื่อไหร่/i.test(normalized) ||\n        /ขอใบเสร็จ/i.test(normalized) ||\n        /ปกติเช็กเอาต์/i.test(normalized) ||\n        /ปกติเช็คเอาท์/i.test(normalized) ||\n        /เซเว่นอยู่ตรงไหน/i.test(normalized);\n    if (isNegativeControl) {\n        return null;\n    }\n\n    // 1. Negative Review or Social Threat\n    const hasReviewThreat = /(รีวิวแย่|รีวิว 1 ดาว|รีวิวประจาน|จะรีวิว|1 ดาว|ดิสเครดิต|ประจาน|social|post facebook|ลงเฟส|ลงกลุ่ม)/i.test(normalized);\n    if (hasReviewThreat) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"negative_review_or_social_threat\",\n            emotional_signal: \"threatening\",\n            authority_escalation: \"review_threat\",\n            risk_flags: [\"money\", \"threat\"],\n            recommended_mode: \"internal_now\"\n        };\n    }\n\n    // 2. Fraud or Scam Accusation\n    const hasFraudAccusation = /(โกง|หลอกลวง|ต้มตุ๋น|scam|fraud|cheat)/i.test(normalized);\n    if (hasFraudAccusation) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"deposit_refund_dispute\",\n            emotional_signal: \"angry\",\n            authority_escalation: \"money_dispute\",\n            risk_flags: [\"money\", \"accusation\"],\n            recommended_mode: \"internal_now\"\n        };\n    }\n\n    // 3. Legal or Platform Escalation\n    const hasLegalAuthority = /(ฟ้อง|ดำเนินคดี|ตำรวจ|แจ้งความ|legal|lawsuit)/i.test(normalized);\n    const mentionsPlatform = /(booking\\.com|agoda|airbnb|platform)/i.test(normalized);\n    const hasPlatformEscalation = mentionsPlatform &&\n        /(แจ้ง|ร้องเรียน|คอมเพลน|ฟ้อง|ดำเนินคดี|เอาเรื่อง|รีพอร์ต|report|complain|claim|ไม่จบ|ถ้าไม่|จะ)/i.test(normalized) &&\n        !/(จองผ่าน|จองจาก|จองใน|จองทาง|booking channel|booked through)/i.test(normalized);\n    if (hasLegalAuthority || hasPlatformEscalation) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"legal_or_platform_escalation\",\n            emotional_signal: \"angry\",\n            authority_escalation: \"legal_platform\",\n            risk_flags: [\"legal\", \"platform\"],\n            recommended_mode: \"internal_now\"\n        };\n    }\n\n    // 4. Owner or Manager Request\n    const hasOwnerManager = /(คุยกับเจ้าของ|คุยกับผู้จัดการ|ติดต่อเจ้าของ|ติดต่อผู้จัดการ|ขอสายเจ้าของ|ขอสายผู้จัดการ|ขอคุยกับเจ้าของ|ขอคุยกับผู้จัดการ|talk to manager|talk to owner|contact manager|contact owner)/i.test(normalized);\n    if (hasOwnerManager) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"owner_manager_request\",\n            emotional_signal: \"frustrated\",\n            authority_escalation: \"owner_manager\",\n            risk_flags: [\"authority_required\"],\n            recommended_mode: \"internal_now\"\n        };\n    }\n\n    // 5. Compensation Request\n    const hasCompensation = /(ชดเชย|ค่าเสียเวลา|เยียวยา|ลดราคา|ส่วนลด|compensation|discount)/i.test(normalized);\n    if (hasCompensation) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"compensation_request\",\n            emotional_signal: \"frustrated\",\n            authority_escalation: \"money_dispute\",\n            risk_flags: [\"money\", \"compensation\"],\n            recommended_mode: \"internal_now\"\n        };\n    }\n\n    // 6. Refund Request\n    const hasRefund = /(คืนเงิน|ขอคืน|โอนคืน|refund)/i.test(normalized);\n    if (hasRefund) {\n        const isDepositDispute = /(มัดจำ|deposit)/i.test(normalized);\n        const isCalm = /ครับ|ค่ะ|คะ|รบกวน|สอบถาม/i.test(normalized) && !/(เดี๋ยวนี้|ทันที|โกง|แย่|ช้า|ไม่พอใจ)/i.test(normalized);\n        \n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: isDepositDispute ? \"deposit_refund_dispute\" : \"refund_request\",\n            emotional_signal: isCalm ? \"calm\" : \"angry\",\n            authority_escalation: \"money_dispute\",\n            risk_flags: isCalm ? [\"money\"] : [\"money\", \"refund\"],\n            recommended_mode: isCalm ? \"draft_only\" : \"internal_now\"\n        };\n    }\n\n    // 7. Angry Complaint\n    const hasAngryComplaint = /(แย่มาก|ห่วย|ช้ามาก|รอนาน|โมโห|หงุดหงิด|ไม่พอใจ|แย่|angry|disappointed|unacceptable)/i.test(normalized);\n    if (hasAngryComplaint) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"angry_complaint\",\n            emotional_signal: \"angry\",\n            authority_escalation: \"out_of_sop\",\n            risk_flags: [\"angry\"],\n            recommended_mode: \"internal_now\"\n        };\n    }\n\n    // 8. General Deposit/Money Calm Questions (Account specific)\n    const isCalmDepositQuery = /(เงินมัดจำ|มัดจำ).*?(เมื่อไหร่|กี่โมง|ตอนไหน|โอนคืน)/i.test(normalized) && \n        (/(ของผม|ของฉัน|ของเค้า|หนู|เรา|my)/i.test(normalized) || !/ปกติ/i.test(normalized));\n    if (isCalmDepositQuery) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"deposit_refund_dispute\",\n            emotional_signal: \"calm\",\n            authority_escalation: \"money_dispute\",\n            risk_flags: [\"money\"],\n            recommended_mode: \"draft_only\"\n        };\n    }\n\n    return null;\n}\n\nfunction evaluateDisputeSendMode(dispute, guestText, currentMemory = {}) {\n    if (!dispute) {\n        return { send_mode: 'safe_auto', reason: 'non_dispute_factual_policy' };\n    }\n    \n    const riskFlags = dispute.risk_flags || [];\n    const subtype = dispute.issue_subtype;\n    const emotional = dispute.emotional_signal;\n\n    const isHighRisk = \n        emotional === 'angry' || \n        emotional === 'threatening' || \n        subtype === 'negative_review_or_social_threat' || \n        subtype === 'legal_or_platform_escalation' || \n        subtype === 'owner_manager_request' || \n        riskFlags.includes('threat') || \n        riskFlags.includes('accusation') ||\n        riskFlags.includes('refund') ||\n        riskFlags.includes('compensation') ||\n        riskFlags.includes('legal');\n\n    if (isHighRisk) {\n        return { send_mode: 'internal_now', reason: `dispute_high_risk_${subtype}_${emotional}` };\n    }\n\n    if (subtype === 'deposit_refund_dispute' || subtype === 'refund_request' || riskFlags.includes('money')) {\n        return { send_mode: 'draft_only', reason: `dispute_calm_account_specific_money` };\n    }\n\n    return { send_mode: 'internal_now', reason: `dispute_default_escalation` };\n}\n\nfunction detectCheckoutExtensionSubtype(text, currentMemory = {}) {\n    const activeIssue = currentMemory['current_issue'];\n    const isExtensionFollowUp = activeIssue?.value === 'checkout_extension_request' && !activeIssue.is_superseded;\n    const hasCheckoutContext = /(เช็กเอาต์|เช็คเอาท์|เช็กเอาท์|เช็คเอาต์|checkout|check out|ออกจากห้อง|คืนห้อง)/i.test(text);\n    const hasExplicitLateCue = /(ขอเลท|เลทเช็กเอาต์|เลทเช็คเอาท์|เลทเช็กเอาท์|เลทเช็คเอาต์|ขอออกเลท|ออกเลท|เลทได้ไหม|เลทได้มั้ย)/i.test(text);\n    const hasLateTimeCue = /(บ่ายสอง|บ่ายโมง|เที่ยงครึ่ง|ออกบ่าย)/i.test(text);\n    const isPolicyQuestion = /(เช็กเอาต์กี่โมง|เช็คเอาท์กี่โมง|เช็กเอาท์เวลา|เช็คเอาท์เวลา|เวลาเช็กเอาต์|เวลาเช็คเอาท์|ปกติเช็กเอาต์|ปกติเช็คเอาท์|ออกกี่โมง)/i.test(text) &&\n        !/(เลท|ขอออก)/i.test(text);\n    const isLateCheckout = hasExplicitLateCue || (hasCheckoutContext && hasLateTimeCue) || (isExtensionFollowUp && hasLateTimeCue);\n    const isStayExtension = /(อยู่ต่อ|อีกคืน|พักต่อ|จองต่อ|เพิ่มอีก|คืนนี้ต่อ|ต่อห้อง)/i.test(text);\n    const isPricingFollowUp = /(คิดเพิ่มเท่าไหร่|ขอฟรีได้ไหม|ไม่จ่ายเพิ่ม|ถ้าไม่ได้จะขอคืนเงิน|ฟรีได้ไหม|คิดเท่าไหร่|เท่าไหร่|กี่บาท)/i.test(text);\n\n    if (isStayExtension) return 'stay_extension_request';\n    if (isLateCheckout) return 'late_checkout_request';\n    if (isPolicyQuestion) return 'checkout_policy_question';\n    if (isExtensionFollowUp && isPricingFollowUp) {\n        return currentMemory['current_issue_subtype']?.value || 'checkout_policy_question';\n    }\n    return null;\n}\n\nfunction extractMemory(message, currentMemory = {}, liveTruth = {}) {\n    const text = message.text || '';\n    const messageId = message.id || 'unknown';\n    const timestamp = message.timestamp || new Date().toISOString();\n    const actor = message.sender === 'system' ? 'system_extraction' : 'guest_extraction';\n\n    const memory_actions = [];\n    const ignored_actions = [];\n\n    // Use a map to accumulate field updates before pushing\n    const pendingUpdates = new Map();\n\n    const recordUpdate = (field, value, confidence = 'high') => {\n        const existing = currentMemory[field];\n        \n        if (field === 'local_needs_hints') {\n            let currentArr = pendingUpdates.has(field) \n                ? pendingUpdates.get(field).new_value \n                : (existing?.value || []);\n                \n            if (!currentArr.includes(value)) {\n                pendingUpdates.set(field, {\n                    action: 'insert_and_supersede',\n                    field,\n                    new_value: [...currentArr, value],\n                    confidence,\n                    source_message_id: messageId,\n                    actor,\n                    timestamp,\n                    supersedes_memory_id: existing?.id || null,\n                    old_value: existing?.value || null\n                });\n            }\n            return;\n        }\n        \n        if (!existing || existing.value !== value) {\n            pendingUpdates.set(field, {\n                action: 'insert_and_supersede',\n                field,\n                new_value: value,\n                confidence,\n                source_message_id: messageId,\n                actor,\n                timestamp,\n                supersedes_memory_id: existing?.id || null,\n                old_value: existing?.value || null\n            });\n        }\n    };\n\n    // Helper to log ignored high-risk extraction attempts\n    const recordIgnored = (field, reason) => {\n        ignored_actions.push({\n            field,\n            source_message_id: messageId,\n            reason\n        });\n    };\n\n    const recordSupersedeOnly = (field, reason) => {\n        const existing = currentMemory[field];\n        if (!existing || existing.is_superseded) return;\n        pendingUpdates.set(field, {\n            action: 'mark_superseded',\n            field,\n            reason,\n            confidence: existing.confidence || 'medium',\n            source_message_id: messageId,\n            actor,\n            timestamp,\n            supersedes_memory_id: existing.id || null,\n            old_value: existing.value ?? null\n        });\n    };\n\n    // 1. Travel Mode\n    const mentionsTaxi = /(แท็กซี่|taxi|แกรป|grab|bolt)/i.test(text);\n    const mentionsCar = /(ขับรถ|นั่งรถ|รถส่วนตัว|เอารถมา)/.test(text);\n    const correctsAwayFromCar = /(บอกผิด|ไม่ได้เอารถ|ไม่เอารถ|เปลี่ยนใจ|เรียกแท็กซี่|นั่งแท็กซี่)/i.test(text);\n    if (mentionsTaxi && (correctsAwayFromCar || !mentionsCar)) {\n        recordUpdate('travel_mode', 'taxi');\n    } else if (mentionsCar) {\n        recordUpdate('travel_mode', 'car');\n    }\n\n    // 2. Parking Mode\n    if (text.match(/(จอดรถ|ที่จอดรถ|ลานจอด)/)) {\n        recordUpdate('parking_mode', 'needs_parking');\n    }\n\n    // 3. Current Location Hint\n    if (text.match(/(ถึงหน้าตึก|ถึงคอนโด|อยู่หน้าตึก|ถึงแล้ว)/)) {\n        recordUpdate('current_location_hint', 'at_building');\n    } else if (text.match(/(กำลังเดินทาง|กำลังไป|บนรถ|ออกเดินทาง)/)) {\n        recordUpdate('current_location_hint', 'on_the_way');\n    } else if (text.match(/(ยังไม่ออกเดินทาง|ยังไม่ไป|ยังอยู่บ้าน|อยู่บ้าน)/)) {\n        recordUpdate('current_location_hint', 'not_departed');\n    } else if (text.match(/(คอสโม|cosmo|เดินห้าง|เดินเล่นในห้าง|เดินตลาด)/i)) {\n        recordUpdate('current_location_hint', 'in_cosmo');\n    } else if (text.match(/(อยู่ในห้อง|ขึ้นห้องแล้ว)/)) {\n        recordUpdate('current_location_hint', 'in_room');\n    } else if (text.match(/(อยู่ข้างนอก|ไม่แน่ใจ|ไม่รู้)/)) {\n        recordUpdate('current_location_hint', 'unknown');\n    }\n\n    // 4. Arrival / Check-in / Check-out state\n    if (text.match(/(รอเช็คอิน|เช็คอินได้ไหม|เข้าห้องได้หรือยัง)/)) {\n        recordUpdate('arrival_state', 'waiting_to_check_in');\n    } else if (text.match(/(เข้าห้องแล้ว|เช็คอินแล้ว|เปิดประตูแล้ว)/)) {\n        recordUpdate('check_in_state', 'checked_in');\n    } else if (text.match(/(เช็คเอาท์|ออกแล้ว|คืนห้อง|จะออกแล้ว)/)) {\n        recordUpdate('check_out_state', 'checking_out');\n    }\n\n    // 5. Local Needs Hints\n    if (text.match(/(หิว|ร้านอาหาร|ของกิน|กินข้าว)/)) {\n        recordUpdate('local_needs_hints', 'food');\n    }\n    if (text.match(/(เซเว่น|seven|7-11)/i)) {\n        recordUpdate('local_needs_hints', 'seven_eleven');\n    }\n\n    // 6. Purpose / Event Hint\n    if (text.match(/(คอนเสิร์ต|concert|ดูคอน)/i)) {\n        recordUpdate('purpose_context', 'concert');\n    } else if (text.match(/(มาสอบ|เตรียมสอบ|ห้องสอบ)/)) {\n        recordUpdate('purpose_context', 'exam');\n    } else if (text.match(/(มาทำงาน|สัมมนา|ประชุม)/)) {\n        recordUpdate('purpose_context', 'work');\n    }\n\n    // High-Risk Guard: Explicitly map high-risk terms to ignored bucket\n    if (text.match(/(ชื่อผู้จอง|เจ้าของห้อง|เปลี่ยนชื่อ)/)) {\n        recordIgnored('booking_identity', 'booking_identity is a high-risk field and requires stronger evidence or Internal Ops action.');\n    }\n    \n    if (text.match(/(จ่ายเงิน|โอนเงิน|5000|สลิป)/)) {\n        recordIgnored('payment_status', 'payment_status is a high-risk field and requires explicit Internal Ops or system verification.');\n    }\n\n    if (text.match(/(ขอรหัส|เปิดประตูให้หน่อย|รหัสห้อง)/)) {\n        recordIgnored('room_access', 'room_access is safety-critical and must pass standard safety gates, not casual memory update.');\n    }\n\n    // 7. Service Recovery: Room Access Problem\n    // Detect operational blockers for entering the room/building.\n    // Explicitly exclude ordinary questions like \"ขึ้นห้องยังไงครับ\" that don't indicate a problem.\n    const isOrdinaryQuestion = /(ยังไง|อย่างไร|วิธี|ขั้นตอน|กี่โมง|เมื่อไหร่)\\b/i.test(text) && !/(เข้าไม่ได้|เปิดไม่ได้|ไปต่อไม่ได้|ไม่เจอ|หาไม่เจอ|หลง|ติด|stuck)/i.test(text);\n    \n    let accessProblemSubtype = null;\n    \n    if (!isOrdinaryQuestion) {\n        if (/(เข้าไม่ได้|ไปต่อไม่ได้|เข้าตึกไม่ได้).*?(ตึก|อาคาร|หน้าตึก)/i.test(text) || /(stuck.*building|stuck.*ตึก)/i.test(text)) {\n            accessProblemSubtype = 'stuck_at_building';\n        } else if (/(หาทางเข้าไม่เจอ|หลง|ทางเข้า.*อยู่ไหน|ไปทางไหนต่อ)/i.test(text)) {\n            accessProblemSubtype = 'cannot_find_building_path';\n        } else if (/(ไม่เจอกุญแจ|กุญแจอยู่ไหน|หากุญแจไม่เจอ|หาคีย์การ์ดไม่เจอ|ไม่มีกุญแจ)/i.test(text) || (text.match(/หาไม่เจอ/i) && !text.match(/ทาง/))) {\n            accessProblemSubtype = 'cannot_find_key';\n        } else if (/(เปิดห้องไม่ได้|เปิดประตูไม่ได้|รหัสผิด|รหัสกดไม่ได้|เข้าห้องไม่ได้|เปิดไม่ออก)/i.test(text) || (text.match(/เปิดไม่ได้/i))) {\n            accessProblemSubtype = 'cannot_open_room';\n        } else if (/(ส่งวิธีขึ้นห้องอีกที|ขอวิธีเข้าห้องหน่อย|ส่งวิธี.*ให้หน่อย|ยังไม่ได้.*วิธี)/i.test(text) && /(ไปต่อไม่ได้|เข้าไม่ได้|หาไม่เจอ)/i.test(text)) {\n            accessProblemSubtype = 'needs_access_resend';\n        } else if (/(เข้าไม่ได้|ไปต่อไม่ได้)/i.test(text) && text.match(/หน้าตึก/i)) {\n            accessProblemSubtype = 'stuck_at_building';\n        }\n    }\n\n    if (accessProblemSubtype) {\n        recordUpdate('current_issue', 'room_access_problem');\n        recordUpdate('current_issue_subtype', accessProblemSubtype);\n    }\n\n    // Maintenance issues are operational problems and should replace any\n    // older dispute/access issue as the active guest concern for follow-ups.\n    let maintenanceSubtype = null;\n    if (/(แอร์ไม่เย็น|แอร์เสีย|เครื่องปรับอากาศไม่เย็น)/i.test(text)) {\n        maintenanceSubtype = 'aircon_not_cooling';\n    } else if (/(น้ำหยด|น้ำรั่ว|ท่อน้ำรั่ว)/i.test(text)) {\n        maintenanceSubtype = 'water_leak';\n    } else if (/(ไฟดับ|ไฟไม่ติด|ปลั๊กเสีย)/i.test(text)) {\n        maintenanceSubtype = 'electrical_issue';\n    }\n    if (maintenanceSubtype) {\n        recordUpdate('current_issue', 'maintenance_problem');\n        recordUpdate('current_issue_subtype', maintenanceSubtype);\n    }\n\n    // Phase 5 Slice 4: Delayed Check-in Detection\n    const isCheckinIntent = /(เช็กอิน|เช็คอิน|พร้อมแล้ว|เข้าไปได้เลย|ขึ้นห้อง|ห้องพร้อม|จะเข้าห้อง|เข้าห้อง|หน้าตึก|หน้าอาคาร|ถึงตึก|ถึงอาคาร|อยู่ตึก)/i.test(text);\n    const isAccessInstructionQuestion = /(ขึ้นห้อง|เข้าห้อง|เข้าอาคาร|เข้าตึก).*?(ยังไง|อย่างไร|วิธี|ขั้นตอน)/i.test(text);\n    const isCheckinPolicyQuestion = /(เช็กอิน|เช็คอิน|check.?in).*?(กี่โมง|เวลา|เมื่อไหร่|ตอนไหน|when)/i.test(text);\n    if (isCheckinIntent && !isAccessInstructionQuestion && !isCheckinPolicyQuestion && !accessProblemSubtype && !/(ขอเช็คอินก่อน|late checkout|early check|เช็คเอาท์|ออกแล้ว)/i.test(text)) {\n        const blocker = resolveDelayedCheckinBlocker(liveTruth);\n        if (blocker) {\n            recordUpdate('current_issue', 'cleaning_delayed_checkin');\n            recordUpdate('current_issue_subtype', blocker);\n        }\n    }\n\n    // Phase 5 Slice 5: Checkout / Stay Extension\n    const checkoutExtensionSubtype = detectCheckoutExtensionSubtype(text, currentMemory);\n\n    if (checkoutExtensionSubtype) {\n        recordUpdate('current_issue', 'checkout_extension_request');\n        recordUpdate('current_issue_subtype', checkoutExtensionSubtype);\n    }\n\n    // Phase 5 Slice 6: Dispute Detection\n    const dispute = detectDisputeEscalationSubtype(text, currentMemory);\n    if (dispute) {\n        const pendingIssue = pendingUpdates.get('current_issue')?.new_value;\n        const pendingSubtype = pendingUpdates.get('current_issue_subtype')?.new_value;\n        const preserveOperationalBlocker =\n            pendingIssue === 'cleaning_delayed_checkin' &&\n            dispute.issue_subtype === 'angry_complaint' &&\n            pendingSubtype &&\n            !/(คืนเงิน|ขอคืน|ชดเชย|รีวิว|ฟ้อง|booking\\.com|agoda|airbnb|เจ้าของ|ผู้จัดการ|โกง)/i.test(text);\n        if (!preserveOperationalBlocker) {\n            recordUpdate('current_issue', 'guest_dispute_escalation');\n            recordUpdate('current_issue_subtype', dispute.issue_subtype);\n        }\n        recordUpdate('emotional_signal', dispute.emotional_signal);\n        recordUpdate('authority_escalation', dispute.authority_escalation);\n    }\n\n    const hasPendingIssue = pendingUpdates.has('current_issue');\n    const activeIssue = currentMemory['current_issue'];\n    const hasActiveOperationalIssue = activeIssue &&\n        !activeIssue.is_superseded &&\n        [\n            'room_access_problem',\n            'cleaning_delayed_checkin',\n            'checkout_extension_request',\n            'guest_dispute_escalation',\n            'maintenance_problem'\n        ].includes(activeIssue.value);\n    const isShortIssueFollowUp = /^(ไม่ได้|ยังไม่ได้|อีกนาน|แล้วไง|เมื่อกี้|อันนั้น|ยัง|ทำไง|ช่วยดู|ไม่หาย|เหมือนเดิม)/i.test(text.trim());\n    const isClearTopicShift =\n        !isShortIssueFollowUp &&\n        !hasPendingIssue &&\n        (\n            /(หิว|ร้านอาหาร|ของกิน|กินข้าว|เซเว่น|seven|7-11|ฟิตเนส|สระว่ายน้ำ|เพลง|ฝน|รถติด|เส้นทาง|แผนที่|ร้านขายยา|jett|cosmo)/i.test(text) ||\n            /(บอกผิด|ไม่ได้เอารถ|ไม่เอารถ|เรียกแท็กซี่|นั่งแท็กซี่|แท็กซี่|taxi|grab|bolt)/i.test(text)\n        ) &&\n        !/(เข้าไม่ได้|เข้าตึกไม่ได้|เข้าห้องไม่ได้|เปิดไม่ได้|เปิดไม่ออก|ไม่เจอ|หาไม่เจอ|คืนเงิน|รีวิว|ฟ้อง|booking\\.com|เจ้าของ|ผู้จัดการ|โกง|แอร์ไม่เย็น|แอร์เสีย|น้ำรั่ว|ไฟดับ)/i.test(text);\n\n    if (hasActiveOperationalIssue && isClearTopicShift) {\n        recordSupersedeOnly('current_issue', 'guest clearly shifted to a non-issue topic');\n        recordSupersedeOnly('current_issue_subtype', 'guest clearly shifted to a non-issue topic');\n    }\n\n    pendingUpdates.forEach(update => {\n        memory_actions.push(update);\n    });\n\n    return {\n        memory_actions,\n        ignored_actions\n    };\n}\n\n/**\n * Phase 5 Slice 4: Resolve operational blocker for delayed check-in\n */\nfunction resolveDelayedCheckinBlocker(liveTruth) {\n    if (!liveTruth || !liveTruth.room_status) {\n        return 'readiness_unknown';\n    }\n    const cleaningStatus = liveTruth.room_status.cleaning_status;\n    if (!cleaningStatus || !['clean', 'dirty', 'in_progress'].includes(cleaningStatus)) {\n        return 'readiness_unknown';\n    }\n    if (cleaningStatus !== 'clean') {\n        if (liveTruth.cleaning_task?.dispatch_status === 'sent' && !liveTruth.cleaning_task?.acknowledged_at && liveTruth.cleaning_task?.priority === 'urgent') {\n            return 'housekeeping_no_ack';\n        }\n        return 'cleaning_not_ready';\n    }\n    const accessPrepStatus = liveTruth.access_prep?.status;\n    if (accessPrepStatus !== 'complete') {\n        return 'access_prep_incomplete';\n    }\n    return null;\n}\n\n/**\n * Phase 5 Slice 1 Guest Memory Retrieval Core\n * \n * Retrieves active-stay context based on guest intent, combining raw chat\n * evidence and structured memory without dumping all memory into the prompt.\n */\n\nfunction buildRetrievalContext(intent, rawChatContext, structuredMemory, staySummary = null) {\n    const MAX_RAW_CHAT_MESSAGES = 10;\n    \n    // 1. Always prioritize raw recent chat evidence if it's short\n    const recentChat = rawChatContext.slice(-MAX_RAW_CHAT_MESSAGES);\n    const contextLines = [];\n    \n    contextLines.push('--- RECENT CHAT EVIDENCE ---');\n    recentChat.forEach(msg => {\n        contextLines.push(`[${msg.sender.toUpperCase()}]: ${msg.text}`);\n    });\n    \n    // 2. Select structured memory fields based on intent\n    const relevantMemoryFields = [];\n    \n    const latestGuestText = [...recentChat].reverse().find((msg) => msg.sender === 'guest')?.text ?? '';\n    const isShortIssueFollowUp = intent === 'general_chat' &&\n        /^(ไม่ได้|ยังไม่ได้|อีกนาน|แล้วไง|เมื่อกี้|อันนั้น|ยัง|ทำไง|ช่วยดู|ไม่หาย|เหมือนเดิม)/i.test(String(latestGuestText).trim());\n    const issueAwareIntent = intent === 'arrival_access' || intent === 'service_recovery' || isShortIssueFollowUp;\n\n    // Elevate current_issue only when the current turn still needs issue context.\n    if (issueAwareIntent && structuredMemory['current_issue'] && !structuredMemory['current_issue'].is_superseded) {\n        if (!relevantMemoryFields.includes('current_issue')) relevantMemoryFields.push('current_issue');\n        if (!relevantMemoryFields.includes('current_issue_subtype')) relevantMemoryFields.push('current_issue_subtype');\n    }\n    \n    if (intent === 'arrival_access') {\n        relevantMemoryFields.push('travel_mode', 'parking_mode', 'arrival_state', 'check_in_state', 'current_location_hint', 'room', 'room_access_readiness');\n    } else if (intent === 'local_guidance') {\n        relevantMemoryFields.push('current_location_hint', 'local_needs_hints', 'purpose_context', 'special_notes');\n    } else if (intent === 'service_recovery') {\n        relevantMemoryFields.push('room', 'check_in_state', 'emotional_signal');\n    } else if (intent === 'general_chat') {\n        // Just the basics\n        relevantMemoryFields.push('current_location_hint');\n    } else {\n        // Fallback for unknown intent\n        relevantMemoryFields.push('arrival_state', 'check_in_state');\n    }\n    \n    // 3. Assemble structured memory block\n    const memorySubset = {};\n    for (const field of relevantMemoryFields) {\n        if (structuredMemory[field] && !structuredMemory[field].is_superseded) {\n            memorySubset[field] = structuredMemory[field].value;\n        }\n    }\n    \n    if (Object.keys(memorySubset).length > 0) {\n        contextLines.push('');\n        contextLines.push('--- RELEVANT STAY MEMORY ---');\n        for (const [k, v] of Object.entries(memorySubset)) {\n            // Flatten arrays for readable context\n            const displayValue = Array.isArray(v) ? v.join(', ') : v;\n            contextLines.push(`- ${k}: ${displayValue}`);\n        }\n    }\n    \n    // 4. Include Stay Summary if raw chat is truncated or intent demands deep context\n    // Usually triggered if total chat > 50 messages, represented here by staySummary existence\n    if (staySummary && (rawChatContext.length > MAX_RAW_CHAT_MESSAGES || intent === 'service_recovery')) {\n        contextLines.push('');\n        contextLines.push('--- STAY SUMMARY ---');\n        contextLines.push(staySummary.summary_text);\n    }\n    \n    return contextLines.join('\\n');\n}\n/**\n * Phase 5 Slice 1 Stay Summary Generation Logic\n * \n * Evaluates whether an active stay requires a new or refreshed summary\n * based on conversation length thresholds.\n */\n\nconst SUMMARY_THRESHOLD_INITIAL = 50;\nconst SUMMARY_THRESHOLD_REFRESH = 20;\n\nfunction evaluateSummaryTrigger(rawChatContext, existingSummary = null) {\n    const messageCount = rawChatContext.length;\n\n    if (!existingSummary) {\n        if (messageCount >= SUMMARY_THRESHOLD_INITIAL) {\n            return {\n                action: 'create_summary',\n                message_count_at_generation: messageCount,\n                instruction: 'Summarize the entire conversation history. Focus on guest needs, issues, and sentiment.'\n            };\n        }\n    } else {\n        const diff = messageCount - existingSummary.message_count_at_generation;\n        if (diff >= SUMMARY_THRESHOLD_REFRESH) {\n            return {\n                action: 'refresh_summary',\n                message_count_at_generation: messageCount,\n                instruction: 'Update the existing summary with the latest context. Retain old critical issues.'\n            };\n        }\n    }\n\n    return {\n        action: 'skip',\n        reason: 'threshold_not_met'\n    };\n}\n\nfunction normalizePolicyText(value) {\n    return String(value ?? '').trim().toLowerCase();\n}\n\nfunction hasDelayedCheckinAuthorityEscalation(text) {\n    return /(คืนเงิน|refund|ชดเชย|โกง|ฟ้อง|ผู้จัดการ|manager|เจ้าของ|รับผิดชอบ|ยกเลิกการจอง|cancel booking)/i.test(text);\n}\n\nfunction hasDelayedCheckinTimingPressure(text) {\n    return /(อีกกี่นาที|อีกนานไหม|อีกนานมั้ย|เมื่อไหร่จะพร้อม|กี่โมงจะพร้อม|ตอนไหนจะพร้อม|พร้อมเมื่อไหร่|เสร็จหรือยัง|รอนานมาก|นานเกินไป)/i.test(text);\n}\n\nfunction evaluateDelayedCheckinPolicy({ guestText, blocker, currentMode = 'safe_auto' }) {\n    const text = normalizePolicyText(guestText);\n\n    if (currentMode === 'internal_now') {\n        return { send_mode: 'internal_now', reason: 'existing_internal_now' };\n    }\n\n    if (hasDelayedCheckinAuthorityEscalation(text)) {\n        return { send_mode: 'internal_now', reason: 'cleaning_delayed_checkin_authority_bound_escalation' };\n    }\n\n    if (blocker === 'readiness_unknown') {\n        return { send_mode: 'draft_only', reason: 'cleaning_delayed_checkin_unknown_truth' };\n    }\n\n    if (currentMode === 'draft_only') {\n        return { send_mode: 'draft_only', reason: 'existing_draft_only' };\n    }\n\n    if (hasDelayedCheckinTimingPressure(text)) {\n        return { send_mode: 'draft_only', reason: 'cleaning_delayed_checkin_needs_timing_review' };\n    }\n\n    return { send_mode: 'safe_auto', reason: 'cleaning_delayed_checkin_safe_holding_reply' };\n}\n\nfunction buildDelayedCheckinHoldingReply(blocker) {\n    switch (blocker) {\n        case 'housekeeping_no_ack':\n            return 'ตอนนี้ห้องยังไม่พร้อมเข้าพักนะคะ ทางทีมกำลังเร่งประสานงานให้ค่ะ รบกวนรอสักครู่นะคะ';\n        case 'access_prep_incomplete':\n            return 'ตอนนี้ห้องยังไม่พร้อมเข้าพักนะคะ กำลังตรวจสอบความพร้อมให้เรียบร้อยก่อนค่ะ รบกวนรอสักครู่นะคะ';\n        case 'cleaning_not_ready':\n            return 'ตอนนี้ห้องยังไม่พร้อมเข้าพักนะคะ ทางทีมกำลังเตรียมห้องให้ค่ะ รบกวนรอสักครู่นะคะ';\n        case 'readiness_unknown':\n            return 'ตอนนี้กำลังตรวจสอบความพร้อมของห้องให้อยู่นะคะ รบกวนรอสักครู่นะคะ';\n        default:\n            return 'ตอนนี้กำลังตรวจสอบความพร้อมของห้องให้อยู่นะคะ รบกวนรอสักครู่นะคะ';\n    }\n}\n\nfunction hasUnsafeDelayedCheckinReadyWording(text) {\n    return /(ขึ้นห้องได้เลย|เข้าห้องได้เลย|ห้องเปิดไว้|กุญแจวางอยู่ในห้อง|กุญแจอยู่ในห้อง|ห้องพร้อมแล้ว|เข้าไปได้เลย)/i.test(String(text ?? ''));\n}\n\n/**\n * Phase 5 Slice 3: Deterministic Policy Gate\n * \n * Enforces safe boundaries over LLM's recommended send mode.\n */\nfunction evaluateSendMode(aiUnderstanding, intent) {\n    const riskFlags = Array.isArray(aiUnderstanding.risk_flags) ? aiUnderstanding.risk_flags : [];\n    const hasRisk = riskFlags.some(flag => flag !== 'none' && flag !== '');\n\n    // 1 (Highest): Risk flags present\n    if (hasRisk) {\n        const hasHighRiskFlags = riskFlags.some(flag => ['threat', 'accusation', 'legal', 'platform', 'authority_required', 'angry', 'refund', 'compensation'].includes(flag));\n        if (riskFlags.includes('money') && !hasHighRiskFlags) {\n            return { send_mode: 'draft_only', reason: `calm_money_risk_draft_only` };\n        }\n        return { send_mode: 'internal_now', reason: `risk_flags_present: ${riskFlags.join(', ')}` };\n    }\n\n    // 2: Unknown SOP or intent\n    if (aiUnderstanding.suggested_sop_family === 'unknown' || intent === 'unknown_knowledge_gap') {\n        return { send_mode: 'internal_now', reason: 'unknown_sop_or_intent' };\n    }\n\n    // 3: Low confidence\n    if (aiUnderstanding.confidence_level === 'low') {\n        return { send_mode: 'internal_now', reason: 'low_confidence' };\n    }\n\n    // 4: Operational truth verification needed\n    const truthRequiringIntents = ['early_checkin_request', 'extension_interest', 'late_checkout_request', 'room_move_request', 'service_recovery', 'compensation_request'];\n    if (truthRequiringIntents.includes(intent) || aiUnderstanding.suggested_sop_family === 'service_recovery') {\n        return { send_mode: 'draft_only', reason: `operational_truth_required` };\n    }\n\n    // 5: Medium confidence\n    if (aiUnderstanding.confidence_level === 'medium') {\n        return { send_mode: 'draft_only', reason: 'medium_confidence' };\n    }\n\n    // 6 (Lowest): Safe Auto\n    return { send_mode: 'safe_auto', reason: 'low_risk_approved_sop' };\n}\n\nconst MAINTENANCE = [\n  [/แอร์.*(ไม่เย็น|เสีย|น้ำหยด|เสียงดัง)/, \"aircon_not_cooling\"],\n  [/(น้ำรั่ว|น้ำหยด|ท่อแตก)/, \"water_leak\"],\n  [/(ไฟดับ|ไฟไม่ติด)/, \"electrical_problem\"],\n  [/(ควัน|กลิ่นไหม้|ไฟไหม้)/, \"fire_or_smoke\"],\n];\n\nfunction buildGuestIncidentCandidate({\n  text,\n  conversationId,\n  bookingId,\n  roomId,\n  sourceEventId,\n  correlationId,\n  currentTopic,\n  activeIncidents,\n}) {\n  const raw = String(text ?? '').trim();\n  if (!raw) return null;\n\n  let issueFamily = null;\n  let issueSubtype = null;\n  let severity = \"normal\";\n\n  // 1. Check maintenance keywords\n  for (const [pattern, subtype] of MAINTENANCE) {\n    if (pattern.test(raw)) {\n      issueFamily = \"maintenance\";\n      issueSubtype = subtype;\n      if (subtype === \"fire_or_smoke\") {\n        severity = \"urgent\";\n      }\n      break;\n    }\n  }\n\n  // 2. Check memory actions via extractMemory\n  if (!issueFamily) {\n    const memResult = extractMemory({ text: raw, id: sourceEventId || 'unknown' }, {}, {});\n    const actions = memResult?.memory_actions || [];\n    const issueAction = actions.find(a => a.field === 'current_issue');\n    const subtypeAction = actions.find(a => a.field === 'current_issue_subtype');\n    if (issueAction && subtypeAction) {\n      issueFamily = issueAction.new_value;\n      issueSubtype = subtypeAction.new_value;\n\n      if (issueFamily === \"checkout_extension_request\" && issueSubtype === \"checkout_policy_question\") {\n        return null;\n      }\n\n      if (issueFamily === \"guest_dispute_escalation\") {\n        const emoAction = actions.find(a => a.field === 'emotional_signal');\n        const emo = emoAction ? emoAction.new_value : 'calm';\n        severity = (emo === 'angry' || emo === 'threatening' || ['negative_review_or_social_threat', 'legal_or_platform_escalation', 'owner_manager_request'].includes(issueSubtype)) ? 'urgent' : 'normal';\n      } else if (issueFamily === \"room_access_problem\") {\n        severity = \"urgent\";\n      } else if (issueFamily === \"cleaning_delayed_checkin\") {\n        severity = \"urgent\";\n      } else if (issueFamily === \"checkout_extension_request\") {\n        const isPricing = /(คิดเพิ่ม|จ่ายเพิ่ม|ฟรี|ไม่จ่ายเพิ่ม|คืนเงิน|เท่าไหร่|กี่บาท)/i.test(raw);\n        severity = isPricing ? \"urgent\" : \"high\";\n      }\n    }\n  }\n\n  // 3. Check ambiguous follow up with active incident\n  const isAmbiguous = /^(แล้วไง|อีกนานไหม|ยังไม่ได้|เมื่อกี้ล่ะ)$/i.test(raw);\n  if (!issueFamily && isAmbiguous && Array.isArray(activeIncidents)) {\n    const plausible = activeIncidents.filter(inc => inc.status !== \"resolved\" && inc.status !== \"closed\");\n    if (plausible.length === 1) {\n      issueFamily = plausible[0].issue_family;\n      issueSubtype = plausible[0].issue_subtype;\n      severity = plausible[0].severity || \"normal\";\n    }\n  }\n\n  if (issueFamily && issueSubtype) {\n    return {\n      source_surface: \"guest_oa\",\n      source_event_id: sourceEventId,\n      correlation_id: correlationId,\n      idempotency_key: `guest_oa:${sourceEventId}:${issueFamily}`,\n      conversation_id: conversationId,\n      booking_id: bookingId,\n      room_id: roomId,\n      issue_family: issueFamily,\n      issue_subtype: issueSubtype,\n      severity: severity,\n      latest_evidence_text: text,\n      requires_internal_ops: true,\n      requires_owner: true\n    };\n  }\n\n  return null;\n}\n\nfunction canAttachAmbiguousFollowUp(text, recentTurns, activeIncidents) {\n  const ambiguous = /^(แล้วไง|อีกนานไหม|ยังไม่ได้|เมื่อกี้ล่ะ)$/i.test(text.trim());\n  if (!ambiguous) return false;\n  if (!Array.isArray(activeIncidents)) return false;\n  const plausible = activeIncidents.filter((incident) => incident.status !== \"resolved\");\n  if (plausible.length !== 1) return false;\n  if (!Array.isArray(recentTurns) || recentTurns.length === 0) return false;\n  return recentTurns[0]?.incident_id === plausible[0].id;\n}\n\nconst plan = input.phase3_guardrail ?? input;\nconst originalModeDecision = evaluateSendMode(plan, input.intent);\nlet p5sendModeDecision = { ...originalModeDecision };\nconst phase5_memory_actions = input.phase5_memory_actions ?? [];\nconst promptJson = $(\"Build Gemini Prompt\").first()?.json ?? {};\nconst phase5_memory = promptJson.phase5_memory ?? {};\nconst guestTextForRouting = String(input.guest_text ?? '');\nconst hasFreshRoomAccessSignal =\n  phase5_memory_actions.some(a => a.field === 'current_issue' && a.new_value === 'room_access_problem') ||\n  /(เข้าห้องไม่ได้|เปิดห้องไม่ได้|เปิดประตูไม่ได้|เปิดไม่ออก|ยังเปิดไม่ออก|ไม่เจอกุญแจ|กุญแจอยู่ไหน|หากุญแจไม่เจอ|ไม่มีกุญแจ|เข้าตึกไม่ได้|หาทางเข้าไม่เจอ|หลงทางเข้า|ไปต่อไม่ได้|ติดอยู่หน้าตึก|ติดอยู่หน้าอาคาร)/i.test(guestTextForRouting);\nconst isRoomAccessProblem = hasFreshRoomAccessSignal;\nif (isRoomAccessProblem && p5sendModeDecision.send_mode === 'safe_auto') {\n    p5sendModeDecision = { send_mode: 'draft_only', reason: 'service_recovery_room_access_elevation' };\n}\n\nconst isDelayedCheckin = phase5_memory_actions.some(a => a.field === 'current_issue' && a.new_value === 'cleaning_delayed_checkin') || (phase5_memory?.current_issue?.value === 'cleaning_delayed_checkin' && !phase5_memory?.current_issue?.is_superseded);\nconst delayedCheckinSubtypeAction = phase5_memory_actions.find(a => a.field === 'current_issue_subtype');\nconst delayedCheckinSubtype = delayedCheckinSubtypeAction?.new_value ?? phase5_memory?.current_issue_subtype?.value ?? null;\nconst roomAccessReadiness = input.room_access_readiness ?? {\n  ready: false,\n  blockers: [\"readiness_unknown\"],\n};\nconst readinessBlockers = Array.isArray(roomAccessReadiness.blockers)\n  ? roomAccessReadiness.blockers\n  : [\"readiness_unknown\"];\nconst isAccessPrepIncomplete = Boolean(input.booking?.id) &&\n  roomAccessReadiness.ready !== true;\nif (isDelayedCheckin) {\n    p5sendModeDecision = evaluateDelayedCheckinPolicy({\n        guestText: guestTextForRouting,\n        blocker: delayedCheckinSubtype,\n        currentMode: p5sendModeDecision.send_mode,\n    });\n}\n\nconst checkoutExtensionSubtype = detectCheckoutExtensionSubtype(guestTextForRouting, phase5_memory);\nconst isCheckoutExtension = Boolean(checkoutExtensionSubtype);\n\nif (isCheckoutExtension) {\n    if (/(คิดเพิ่มเท่าไหร่|ขอฟรีได้ไหม|ไม่จ่ายเพิ่ม|ถ้าไม่ได้จะขอคืนเงิน|ฟรีได้ไหม|เท่าไหร่|กี่บาท)/i.test(guestTextForRouting)) {\n        p5sendModeDecision = { send_mode: 'internal_now', reason: 'checkout_extension_pricing_waiver_escalation' };\n    } else if (checkoutExtensionSubtype === 'late_checkout_request' || checkoutExtensionSubtype === 'stay_extension_request') {\n        p5sendModeDecision = { send_mode: 'draft_only', reason: 'checkout_extension_approval_required' };\n    } else if (checkoutExtensionSubtype === 'checkout_policy_question' && p5sendModeDecision.send_mode !== 'internal_now') {\n        // Keep safe_auto if it was safe_auto or let it be draft_only if model thought so\n        if (p5sendModeDecision.send_mode === 'safe_auto') {\n            p5sendModeDecision = { send_mode: 'safe_auto', reason: 'checkout_policy_factual_answer' };\n        }\n    }\n}\n\nconst dispute = detectDisputeEscalationSubtype(guestTextForRouting, phase5_memory);\nconst isDispute = Boolean(dispute);\nif (isDispute) {\n    const disputeMode = evaluateDisputeSendMode(dispute, guestTextForRouting, phase5_memory);\n    // Dispute routing is the deterministic final authority for Slice 6.\n    // This allows calm account-specific deposit questions to become drafts\n    // even if the model/risk gate was overly conservative.\n    p5sendModeDecision = disputeMode;\n}\nif (isRoomAccessProblem && !isDispute) {\n    p5sendModeDecision = { send_mode: 'draft_only', reason: 'service_recovery_room_access_elevation' };\n}\n\nconst phase5_stay_summary = promptJson.phase5_stay_summary ?? null;\nconst phase5_summary_decision = promptJson.phase5_summary_decision ?? { action: \"skip\" };\nconst assetsById = input.assets_by_id ?? {};\nconst images = [];\nfunction formatSummaryValue(value) {\n  const valueLabels = {\n    car: \"รถยนต์ส่วนตัว\",\n    taxi: \"แท็กซี่\",\n    taxi_grab: \"แท็กซี่/แอปเรียกรถ\",\n    public_transport: \"รถสาธารณะ\",\n    private_motorcycle: \"มอเตอร์ไซค์ส่วนตัว\",\n    motorbike_taxi: \"วินมอเตอร์ไซค์\",\n    not_departed: \"ยังไม่ออกเดินทาง\",\n    on_the_way: \"กำลังเดินทางมา\",\n    at_building: \"อยู่หน้าตึก\",\n    in_cosmo: \"อยู่แถว Cosmo\",\n    in_room: \"อยู่ในห้องแล้ว\",\n    waiting_to_check_in: \"รอเช็กอิน\",\n    checked_in: \"เช็กอินแล้ว\",\n    checking_out: \"กำลังเช็กเอาต์\",\n  };\n  if (Array.isArray(value)) return value.map((item) => formatSummaryValue(item)).join(\", \");\n  if (typeof value === \"string\" && valueLabels[value]) return valueLabels[value];\n  if (value === null || value === undefined || value === \"\") return \"-\";\n  return String(value);\n}\nfunction buildGeneratedStaySummary() {\n  if (phase5_summary_decision?.action !== \"create_summary\" && phase5_summary_decision?.action !== \"refresh_summary\") {\n    return null;\n  }\n  const roomCode = input.booking?.rooms?.room_code ?? input.stay_state?.room_code_snapshot ?? null;\n  const lines = [\"สรุปการเข้าพักล่าสุด\"];\n  if (roomCode) lines.push(\"- ห้อง \" + roomCode);\n  const summaryFields = [\n    [\"travel_mode\", \"การเดินทาง\"],\n    [\"parking_mode\", \"เรื่องที่จอดรถ\"],\n    [\"current_location_hint\", \"ตำแหน่งล่าสุด\"],\n    [\"arrival_state\", \"สถานะการมาถึง\"],\n    [\"check_in_state\", \"สถานะเช็กอิน\"],\n    [\"check_out_state\", \"สถานะเช็กเอาต์\"],\n    [\"local_needs_hints\", \"ความต้องการในพื้นที่\"],\n    [\"purpose_context\", \"บริบทการมาพัก\"],\n  ];\n  for (const [field, label] of summaryFields) {\n    const row = phase5_memory[field];\n    if (row && !row.is_superseded) {\n      lines.push(\"- \" + label + \": \" + formatSummaryValue(row.value));\n    }\n  }\n  if (typeof input.guest_text === \"string\" && input.guest_text.trim()) {\n    lines.push(\"- ข้อความล่าสุด: \" + input.guest_text.trim());\n  }\n  return lines.length > 1 ? lines.join(\"\\n\") : null;\n}\nfor (const action of plan.asset_actions ?? []) {\n  const runtimeUrl = action.runtime_media_url ?? action.originalContentUrl ?? assetsById[action.asset_id]?.runtime_media_url;\n  const previewUrl = action.previewImageUrl ?? assetsById[action.asset_id]?.preview_media_url ?? runtimeUrl;\n  if (runtimeUrl) {\n    images.push({ originalContentUrl: runtimeUrl, previewImageUrl: previewUrl });\n  }\n}\nconst followUpMessages = Array.isArray(plan.follow_up_messages) ? plan.follow_up_messages : [];\nlet texts = [plan.text, ...followUpMessages]\n  .filter((message) => typeof message === 'string')\n  .map((message) => message.trim())\n  .filter((message) => message);\nlet primaryText = texts[0] ?? (typeof plan.text === 'string' ? plan.text.trim() : '');\n\nif (isCheckoutExtension) {\n  let checkoutText = null;\n  if (checkoutExtensionSubtype === 'checkout_policy_question') {\n    checkoutText = 'ปกติเช็กเอาต์เวลา 12:00 น. นะคะ หากต้องการเลทเช็กเอาต์หรือพักต่อ ทางเราต้องตรวจสอบและให้แอดมินยืนยันก่อนค่ะ';\n  } else if (checkoutExtensionSubtype === 'late_checkout_request') {\n    checkoutText = 'รับทราบค่ะ คุณมาลี ขอตรวจสอบกับทีมก่อนนะคะว่าสามารถเลทเช็กเอาต์ตามเวลาที่ขอได้หรือไม่ แล้วแอดมินจะยืนยันกลับไปค่ะ';\n  } else if (checkoutExtensionSubtype === 'stay_extension_request') {\n    checkoutText = 'รับทราบค่ะ คุณมาลี ขอตรวจสอบห้องว่างและเงื่อนไขกับทีมก่อนนะคะ แล้วแอดมินจะยืนยันกลับไปค่ะ';\n  }\n  if (checkoutText) {\n    texts = [checkoutText];\n    primaryText = checkoutText;\n  }\n}\n\nif (isDispute) {\n  let disputeText = null;\n  const isEn = /hello|hi|thank|receipt|deposit|refund|checkout|wifi/i.test(guestTextForRouting);\n  if (dispute.issue_subtype === 'deposit_refund_dispute') {\n    disputeText = isEn \n      ? 'Please wait a moment. Our team is checking your deposit status and will get back to you shortly.' \n      : 'รบกวนรอสักครู่นะคะ ทางทีมงานกำลังตรวจสอบสถานะเงินมัดจำให้ค่ะ เมื่อเรียบร้อยแล้วจะรีบแจ้งกลับทันทีค่ะ';\n  } else if (dispute.issue_subtype === 'refund_request' || dispute.issue_subtype === 'compensation_request') {\n    disputeText = isEn\n      ? 'Please wait a moment. Our team is checking your request and will get back to you shortly.'\n      : 'รบกวนรอสักครู่นะคะ ทางทีมงานกำลังตรวจสอบข้อมูลให้ค่ะ เมื่อเรียบร้อยแล้วจะรีบแจ้งกลับทันทีค่ะ';\n  }\n  \n  if (disputeText && (p5sendModeDecision.send_mode === 'draft_only' || p5sendModeDecision.send_mode === 'safe_auto')) {\n    texts = [disputeText];\n    primaryText = disputeText;\n  }\n}\n\nif (isDelayedCheckin) {\n  const safeHoldingText = buildDelayedCheckinHoldingReply(delayedCheckinSubtype);\n  if (p5sendModeDecision.send_mode === 'safe_auto') {\n    texts = [safeHoldingText];\n    primaryText = safeHoldingText;\n  } else {\n    texts = texts.map((message) => hasUnsafeDelayedCheckinReadyWording(message) ? safeHoldingText : message);\n    if (!texts.length) {\n      texts = [safeHoldingText];\n    }\n    primaryText = texts[0];\n  }\n}\n\nif (isAccessPrepIncomplete) {\n  const accessPrepHoldingText = buildDelayedCheckinHoldingReply('access_prep_incomplete');\n  const unsafeAccessReady = (message) =>\n    /(เข้าไปได้เลย|ขึ้นไป.*ได้เลย|ขึ้นห้อง.*ได้เลย|ห้อง.*พร้อม|กุญแจ.*(วาง|เตรียม|อยู่ในห้อง)|เปิดไว้ให้แล้ว|สามารถเข้าห้อง|สามารถขึ้นห้อง|เชิญขึ้นห้อง)/i.test(message);\n  if (texts.some(unsafeAccessReady)) {\n    texts = [accessPrepHoldingText];\n    primaryText = accessPrepHoldingText;\n  }\n}\n\nconst finalImages = (\n  isDelayedCheckin ||\n  isAccessPrepIncomplete ||\n  roomAccessReadiness.ready !== true\n) ? [] : images;\nconst phase5_generated_summary_text = buildGeneratedStaySummary();\nreturn [{\n  json: {\n    ...input,\n    ...plan,\n    text: primaryText,\n    images: finalImages,\n    texts,\n    phase5_memory_actions,\n    phase5_memory,\n    phase5_stay_summary,\n    phase5_summary_decision,\n    phase5_generated_summary_text,\n    phase5_detected_checkout_extension_subtype: checkoutExtensionSubtype,\n    phase5_detected_dispute: dispute,\n    room_access_readiness: roomAccessReadiness,\n    room_access_blockers: readinessBlockers,\n    p5send_mode: p5sendModeDecision.send_mode,\n    p5recommended_mode: originalModeDecision.send_mode,\n    p5send_reason: p5sendModeDecision.reason,\n  }\n}];"
        },
        "id": "p3-guest-006",
        "name": "Build guest reply or internal alert",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_URL + '/rest/v1/runtime_events' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { correlation_id: $json.correlation_id, event_type: 'phase3_guest_concierge_decision', entity_type: 'conversation', entity_id: $json.conversation_id, severity: $json.internal_alert ? 'warning' : 'info', payload: $json } }}",
          "options": {}
        },
        "id": "p3-guest-007",
        "name": "Record guest concierge event",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          840,
          -120
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.IMPACT_LINE_SEND_MESSAGE_URL || ($env.IMPACT_LINE_SEND_TEXT_URL || 'http://host.docker.internal:8000/line/send-text').replace('/line/send-text', '/line/send-message') }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-impact-webhook-secret",
                "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { channel: 'guest_oa', to: $json.to, text: $json.text, texts: $json.texts || ($json.text ? [$json.text] : []), images: $json.images || [], conversation_id: $json.conversation_id, source_event_id: $json.source_event_id, correlation_id: $json.correlation_id, reply_token_ephemeral: $json.reply_token_ephemeral, delivery_mode: $json.p5send_mode === 'safe_auto' ? 'push' : 'no_send', idempotency_key: $json.correlation_id ? $json.correlation_id + '_edge' : undefined, suppression_reason: $json.p5send_reason, final_delivery_mode: $json.p5send_mode, model_recommended_mode: $json.p5recommended_mode, risk_family: $json.phase5_detected_dispute ? 'guest_dispute_escalation' : ($json.phase5_memory_actions && Array.isArray($json.phase5_memory_actions) ? $json.phase5_memory_actions.find(a => a.field === 'current_issue')?.new_value : undefined) || ($json.phase5_memory && $json.phase5_memory.current_issue?.value) || undefined, risk_subtype: ($json.phase5_detected_dispute && $json.phase5_detected_dispute.issue_subtype) || ($json.phase5_memory_actions && Array.isArray($json.phase5_memory_actions) ? $json.phase5_memory_actions.find(a => a.field === 'current_issue_subtype')?.new_value : undefined) || ($json.phase5_memory && $json.phase5_memory.current_issue_subtype?.value) || undefined, alert_kind: $json.phase5_detected_dispute ? 'guest_dispute_escalation' : ($json.p5send_reason === 'cleaning_delayed_checkin_authority_bound_escalation' || $json.p5send_reason === 'cleaning_delayed_checkin_holding_reply' ? 'cleaning_delayed_checkin' : ($json.p5send_reason === 'service_recovery_room_access_elevation' ? 'service_recovery_room_access' : undefined)) } }}",
          "options": {}
        },
        "id": "p3-guest-008",
        "name": "Send through controlled Edge path",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          840,
          120
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const classified = $(\"Classify guest intent\").first().json;\nconst context = items[0]?.json ?? {};\nconst fallbackContext = {\n  booking: null,\n  stay_state: {\n    booking_verification_status: \"unverified\",\n    room_access_package_status: \"not_sent\",\n    journey_stage: \"unknown\",\n    language: classified.language ?? \"th\",\n  },\n  room_status: { cleaning_status: \"unknown\", maintenance_status: \"ok\", occupancy_status: \"unknown\" },\n  active_holds: [],\n  delivered_assets: [],\n  assets_by_id: {},\n  places_by_id: {},\n  context_status: { has_booking: false, has_room: false, has_conversation: false, language: classified.language ?? \"th\" },\n};\nreturn [{ json: { ...classified, ...fallbackContext, ...context, ...(classified.test_context ?? {}) } }];"
        },
        "id": "p3-guest-004b",
        "name": "Merge guest context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          460,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const reply = $(\"Build guest reply or internal alert\").first().json;\nconst baseUrl = $env.SUPABASE_URL + \"/rest/v1/rpc/\";\nfunction uuidOrNull(value) {\n  const text = String(value ?? \"\");\n  return /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i.test(text) ? text : null;\n}\nconst bookingId = uuidOrNull(reply.booking?.id);\nconst guestId = uuidOrNull(reply.booking?.guest_id ?? reply.guest?.id);\nconst roomId = uuidOrNull(reply.booking?.room_id ?? reply.booking?.rooms?.id ?? reply.room_id);\nconst roomCode = reply.booking?.rooms?.room_code ?? reply.stay_state?.room_code_snapshot ?? null;\nconst out = [];\nfunction addRequest(operation, method, url, body) {\n  out.push({ json: { operation, method, url, body } });\n}\nfunction addRpc(name, body) {\n  addRequest(name, \"POST\", baseUrl + name, body);\n}\nfor (const action of reply.asset_actions ?? []) {\n  if (!action.asset_id || !reply.record_asset_delivery) continue;\n  addRpc(\"phase3_record_asset_delivery\", {\n    p_asset_id: action.asset_id,\n    p_booking_id: bookingId,\n    p_conversation_id: reply.conversation_id ?? null,\n    p_guest_id: guestId,\n    p_delivery_reason: action.asset_role ?? \"guest_concierge\",\n    p_delivery_status: \"sent\",\n    p_requested_by_guest: /ขอ|please|send/i.test(reply.guest_text ?? reply.text ?? \"\"),\n    p_resend: Boolean(action.resend),\n    p_source_event_id: reply.source_event_id ?? null,\n    p_correlation_id: reply.correlation_id ?? null,\n  });\n}\n// GUARD (red-team finding, 2026-06-08, scenario G11): same bug class as the\n// checkout-misclassification guard below -- confirmed that an emergency/distress\n// message (\"น้ำรั่วเข้าห้องเต็มไปหมด ตอบกลับเดี๋ยวนี้!!\", sent during admin takeover)\n// got misread as `intent: checkin_signal` with a fabricated 100% confidence score,\n// flipping booking_status confirmed -> checked_in with zero code-level sanity check.\n// Require the guest's own text to explicitly report a COMPLETED arrival/check-in,\n// and reject anything that reads like an emergency, complaint, or question.\nfunction isExplicitCheckinNowReport(text) {\n  const t = String(text ?? \"\");\n  const reportsArrival = /(เช็[คก]\\s?อิน|check[\\s-]?in|ถึง(ที่พัก|ห้อง|คอนโด|ตึก)?แล้ว|มาถึงแล้ว|เข้าห้องแล้ว|เข้าพักแล้ว)\\s*(แล้ว|เรียบร้อย(แล้ว)?|เสร็จ(แล้ว)?|already|just(\\s+now)?|done)?|\\b(just|already)\\s+(arrived|check(ed)?[\\s-]?in)\\b/i.test(t);\n  const looksLikeEmergencyQuestionOrUnrelated = /(กี่โมง|เมื่อไหร่|วันไหน|ยังไง|อย่างไร|ไหมคะ|ไหมครับ|ได้ไหม|\\?|พรุ่งนี้|มะรืน|วันที่|ฉุกเฉิน|emergency|ด่วน|รั่ว|leak|น้ำ|เสีย|ซ่อม|broken|fix|help|ช่วย|what\\s+time|when\\s+(is|do|can)|how\\s+(do|to|can)|tomorrow)/i.test(t);\n  return reportsArrival && !looksLikeEmergencyQuestionOrUnrelated;\n}\nconst guestTextForCheckinGuard = reply.guest_text ?? reply.text ?? \"\";\nconst checkinNowConfirmed = isExplicitCheckinNowReport(guestTextForCheckinGuard);\nif (bookingId && reply.intent === \"checkin_signal\") {\n  if (checkinNowConfirmed) {\n    addRpc(\"phase3_mark_guest_checked_in\", {\n      p_booking_id: bookingId,\n      p_conversation_id: reply.conversation_id ?? null,\n      p_source_event_id: reply.source_event_id ?? null,\n      p_correlation_id: reply.correlation_id ?? null,\n    });\n  } else {\n    addRpc(\"phase3_create_guest_concierge_internal_case\", {\n      p_conversation_id: reply.conversation_id ?? null,\n      p_booking_id: bookingId,\n      p_guest_id: guestId,\n      p_room_id: roomId,\n      p_priority: \"normal\",\n      p_issue_summary: \"บอทตีความว่าแขกแจ้งเช็คอิน/มาถึงแล้ว แต่ข้อความไม่ได้ยืนยันชัดเจน -- ห้ามเปลี่ยนสถานะการจองจนกว่าแอดมินจะยืนยัน\",\n      p_ai_suggestion: \"ตรวจสอบข้อความแขกอีกครั้งว่าหมายถึงเช็คอิน/มาถึงจริง หรือเป็นเรื่องอื่น (เช่น แจ้งเหตุฉุกเฉิน) ก่อนอัปเดตสถานะ\",\n      p_admin_action_needed: \"ยืนยันว่าแขกมาถึง/เช็คอินจริงก่อนอัปเดต booking_status เป็น checked_in\",\n      p_case_context: { alert_kind: \"checkin_signal_needs_confirmation\", intent: reply.intent, guest_text: guestTextForCheckinGuard },\n      p_source_event_id: reply.source_event_id ?? null,\n      p_correlation_id: reply.correlation_id ?? null,\n    });\n  }\n}\nif (bookingId && reply.intent === \"room_entry_request\" && reply.contains_room_access_info && checkinNowConfirmed) {\n  addRpc(\"phase3_mark_guest_checked_in\", {\n    p_booking_id: bookingId,\n    p_conversation_id: reply.conversation_id ?? null,\n    p_source_event_id: reply.source_event_id ?? null,\n    p_correlation_id: reply.correlation_id ?? null,\n  });\n}\n// GUARD (red-team finding, 2026-06-08): the LLM's `intent === \"checkout_signal\"`\n// classification alone is not safe to drive irreversible booking/room mutations --\n// confirmed 100% reproducible that a guest asking \"checkout time TOMORROW?\" gets\n// misread as \"guest checked out NOW\", flipping booking_status to checked_out and\n// marking the room dirty/vacant with a fabricated note. Require the guest's own\n// text to explicitly report a COMPLETED checkout, and reject anything that reads\n// like a question about checkout time/policy/future plans.\nfunction isExplicitCheckoutNowReport(text) {\n  const t = String(text ?? \"\");\n  const reportsCompletedCheckout = /(เช็[คก]\\s?เอา[ทต]์|check(ed)?[\\s-]?out|ออกจากห้อง|คืนกุญแจ|คืนห้อง)\\s*(แล้ว|เรียบร้อย(แล้ว)?|เสร็จ(แล้ว)?|already|just(\\s+now)?|done)|\\b(just|already)\\s+check(ed)?[\\s-]?out\\b|(กำลัง|เพิ่ง)\\s*(จะ)?\\s*(ออกจากห้อง|เช็[คก]\\s?เอา[ทต]์)(ตอนนี้|เดี๋ยวนี้)?/i.test(t);\n  const looksLikeQuestionOrFuture = /(กี่โมง|เมื่อไหร่|วันไหน|ยังไง|อย่างไร|ไหมคะ|ไหมครับ|ได้ไหม|\\?|พรุ่งนี้|มะรืน|วันที่|จะ\\s*เช็[คก]\\s?เอา[ทต]์|what\\s+time|when\\s+(is|do|can)|how\\s+(do|to|can)|tomorrow)/i.test(t);\n  return reportsCompletedCheckout && !looksLikeQuestionOrFuture;\n}\nconst guestTextForCheckoutGuard = reply.guest_text ?? reply.text ?? \"\";\nif (bookingId && reply.intent === \"checkout_signal\" && isExplicitCheckoutNowReport(guestTextForCheckoutGuard)) {\n  addRpc(\"phase3_mark_guest_checked_out\", {\n    p_booking_id: bookingId,\n    p_conversation_id: reply.conversation_id ?? null,\n    p_source_event_id: reply.source_event_id ?? null,\n    p_correlation_id: reply.correlation_id ?? null,\n  });\n  if (roomId) {\n    addRequest(\n      \"patch_room_status_checkout_waiting_cleaning\",\n      \"PATCH\",\n      $env.SUPABASE_URL + \"/rest/v1/room_status?room_id=eq.\" + roomId,\n      {\n        cleaning_status: \"dirty\",\n        occupancy_status: \"vacant\",\n        notes: \"ลูกค้าแจ้ง check-out แล้ว รอทำความสะอาด\",\n        updated_at: new Date().toISOString(),\n      }\n    );\n  }\n} else if (bookingId && reply.intent === \"checkout_signal\") {\n  // Misclassified / ambiguous checkout signal -- do NOT mutate booking_status or\n  // room_status on LLM say-so alone. Route to a human for confirmation instead.\n  addRpc(\"phase3_create_guest_concierge_internal_case\", {\n    p_conversation_id: reply.conversation_id ?? null,\n    p_booking_id: bookingId,\n    p_guest_id: guestId,\n    p_room_id: roomId,\n    p_priority: \"normal\",\n    p_issue_summary: \"บอทตีความว่าแขกแจ้งเช็คเอาท์ แต่ข้อความไม่ได้ยืนยันชัดเจน -- ห้ามเปลี่ยนสถานะห้อง/การจองจนกว่าแอดมินจะยืนยัน\",\n    p_ai_suggestion: \"ตรวจสอบข้อความแขกอีกครั้งว่าหมายถึงเช็คเอาท์จริงตอนนี้ หรือแค่ถามเรื่องเวลา/นโยบายเช็คเอาท์\",\n    p_admin_action_needed: \"ยืนยันว่าแขกเช็คเอาท์จริงก่อนอัปเดต booking_status เป็น checked_out หรือเปลี่ยน room_status\",\n    p_case_context: { alert_kind: \"checkout_signal_needs_confirmation\", intent: reply.intent, guest_text: guestTextForCheckoutGuard },\n    p_source_event_id: reply.source_event_id ?? null,\n    p_correlation_id: reply.correlation_id ?? null,\n  });\n}\nif (reply.knowledge_gap?.gap_area) {\n  addRpc(\"phase3_create_knowledge_gap\", {\n    p_question_text: reply.knowledge_gap.question_text ?? reply.guest_text ?? \"unknown\",\n    p_gap_area: reply.knowledge_gap.gap_area,\n    p_urgency: reply.knowledge_gap.urgency ?? \"improvement_queue\",\n    p_guest_reply_text: reply.text ?? null,\n    p_conversation_id: reply.conversation_id ?? null,\n    p_booking_id: bookingId,\n    p_guest_id: guestId,\n    p_source_event_id: reply.source_event_id ?? null,\n    p_correlation_id: reply.correlation_id ?? null,\n  });\n}\nfunction addInternalCase(alert, kind) {\n  if (!alert) return;\n  const isHousekeeping = kind === \"housekeeping_alert\";\n  addRpc(\"phase3_create_guest_concierge_internal_case\", {\n    p_conversation_id: reply.conversation_id ?? null,\n    p_booking_id: bookingId,\n    p_guest_id: guestId,\n    p_room_id: roomId,\n    p_priority: alert.priority ?? (isHousekeeping ? \"urgent\" : \"normal\"),\n    p_issue_summary: isHousekeeping ? (\"ลูกค้ารอห้อง \" + (roomCode ?? \"-\") + \" แต่ห้องยังไม่พร้อม\") : (\"Guest Concierge ต้องให้แอดมินช่วยตรวจสอบ: \" + (alert.reason ?? \"admin_attention\")),\n    p_ai_suggestion: isHousekeeping ? \"ให้แม่บ้านรับงานภายใน 5 นาที และแจ้ง Internal อีกครั้งถ้าห้องยังไม่พร้อมใน 10 นาที\" : \"ตรวจสอบเคสนี้ก่อนให้บอทส่งข้อมูลห้องหรือเจรจากับลูกค้าต่อ\",\n    p_admin_action_needed: isHousekeeping ? \"ยืนยันสถานะทำความสะอาดและเวลาที่ห้องพร้อม\" : \"เลือกว่าจะให้บอทตอบต่อหรือให้แอดมินรับช่วงเอง\",\n    p_case_context: { alert_kind: kind, intent: reply.intent, alert, room_code: roomCode, guest_text: reply.guest_text ?? null },\n    p_source_event_id: reply.source_event_id ?? null,\n    p_correlation_id: reply.correlation_id ?? null,\n  });\n}\naddInternalCase(reply.internal_alert, \"internal_alert\");\naddInternalCase(reply.housekeeping_alert, \"housekeeping_alert\");\n\nfunction buildGuestStayMemoryPatch() {\n  const memoryUpdate = reply.memory_update ?? null;\n  if (!memoryUpdate || !bookingId) return null;\n  const previousContext = reply.stay_state?.last_selector_context ?? {};\n  const previousMemory = previousContext.guest_stay_memory ?? {};\n  const nextMemory = { ...previousMemory, ...(memoryUpdate.guest_stay_memory ?? {}) };\n  const nextContext = {\n    ...previousContext,\n    source: \"guest_stay_memory_v1\",\n    source_event_id: reply.source_event_id ?? null,\n    correlation_id: reply.correlation_id ?? null,\n    guest_stay_memory: nextMemory,\n  };\n  const body = { last_selector_context: nextContext };\n  if (memoryUpdate.transport_mode) {\n    body.transport_mode = memoryUpdate.transport_mode;\n    body.transport_mode_source = memoryUpdate.transport_mode_source ?? \"guest_message\";\n  }\n  if (memoryUpdate.journey_stage) body.journey_stage = memoryUpdate.journey_stage;\n  if (memoryUpdate.state_summary) body.state_summary = memoryUpdate.state_summary;\n  return body;\n}\nconst guestStayMemoryPatch = buildGuestStayMemoryPatch();\nif (guestStayMemoryPatch) {\n  addRequest(\n    \"patch_guest_stay_memory\",\n    \"PATCH\",\n    $env.SUPABASE_URL + \"/rest/v1/guest_stay_states?booking_id=eq.\" + bookingId,\n    guestStayMemoryPatch\n  );\n}\n\nconst claimResult = reply.booking_claim_result ?? null;\nconst claimCandidateIds = Array.isArray(claimResult?.candidate_booking_ids) ? claimResult.candidate_booking_ids : [];\nconst claimCandidates = Array.isArray(claimResult?.candidates) ? claimResult.candidates : [];\nconst selectedClaimBookingId = uuidOrNull(claimCandidates[0]?.booking_id ?? claimCandidateIds[0]);\nif (reply.intent === \"booking_claim\" && claimResult) {\n  const isPendingConfirm = claimResult.status === \"high_confidence\" || (claimResult.status !== \"no_match\" && claimCandidates.length === 1 && Number(claimResult.confidence) >= 55);\n  addRpc(\"phase3_record_booking_claim_result\", {\n    p_conversation_id: uuidOrNull(reply.conversation_id),\n    p_line_user_id: reply.line_user_id ?? reply.to ?? null,\n    p_claim_text: reply.guest_text ?? \"-\",\n    p_selected_booking_id: isPendingConfirm ? selectedClaimBookingId : null,\n    p_candidate_booking_ids: claimCandidateIds.map(uuidOrNull).filter(Boolean),\n    p_confidence: Number.isFinite(Number(claimResult.confidence)) ? Number(claimResult.confidence) : null,\n    p_status: isPendingConfirm ? \"pending_confirmation\" : (claimResult.status === \"ambiguous\" ? \"ambiguous\" : \"open\"),\n    p_extracted_claim: claimResult.extracted_claim ?? {},\n    p_smallest_missing_clue: claimResult.smallest_missing_clue ?? null,\n    p_source_event_id: uuidOrNull(reply.source_event_id),\n    p_correlation_id: uuidOrNull(reply.correlation_id),\n  });\n}\nif (reply.intent === \"booking_confirm\" && reply.contains_room_access_info && bookingId) {\n  addRpc(\"phase3_confirm_booking_claim\", {\n    p_booking_id: bookingId,\n    p_conversation_id: uuidOrNull(reply.conversation_id),\n    p_source_event_id: uuidOrNull(reply.source_event_id),\n    p_correlation_id: uuidOrNull(reply.correlation_id),\n  });\n}\n\n\n// --- INJECTED PHASE 5 FUNCTIONS ---\n/**\n * Phase 5 Slice 1 Guest Memory Extraction\n * \n * Deterministically extracts low-risk factual stay context from guest messages.\n * Guards high-risk truth by refusing to extract them casually.\n * \n * Returns a canonical write payload ready for DB persistence (RPC or DML).\n */\n\nfunction detectDisputeEscalationSubtype(text, currentMemory = {}) {\n    const raw = String(text ?? '').trim();\n    const normalized = raw.toLowerCase();\n\n    // First check negative controls explicitly to avoid false positives\n    const isNegativeControl = \n        /ปกติมัดจำคืนเมื่อไหร่/i.test(normalized) ||\n        /ขอใบเสร็จ/i.test(normalized) ||\n        /ปกติเช็กเอาต์/i.test(normalized) ||\n        /ปกติเช็คเอาท์/i.test(normalized) ||\n        /เซเว่นอยู่ตรงไหน/i.test(normalized);\n    if (isNegativeControl) {\n        return null;\n    }\n\n    // 1. Negative Review or Social Threat\n    const hasReviewThreat = /(รีวิวแย่|รีวิว 1 ดาว|รีวิวประจาน|จะรีวิว|1 ดาว|ดิสเครดิต|ประจาน|social|post facebook|ลงเฟส|ลงกลุ่ม)/i.test(normalized);\n    if (hasReviewThreat) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"negative_review_or_social_threat\",\n            emotional_signal: \"threatening\",\n            authority_escalation: \"review_threat\",\n            risk_flags: [\"money\", \"threat\"],\n            recommended_mode: \"internal_now\"\n        };\n    }\n\n    // 2. Fraud or Scam Accusation\n    const hasFraudAccusation = /(โกง|หลอกลวง|ต้มตุ๋น|scam|fraud|cheat)/i.test(normalized);\n    if (hasFraudAccusation) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"deposit_refund_dispute\",\n            emotional_signal: \"angry\",\n            authority_escalation: \"money_dispute\",\n            risk_flags: [\"money\", \"accusation\"],\n            recommended_mode: \"internal_now\"\n        };\n    }\n\n    // 3. Legal or Platform Escalation\n    const hasLegalAuthority = /(ฟ้อง|ดำเนินคดี|ตำรวจ|แจ้งความ|legal|lawsuit)/i.test(normalized);\n    const mentionsPlatform = /(booking\\.com|agoda|airbnb|platform)/i.test(normalized);\n    const hasPlatformEscalation = mentionsPlatform &&\n        /(แจ้ง|ร้องเรียน|คอมเพลน|ฟ้อง|ดำเนินคดี|เอาเรื่อง|รีพอร์ต|report|complain|claim|ไม่จบ|ถ้าไม่|จะ)/i.test(normalized) &&\n        !/(จองผ่าน|จองจาก|จองใน|จองทาง|booking channel|booked through)/i.test(normalized);\n    if (hasLegalAuthority || hasPlatformEscalation) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"legal_or_platform_escalation\",\n            emotional_signal: \"angry\",\n            authority_escalation: \"legal_platform\",\n            risk_flags: [\"legal\", \"platform\"],\n            recommended_mode: \"internal_now\"\n        };\n    }\n\n    // 4. Owner or Manager Request\n    const hasOwnerManager = /(คุยกับเจ้าของ|คุยกับผู้จัดการ|ติดต่อเจ้าของ|ติดต่อผู้จัดการ|ขอสายเจ้าของ|ขอสายผู้จัดการ|ขอคุยกับเจ้าของ|ขอคุยกับผู้จัดการ|talk to manager|talk to owner|contact manager|contact owner)/i.test(normalized);\n    if (hasOwnerManager) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"owner_manager_request\",\n            emotional_signal: \"frustrated\",\n            authority_escalation: \"owner_manager\",\n            risk_flags: [\"authority_required\"],\n            recommended_mode: \"internal_now\"\n        };\n    }\n\n    // 5. Compensation Request\n    const hasCompensation = /(ชดเชย|ค่าเสียเวลา|เยียวยา|ลดราคา|ส่วนลด|compensation|discount)/i.test(normalized);\n    if (hasCompensation) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"compensation_request\",\n            emotional_signal: \"frustrated\",\n            authority_escalation: \"money_dispute\",\n            risk_flags: [\"money\", \"compensation\"],\n            recommended_mode: \"internal_now\"\n        };\n    }\n\n    // 6. Refund Request\n    const hasRefund = /(คืนเงิน|ขอคืน|โอนคืน|refund)/i.test(normalized);\n    if (hasRefund) {\n        const isDepositDispute = /(มัดจำ|deposit)/i.test(normalized);\n        const isCalm = /ครับ|ค่ะ|คะ|รบกวน|สอบถาม/i.test(normalized) && !/(เดี๋ยวนี้|ทันที|โกง|แย่|ช้า|ไม่พอใจ)/i.test(normalized);\n        \n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: isDepositDispute ? \"deposit_refund_dispute\" : \"refund_request\",\n            emotional_signal: isCalm ? \"calm\" : \"angry\",\n            authority_escalation: \"money_dispute\",\n            risk_flags: isCalm ? [\"money\"] : [\"money\", \"refund\"],\n            recommended_mode: isCalm ? \"draft_only\" : \"internal_now\"\n        };\n    }\n\n    // 7. Angry Complaint\n    const hasAngryComplaint = /(แย่มาก|ห่วย|ช้ามาก|รอนาน|โมโห|หงุดหงิด|ไม่พอใจ|แย่|angry|disappointed|unacceptable)/i.test(normalized);\n    if (hasAngryComplaint) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"angry_complaint\",\n            emotional_signal: \"angry\",\n            authority_escalation: \"out_of_sop\",\n            risk_flags: [\"angry\"],\n            recommended_mode: \"internal_now\"\n        };\n    }\n\n    // 8. General Deposit/Money Calm Questions (Account specific)\n    const isCalmDepositQuery = /(เงินมัดจำ|มัดจำ).*?(เมื่อไหร่|กี่โมง|ตอนไหน|โอนคืน)/i.test(normalized) && \n        (/(ของผม|ของฉัน|ของเค้า|หนู|เรา|my)/i.test(normalized) || !/ปกติ/i.test(normalized));\n    if (isCalmDepositQuery) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"deposit_refund_dispute\",\n            emotional_signal: \"calm\",\n            authority_escalation: \"money_dispute\",\n            risk_flags: [\"money\"],\n            recommended_mode: \"draft_only\"\n        };\n    }\n\n    return null;\n}\n\nfunction evaluateDisputeSendMode(dispute, guestText, currentMemory = {}) {\n    if (!dispute) {\n        return { send_mode: 'safe_auto', reason: 'non_dispute_factual_policy' };\n    }\n    \n    const riskFlags = dispute.risk_flags || [];\n    const subtype = dispute.issue_subtype;\n    const emotional = dispute.emotional_signal;\n\n    const isHighRisk = \n        emotional === 'angry' || \n        emotional === 'threatening' || \n        subtype === 'negative_review_or_social_threat' || \n        subtype === 'legal_or_platform_escalation' || \n        subtype === 'owner_manager_request' || \n        riskFlags.includes('threat') || \n        riskFlags.includes('accusation') ||\n        riskFlags.includes('refund') ||\n        riskFlags.includes('compensation') ||\n        riskFlags.includes('legal');\n\n    if (isHighRisk) {\n        return { send_mode: 'internal_now', reason: `dispute_high_risk_${subtype}_${emotional}` };\n    }\n\n    if (subtype === 'deposit_refund_dispute' || subtype === 'refund_request' || riskFlags.includes('money')) {\n        return { send_mode: 'draft_only', reason: `dispute_calm_account_specific_money` };\n    }\n\n    return { send_mode: 'internal_now', reason: `dispute_default_escalation` };\n}\n\nfunction detectCheckoutExtensionSubtype(text, currentMemory = {}) {\n    const activeIssue = currentMemory['current_issue'];\n    const isExtensionFollowUp = activeIssue?.value === 'checkout_extension_request' && !activeIssue.is_superseded;\n    const hasCheckoutContext = /(เช็กเอาต์|เช็คเอาท์|เช็กเอาท์|เช็คเอาต์|checkout|check out|ออกจากห้อง|คืนห้อง)/i.test(text);\n    const hasExplicitLateCue = /(ขอเลท|เลทเช็กเอาต์|เลทเช็คเอาท์|เลทเช็กเอาท์|เลทเช็คเอาต์|ขอออกเลท|ออกเลท|เลทได้ไหม|เลทได้มั้ย)/i.test(text);\n    const hasLateTimeCue = /(บ่ายสอง|บ่ายโมง|เที่ยงครึ่ง|ออกบ่าย)/i.test(text);\n    const isPolicyQuestion = /(เช็กเอาต์กี่โมง|เช็คเอาท์กี่โมง|เช็กเอาท์เวลา|เช็คเอาท์เวลา|เวลาเช็กเอาต์|เวลาเช็คเอาท์|ปกติเช็กเอาต์|ปกติเช็คเอาท์|ออกกี่โมง)/i.test(text) &&\n        !/(เลท|ขอออก)/i.test(text);\n    const isLateCheckout = hasExplicitLateCue || (hasCheckoutContext && hasLateTimeCue) || (isExtensionFollowUp && hasLateTimeCue);\n    const isStayExtension = /(อยู่ต่อ|อีกคืน|พักต่อ|จองต่อ|เพิ่มอีก|คืนนี้ต่อ|ต่อห้อง)/i.test(text);\n    const isPricingFollowUp = /(คิดเพิ่มเท่าไหร่|ขอฟรีได้ไหม|ไม่จ่ายเพิ่ม|ถ้าไม่ได้จะขอคืนเงิน|ฟรีได้ไหม|คิดเท่าไหร่|เท่าไหร่|กี่บาท)/i.test(text);\n\n    if (isStayExtension) return 'stay_extension_request';\n    if (isLateCheckout) return 'late_checkout_request';\n    if (isPolicyQuestion) return 'checkout_policy_question';\n    if (isExtensionFollowUp && isPricingFollowUp) {\n        return currentMemory['current_issue_subtype']?.value || 'checkout_policy_question';\n    }\n    return null;\n}\n\nfunction extractMemory(message, currentMemory = {}, liveTruth = {}) {\n    const text = message.text || '';\n    const messageId = message.id || 'unknown';\n    const timestamp = message.timestamp || new Date().toISOString();\n    const actor = message.sender === 'system' ? 'system_extraction' : 'guest_extraction';\n\n    const memory_actions = [];\n    const ignored_actions = [];\n\n    // Use a map to accumulate field updates before pushing\n    const pendingUpdates = new Map();\n\n    const recordUpdate = (field, value, confidence = 'high') => {\n        const existing = currentMemory[field];\n        \n        if (field === 'local_needs_hints') {\n            let currentArr = pendingUpdates.has(field) \n                ? pendingUpdates.get(field).new_value \n                : (existing?.value || []);\n                \n            if (!currentArr.includes(value)) {\n                pendingUpdates.set(field, {\n                    action: 'insert_and_supersede',\n                    field,\n                    new_value: [...currentArr, value],\n                    confidence,\n                    source_message_id: messageId,\n                    actor,\n                    timestamp,\n                    supersedes_memory_id: existing?.id || null,\n                    old_value: existing?.value || null\n                });\n            }\n            return;\n        }\n        \n        if (!existing || existing.value !== value) {\n            pendingUpdates.set(field, {\n                action: 'insert_and_supersede',\n                field,\n                new_value: value,\n                confidence,\n                source_message_id: messageId,\n                actor,\n                timestamp,\n                supersedes_memory_id: existing?.id || null,\n                old_value: existing?.value || null\n            });\n        }\n    };\n\n    // Helper to log ignored high-risk extraction attempts\n    const recordIgnored = (field, reason) => {\n        ignored_actions.push({\n            field,\n            source_message_id: messageId,\n            reason\n        });\n    };\n\n    const recordSupersedeOnly = (field, reason) => {\n        const existing = currentMemory[field];\n        if (!existing || existing.is_superseded) return;\n        pendingUpdates.set(field, {\n            action: 'mark_superseded',\n            field,\n            reason,\n            confidence: existing.confidence || 'medium',\n            source_message_id: messageId,\n            actor,\n            timestamp,\n            supersedes_memory_id: existing.id || null,\n            old_value: existing.value ?? null\n        });\n    };\n\n    // 1. Travel Mode\n    const mentionsTaxi = /(แท็กซี่|taxi|แกรป|grab|bolt)/i.test(text);\n    const mentionsCar = /(ขับรถ|นั่งรถ|รถส่วนตัว|เอารถมา)/.test(text);\n    const correctsAwayFromCar = /(บอกผิด|ไม่ได้เอารถ|ไม่เอารถ|เปลี่ยนใจ|เรียกแท็กซี่|นั่งแท็กซี่)/i.test(text);\n    if (mentionsTaxi && (correctsAwayFromCar || !mentionsCar)) {\n        recordUpdate('travel_mode', 'taxi');\n    } else if (mentionsCar) {\n        recordUpdate('travel_mode', 'car');\n    }\n\n    // 2. Parking Mode\n    if (text.match(/(จอดรถ|ที่จอดรถ|ลานจอด)/)) {\n        recordUpdate('parking_mode', 'needs_parking');\n    }\n\n    // 3. Current Location Hint\n    if (text.match(/(ถึงหน้าตึก|ถึงคอนโด|อยู่หน้าตึก|ถึงแล้ว)/)) {\n        recordUpdate('current_location_hint', 'at_building');\n    } else if (text.match(/(กำลังเดินทาง|กำลังไป|บนรถ|ออกเดินทาง)/)) {\n        recordUpdate('current_location_hint', 'on_the_way');\n    } else if (text.match(/(ยังไม่ออกเดินทาง|ยังไม่ไป|ยังอยู่บ้าน|อยู่บ้าน)/)) {\n        recordUpdate('current_location_hint', 'not_departed');\n    } else if (text.match(/(คอสโม|cosmo|เดินห้าง|เดินเล่นในห้าง|เดินตลาด)/i)) {\n        recordUpdate('current_location_hint', 'in_cosmo');\n    } else if (text.match(/(อยู่ในห้อง|ขึ้นห้องแล้ว)/)) {\n        recordUpdate('current_location_hint', 'in_room');\n    } else if (text.match(/(อยู่ข้างนอก|ไม่แน่ใจ|ไม่รู้)/)) {\n        recordUpdate('current_location_hint', 'unknown');\n    }\n\n    // 4. Arrival / Check-in / Check-out state\n    if (text.match(/(รอเช็คอิน|เช็คอินได้ไหม|เข้าห้องได้หรือยัง)/)) {\n        recordUpdate('arrival_state', 'waiting_to_check_in');\n    } else if (text.match(/(เข้าห้องแล้ว|เช็คอินแล้ว|เปิดประตูแล้ว)/)) {\n        recordUpdate('check_in_state', 'checked_in');\n    } else if (text.match(/(เช็คเอาท์|ออกแล้ว|คืนห้อง|จะออกแล้ว)/)) {\n        recordUpdate('check_out_state', 'checking_out');\n    }\n\n    // 5. Local Needs Hints\n    if (text.match(/(หิว|ร้านอาหาร|ของกิน|กินข้าว)/)) {\n        recordUpdate('local_needs_hints', 'food');\n    }\n    if (text.match(/(เซเว่น|seven|7-11)/i)) {\n        recordUpdate('local_needs_hints', 'seven_eleven');\n    }\n\n    // 6. Purpose / Event Hint\n    if (text.match(/(คอนเสิร์ต|concert|ดูคอน)/i)) {\n        recordUpdate('purpose_context', 'concert');\n    } else if (text.match(/(มาสอบ|เตรียมสอบ|ห้องสอบ)/)) {\n        recordUpdate('purpose_context', 'exam');\n    } else if (text.match(/(มาทำงาน|สัมมนา|ประชุม)/)) {\n        recordUpdate('purpose_context', 'work');\n    }\n\n    // High-Risk Guard: Explicitly map high-risk terms to ignored bucket\n    if (text.match(/(ชื่อผู้จอง|เจ้าของห้อง|เปลี่ยนชื่อ)/)) {\n        recordIgnored('booking_identity', 'booking_identity is a high-risk field and requires stronger evidence or Internal Ops action.');\n    }\n    \n    if (text.match(/(จ่ายเงิน|โอนเงิน|5000|สลิป)/)) {\n        recordIgnored('payment_status', 'payment_status is a high-risk field and requires explicit Internal Ops or system verification.');\n    }\n\n    if (text.match(/(ขอรหัส|เปิดประตูให้หน่อย|รหัสห้อง)/)) {\n        recordIgnored('room_access', 'room_access is safety-critical and must pass standard safety gates, not casual memory update.');\n    }\n\n    // 7. Service Recovery: Room Access Problem\n    // Detect operational blockers for entering the room/building.\n    // Explicitly exclude ordinary questions like \"ขึ้นห้องยังไงครับ\" that don't indicate a problem.\n    const isOrdinaryQuestion = /(ยังไง|อย่างไร|วิธี|ขั้นตอน|กี่โมง|เมื่อไหร่)\\b/i.test(text) && !/(เข้าไม่ได้|เปิดไม่ได้|ไปต่อไม่ได้|ไม่เจอ|หาไม่เจอ|หลง|ติด|stuck)/i.test(text);\n    \n    let accessProblemSubtype = null;\n    \n    if (!isOrdinaryQuestion) {\n        if (/(เข้าไม่ได้|ไปต่อไม่ได้|เข้าตึกไม่ได้).*?(ตึก|อาคาร|หน้าตึก)/i.test(text) || /(stuck.*building|stuck.*ตึก)/i.test(text)) {\n            accessProblemSubtype = 'stuck_at_building';\n        } else if (/(หาทางเข้าไม่เจอ|หลง|ทางเข้า.*อยู่ไหน|ไปทางไหนต่อ)/i.test(text)) {\n            accessProblemSubtype = 'cannot_find_building_path';\n        } else if (/(ไม่เจอกุญแจ|กุญแจอยู่ไหน|หากุญแจไม่เจอ|หาคีย์การ์ดไม่เจอ|ไม่มีกุญแจ)/i.test(text) || (text.match(/หาไม่เจอ/i) && !text.match(/ทาง/))) {\n            accessProblemSubtype = 'cannot_find_key';\n        } else if (/(เปิดห้องไม่ได้|เปิดประตูไม่ได้|รหัสผิด|รหัสกดไม่ได้|เข้าห้องไม่ได้|เปิดไม่ออก)/i.test(text) || (text.match(/เปิดไม่ได้/i))) {\n            accessProblemSubtype = 'cannot_open_room';\n        } else if (/(ส่งวิธีขึ้นห้องอีกที|ขอวิธีเข้าห้องหน่อย|ส่งวิธี.*ให้หน่อย|ยังไม่ได้.*วิธี)/i.test(text) && /(ไปต่อไม่ได้|เข้าไม่ได้|หาไม่เจอ)/i.test(text)) {\n            accessProblemSubtype = 'needs_access_resend';\n        } else if (/(เข้าไม่ได้|ไปต่อไม่ได้)/i.test(text) && text.match(/หน้าตึก/i)) {\n            accessProblemSubtype = 'stuck_at_building';\n        }\n    }\n\n    if (accessProblemSubtype) {\n        recordUpdate('current_issue', 'room_access_problem');\n        recordUpdate('current_issue_subtype', accessProblemSubtype);\n    }\n\n    // Maintenance issues are operational problems and should replace any\n    // older dispute/access issue as the active guest concern for follow-ups.\n    let maintenanceSubtype = null;\n    if (/(แอร์ไม่เย็น|แอร์เสีย|เครื่องปรับอากาศไม่เย็น)/i.test(text)) {\n        maintenanceSubtype = 'aircon_not_cooling';\n    } else if (/(น้ำหยด|น้ำรั่ว|ท่อน้ำรั่ว)/i.test(text)) {\n        maintenanceSubtype = 'water_leak';\n    } else if (/(ไฟดับ|ไฟไม่ติด|ปลั๊กเสีย)/i.test(text)) {\n        maintenanceSubtype = 'electrical_issue';\n    }\n    if (maintenanceSubtype) {\n        recordUpdate('current_issue', 'maintenance_problem');\n        recordUpdate('current_issue_subtype', maintenanceSubtype);\n    }\n\n    // Phase 5 Slice 4: Delayed Check-in Detection\n    const isCheckinIntent = /(เช็กอิน|เช็คอิน|พร้อมแล้ว|เข้าไปได้เลย|ขึ้นห้อง|ห้องพร้อม|จะเข้าห้อง|เข้าห้อง|หน้าตึก|หน้าอาคาร|ถึงตึก|ถึงอาคาร|อยู่ตึก)/i.test(text);\n    const isAccessInstructionQuestion = /(ขึ้นห้อง|เข้าห้อง|เข้าอาคาร|เข้าตึก).*?(ยังไง|อย่างไร|วิธี|ขั้นตอน)/i.test(text);\n    const isCheckinPolicyQuestion = /(เช็กอิน|เช็คอิน|check.?in).*?(กี่โมง|เวลา|เมื่อไหร่|ตอนไหน|when)/i.test(text);\n    if (isCheckinIntent && !isAccessInstructionQuestion && !isCheckinPolicyQuestion && !accessProblemSubtype && !/(ขอเช็คอินก่อน|late checkout|early check|เช็คเอาท์|ออกแล้ว)/i.test(text)) {\n        const blocker = resolveDelayedCheckinBlocker(liveTruth);\n        if (blocker) {\n            recordUpdate('current_issue', 'cleaning_delayed_checkin');\n            recordUpdate('current_issue_subtype', blocker);\n        }\n    }\n\n    // Phase 5 Slice 5: Checkout / Stay Extension\n    const checkoutExtensionSubtype = detectCheckoutExtensionSubtype(text, currentMemory);\n\n    if (checkoutExtensionSubtype) {\n        recordUpdate('current_issue', 'checkout_extension_request');\n        recordUpdate('current_issue_subtype', checkoutExtensionSubtype);\n    }\n\n    // Phase 5 Slice 6: Dispute Detection\n    const dispute = detectDisputeEscalationSubtype(text, currentMemory);\n    if (dispute) {\n        const pendingIssue = pendingUpdates.get('current_issue')?.new_value;\n        const pendingSubtype = pendingUpdates.get('current_issue_subtype')?.new_value;\n        const preserveOperationalBlocker =\n            pendingIssue === 'cleaning_delayed_checkin' &&\n            dispute.issue_subtype === 'angry_complaint' &&\n            pendingSubtype &&\n            !/(คืนเงิน|ขอคืน|ชดเชย|รีวิว|ฟ้อง|booking\\.com|agoda|airbnb|เจ้าของ|ผู้จัดการ|โกง)/i.test(text);\n        if (!preserveOperationalBlocker) {\n            recordUpdate('current_issue', 'guest_dispute_escalation');\n            recordUpdate('current_issue_subtype', dispute.issue_subtype);\n        }\n        recordUpdate('emotional_signal', dispute.emotional_signal);\n        recordUpdate('authority_escalation', dispute.authority_escalation);\n    }\n\n    const hasPendingIssue = pendingUpdates.has('current_issue');\n    const activeIssue = currentMemory['current_issue'];\n    const hasActiveOperationalIssue = activeIssue &&\n        !activeIssue.is_superseded &&\n        [\n            'room_access_problem',\n            'cleaning_delayed_checkin',\n            'checkout_extension_request',\n            'guest_dispute_escalation',\n            'maintenance_problem'\n        ].includes(activeIssue.value);\n    const isShortIssueFollowUp = /^(ไม่ได้|ยังไม่ได้|อีกนาน|แล้วไง|เมื่อกี้|อันนั้น|ยัง|ทำไง|ช่วยดู|ไม่หาย|เหมือนเดิม)/i.test(text.trim());\n    const isClearTopicShift =\n        !isShortIssueFollowUp &&\n        !hasPendingIssue &&\n        (\n            /(หิว|ร้านอาหาร|ของกิน|กินข้าว|เซเว่น|seven|7-11|ฟิตเนส|สระว่ายน้ำ|เพลง|ฝน|รถติด|เส้นทาง|แผนที่|ร้านขายยา|jett|cosmo)/i.test(text) ||\n            /(บอกผิด|ไม่ได้เอารถ|ไม่เอารถ|เรียกแท็กซี่|นั่งแท็กซี่|แท็กซี่|taxi|grab|bolt)/i.test(text)\n        ) &&\n        !/(เข้าไม่ได้|เข้าตึกไม่ได้|เข้าห้องไม่ได้|เปิดไม่ได้|เปิดไม่ออก|ไม่เจอ|หาไม่เจอ|คืนเงิน|รีวิว|ฟ้อง|booking\\.com|เจ้าของ|ผู้จัดการ|โกง|แอร์ไม่เย็น|แอร์เสีย|น้ำรั่ว|ไฟดับ)/i.test(text);\n\n    if (hasActiveOperationalIssue && isClearTopicShift) {\n        recordSupersedeOnly('current_issue', 'guest clearly shifted to a non-issue topic');\n        recordSupersedeOnly('current_issue_subtype', 'guest clearly shifted to a non-issue topic');\n    }\n\n    pendingUpdates.forEach(update => {\n        memory_actions.push(update);\n    });\n\n    return {\n        memory_actions,\n        ignored_actions\n    };\n}\n\n/**\n * Phase 5 Slice 4: Resolve operational blocker for delayed check-in\n */\nfunction resolveDelayedCheckinBlocker(liveTruth) {\n    if (!liveTruth || !liveTruth.room_status) {\n        return 'readiness_unknown';\n    }\n    const cleaningStatus = liveTruth.room_status.cleaning_status;\n    if (!cleaningStatus || !['clean', 'dirty', 'in_progress'].includes(cleaningStatus)) {\n        return 'readiness_unknown';\n    }\n    if (cleaningStatus !== 'clean') {\n        if (liveTruth.cleaning_task?.dispatch_status === 'sent' && !liveTruth.cleaning_task?.acknowledged_at && liveTruth.cleaning_task?.priority === 'urgent') {\n            return 'housekeeping_no_ack';\n        }\n        return 'cleaning_not_ready';\n    }\n    const accessPrepStatus = liveTruth.access_prep?.status;\n    if (accessPrepStatus !== 'complete') {\n        return 'access_prep_incomplete';\n    }\n    return null;\n}\n\n/**\n * Phase 5 Slice 1 Guest Memory Retrieval Core\n * \n * Retrieves active-stay context based on guest intent, combining raw chat\n * evidence and structured memory without dumping all memory into the prompt.\n */\n\nfunction buildRetrievalContext(intent, rawChatContext, structuredMemory, staySummary = null) {\n    const MAX_RAW_CHAT_MESSAGES = 10;\n    \n    // 1. Always prioritize raw recent chat evidence if it's short\n    const recentChat = rawChatContext.slice(-MAX_RAW_CHAT_MESSAGES);\n    const contextLines = [];\n    \n    contextLines.push('--- RECENT CHAT EVIDENCE ---');\n    recentChat.forEach(msg => {\n        contextLines.push(`[${msg.sender.toUpperCase()}]: ${msg.text}`);\n    });\n    \n    // 2. Select structured memory fields based on intent\n    const relevantMemoryFields = [];\n    \n    const latestGuestText = [...recentChat].reverse().find((msg) => msg.sender === 'guest')?.text ?? '';\n    const isShortIssueFollowUp = intent === 'general_chat' &&\n        /^(ไม่ได้|ยังไม่ได้|อีกนาน|แล้วไง|เมื่อกี้|อันนั้น|ยัง|ทำไง|ช่วยดู|ไม่หาย|เหมือนเดิม)/i.test(String(latestGuestText).trim());\n    const issueAwareIntent = intent === 'arrival_access' || intent === 'service_recovery' || isShortIssueFollowUp;\n\n    // Elevate current_issue only when the current turn still needs issue context.\n    if (issueAwareIntent && structuredMemory['current_issue'] && !structuredMemory['current_issue'].is_superseded) {\n        if (!relevantMemoryFields.includes('current_issue')) relevantMemoryFields.push('current_issue');\n        if (!relevantMemoryFields.includes('current_issue_subtype')) relevantMemoryFields.push('current_issue_subtype');\n    }\n    \n    if (intent === 'arrival_access') {\n        relevantMemoryFields.push('travel_mode', 'parking_mode', 'arrival_state', 'check_in_state', 'current_location_hint', 'room', 'room_access_readiness');\n    } else if (intent === 'local_guidance') {\n        relevantMemoryFields.push('current_location_hint', 'local_needs_hints', 'purpose_context', 'special_notes');\n    } else if (intent === 'service_recovery') {\n        relevantMemoryFields.push('room', 'check_in_state', 'emotional_signal');\n    } else if (intent === 'general_chat') {\n        // Just the basics\n        relevantMemoryFields.push('current_location_hint');\n    } else {\n        // Fallback for unknown intent\n        relevantMemoryFields.push('arrival_state', 'check_in_state');\n    }\n    \n    // 3. Assemble structured memory block\n    const memorySubset = {};\n    for (const field of relevantMemoryFields) {\n        if (structuredMemory[field] && !structuredMemory[field].is_superseded) {\n            memorySubset[field] = structuredMemory[field].value;\n        }\n    }\n    \n    if (Object.keys(memorySubset).length > 0) {\n        contextLines.push('');\n        contextLines.push('--- RELEVANT STAY MEMORY ---');\n        for (const [k, v] of Object.entries(memorySubset)) {\n            // Flatten arrays for readable context\n            const displayValue = Array.isArray(v) ? v.join(', ') : v;\n            contextLines.push(`- ${k}: ${displayValue}`);\n        }\n    }\n    \n    // 4. Include Stay Summary if raw chat is truncated or intent demands deep context\n    // Usually triggered if total chat > 50 messages, represented here by staySummary existence\n    if (staySummary && (rawChatContext.length > MAX_RAW_CHAT_MESSAGES || intent === 'service_recovery')) {\n        contextLines.push('');\n        contextLines.push('--- STAY SUMMARY ---');\n        contextLines.push(staySummary.summary_text);\n    }\n    \n    return contextLines.join('\\n');\n}\n/**\n * Phase 5 Slice 1 Stay Summary Generation Logic\n * \n * Evaluates whether an active stay requires a new or refreshed summary\n * based on conversation length thresholds.\n */\n\nconst SUMMARY_THRESHOLD_INITIAL = 50;\nconst SUMMARY_THRESHOLD_REFRESH = 20;\n\nfunction evaluateSummaryTrigger(rawChatContext, existingSummary = null) {\n    const messageCount = rawChatContext.length;\n\n    if (!existingSummary) {\n        if (messageCount >= SUMMARY_THRESHOLD_INITIAL) {\n            return {\n                action: 'create_summary',\n                message_count_at_generation: messageCount,\n                instruction: 'Summarize the entire conversation history. Focus on guest needs, issues, and sentiment.'\n            };\n        }\n    } else {\n        const diff = messageCount - existingSummary.message_count_at_generation;\n        if (diff >= SUMMARY_THRESHOLD_REFRESH) {\n            return {\n                action: 'refresh_summary',\n                message_count_at_generation: messageCount,\n                instruction: 'Update the existing summary with the latest context. Retain old critical issues.'\n            };\n        }\n    }\n\n    return {\n        action: 'skip',\n        reason: 'threshold_not_met'\n    };\n}\n\nfunction normalizePolicyText(value) {\n    return String(value ?? '').trim().toLowerCase();\n}\n\nfunction hasDelayedCheckinAuthorityEscalation(text) {\n    return /(คืนเงิน|refund|ชดเชย|โกง|ฟ้อง|ผู้จัดการ|manager|เจ้าของ|รับผิดชอบ|ยกเลิกการจอง|cancel booking)/i.test(text);\n}\n\nfunction hasDelayedCheckinTimingPressure(text) {\n    return /(อีกกี่นาที|อีกนานไหม|อีกนานมั้ย|เมื่อไหร่จะพร้อม|กี่โมงจะพร้อม|ตอนไหนจะพร้อม|พร้อมเมื่อไหร่|เสร็จหรือยัง|รอนานมาก|นานเกินไป)/i.test(text);\n}\n\nfunction evaluateDelayedCheckinPolicy({ guestText, blocker, currentMode = 'safe_auto' }) {\n    const text = normalizePolicyText(guestText);\n\n    if (currentMode === 'internal_now') {\n        return { send_mode: 'internal_now', reason: 'existing_internal_now' };\n    }\n\n    if (hasDelayedCheckinAuthorityEscalation(text)) {\n        return { send_mode: 'internal_now', reason: 'cleaning_delayed_checkin_authority_bound_escalation' };\n    }\n\n    if (blocker === 'readiness_unknown') {\n        return { send_mode: 'draft_only', reason: 'cleaning_delayed_checkin_unknown_truth' };\n    }\n\n    if (currentMode === 'draft_only') {\n        return { send_mode: 'draft_only', reason: 'existing_draft_only' };\n    }\n\n    if (hasDelayedCheckinTimingPressure(text)) {\n        return { send_mode: 'draft_only', reason: 'cleaning_delayed_checkin_needs_timing_review' };\n    }\n\n    return { send_mode: 'safe_auto', reason: 'cleaning_delayed_checkin_safe_holding_reply' };\n}\n\nfunction buildDelayedCheckinHoldingReply(blocker) {\n    switch (blocker) {\n        case 'housekeeping_no_ack':\n            return 'ตอนนี้ห้องยังไม่พร้อมเข้าพักนะคะ ทางทีมกำลังเร่งประสานงานให้ค่ะ รบกวนรอสักครู่นะคะ';\n        case 'access_prep_incomplete':\n            return 'ตอนนี้ห้องยังไม่พร้อมเข้าพักนะคะ กำลังตรวจสอบความพร้อมให้เรียบร้อยก่อนค่ะ รบกวนรอสักครู่นะคะ';\n        case 'cleaning_not_ready':\n            return 'ตอนนี้ห้องยังไม่พร้อมเข้าพักนะคะ ทางทีมกำลังเตรียมห้องให้ค่ะ รบกวนรอสักครู่นะคะ';\n        case 'readiness_unknown':\n            return 'ตอนนี้กำลังตรวจสอบความพร้อมของห้องให้อยู่นะคะ รบกวนรอสักครู่นะคะ';\n        default:\n            return 'ตอนนี้กำลังตรวจสอบความพร้อมของห้องให้อยู่นะคะ รบกวนรอสักครู่นะคะ';\n    }\n}\n\nfunction hasUnsafeDelayedCheckinReadyWording(text) {\n    return /(ขึ้นห้องได้เลย|เข้าห้องได้เลย|ห้องเปิดไว้|กุญแจวางอยู่ในห้อง|กุญแจอยู่ในห้อง|ห้องพร้อมแล้ว|เข้าไปได้เลย)/i.test(String(text ?? ''));\n}\n\n/**\n * Phase 5 Slice 3: Deterministic Policy Gate\n * \n * Enforces safe boundaries over LLM's recommended send mode.\n */\nfunction evaluateSendMode(aiUnderstanding, intent) {\n    const riskFlags = Array.isArray(aiUnderstanding.risk_flags) ? aiUnderstanding.risk_flags : [];\n    const hasRisk = riskFlags.some(flag => flag !== 'none' && flag !== '');\n\n    // 1 (Highest): Risk flags present\n    if (hasRisk) {\n        const hasHighRiskFlags = riskFlags.some(flag => ['threat', 'accusation', 'legal', 'platform', 'authority_required', 'angry', 'refund', 'compensation'].includes(flag));\n        if (riskFlags.includes('money') && !hasHighRiskFlags) {\n            return { send_mode: 'draft_only', reason: `calm_money_risk_draft_only` };\n        }\n        return { send_mode: 'internal_now', reason: `risk_flags_present: ${riskFlags.join(', ')}` };\n    }\n\n    // 2: Unknown SOP or intent\n    if (aiUnderstanding.suggested_sop_family === 'unknown' || intent === 'unknown_knowledge_gap') {\n        return { send_mode: 'internal_now', reason: 'unknown_sop_or_intent' };\n    }\n\n    // 3: Low confidence\n    if (aiUnderstanding.confidence_level === 'low') {\n        return { send_mode: 'internal_now', reason: 'low_confidence' };\n    }\n\n    // 4: Operational truth verification needed\n    const truthRequiringIntents = ['early_checkin_request', 'extension_interest', 'late_checkout_request', 'room_move_request', 'service_recovery', 'compensation_request'];\n    if (truthRequiringIntents.includes(intent) || aiUnderstanding.suggested_sop_family === 'service_recovery') {\n        return { send_mode: 'draft_only', reason: `operational_truth_required` };\n    }\n\n    // 5: Medium confidence\n    if (aiUnderstanding.confidence_level === 'medium') {\n        return { send_mode: 'draft_only', reason: 'medium_confidence' };\n    }\n\n    // 6 (Lowest): Safe Auto\n    return { send_mode: 'safe_auto', reason: 'low_risk_approved_sop' };\n}\n\nconst MAINTENANCE = [\n  [/แอร์.*(ไม่เย็น|เสีย|น้ำหยด|เสียงดัง)/, \"aircon_not_cooling\"],\n  [/(น้ำรั่ว|น้ำหยด|ท่อแตก)/, \"water_leak\"],\n  [/(ไฟดับ|ไฟไม่ติด)/, \"electrical_problem\"],\n  [/(ควัน|กลิ่นไหม้|ไฟไหม้)/, \"fire_or_smoke\"],\n];\n\nfunction buildGuestIncidentCandidate({\n  text,\n  conversationId,\n  bookingId,\n  roomId,\n  sourceEventId,\n  correlationId,\n  currentTopic,\n  activeIncidents,\n}) {\n  const raw = String(text ?? '').trim();\n  if (!raw) return null;\n\n  let issueFamily = null;\n  let issueSubtype = null;\n  let severity = \"normal\";\n\n  // 1. Check maintenance keywords\n  for (const [pattern, subtype] of MAINTENANCE) {\n    if (pattern.test(raw)) {\n      issueFamily = \"maintenance\";\n      issueSubtype = subtype;\n      if (subtype === \"fire_or_smoke\") {\n        severity = \"urgent\";\n      }\n      break;\n    }\n  }\n\n  // 2. Check memory actions via extractMemory\n  if (!issueFamily) {\n    const memResult = extractMemory({ text: raw, id: sourceEventId || 'unknown' }, {}, {});\n    const actions = memResult?.memory_actions || [];\n    const issueAction = actions.find(a => a.field === 'current_issue');\n    const subtypeAction = actions.find(a => a.field === 'current_issue_subtype');\n    if (issueAction && subtypeAction) {\n      issueFamily = issueAction.new_value;\n      issueSubtype = subtypeAction.new_value;\n\n      if (issueFamily === \"checkout_extension_request\" && issueSubtype === \"checkout_policy_question\") {\n        return null;\n      }\n\n      if (issueFamily === \"guest_dispute_escalation\") {\n        const emoAction = actions.find(a => a.field === 'emotional_signal');\n        const emo = emoAction ? emoAction.new_value : 'calm';\n        severity = (emo === 'angry' || emo === 'threatening' || ['negative_review_or_social_threat', 'legal_or_platform_escalation', 'owner_manager_request'].includes(issueSubtype)) ? 'urgent' : 'normal';\n      } else if (issueFamily === \"room_access_problem\") {\n        severity = \"urgent\";\n      } else if (issueFamily === \"cleaning_delayed_checkin\") {\n        severity = \"urgent\";\n      } else if (issueFamily === \"checkout_extension_request\") {\n        const isPricing = /(คิดเพิ่ม|จ่ายเพิ่ม|ฟรี|ไม่จ่ายเพิ่ม|คืนเงิน|เท่าไหร่|กี่บาท)/i.test(raw);\n        severity = isPricing ? \"urgent\" : \"high\";\n      }\n    }\n  }\n\n  // 3. Check ambiguous follow up with active incident\n  const isAmbiguous = /^(แล้วไง|อีกนานไหม|ยังไม่ได้|เมื่อกี้ล่ะ)$/i.test(raw);\n  if (!issueFamily && isAmbiguous && Array.isArray(activeIncidents)) {\n    const plausible = activeIncidents.filter(inc => inc.status !== \"resolved\" && inc.status !== \"closed\");\n    if (plausible.length === 1) {\n      issueFamily = plausible[0].issue_family;\n      issueSubtype = plausible[0].issue_subtype;\n      severity = plausible[0].severity || \"normal\";\n    }\n  }\n\n  if (issueFamily && issueSubtype) {\n    return {\n      source_surface: \"guest_oa\",\n      source_event_id: sourceEventId,\n      correlation_id: correlationId,\n      idempotency_key: `guest_oa:${sourceEventId}:${issueFamily}`,\n      conversation_id: conversationId,\n      booking_id: bookingId,\n      room_id: roomId,\n      issue_family: issueFamily,\n      issue_subtype: issueSubtype,\n      severity: severity,\n      latest_evidence_text: text,\n      requires_internal_ops: true,\n      requires_owner: true\n    };\n  }\n\n  return null;\n}\n\nfunction canAttachAmbiguousFollowUp(text, recentTurns, activeIncidents) {\n  const ambiguous = /^(แล้วไง|อีกนานไหม|ยังไม่ได้|เมื่อกี้ล่ะ)$/i.test(text.trim());\n  if (!ambiguous) return false;\n  if (!Array.isArray(activeIncidents)) return false;\n  const plausible = activeIncidents.filter((incident) => incident.status !== \"resolved\");\n  if (plausible.length !== 1) return false;\n  if (!Array.isArray(recentTurns) || recentTurns.length === 0) return false;\n  return recentTurns[0]?.incident_id === plausible[0].id;\n}\n\n// ----------------------------------\n\nconst p5actions = reply.phase5_memory_actions;\nconst guestMessage = typeof reply.guest_text === 'string' ? reply.guest_text : '-';\n\n// Persist inbound guest evidence so later turns can resolve multi-message booking\n// claims and retrieval can rely on real chat history even in direct n8n tests.\nif (reply.conversation_id && guestMessage && guestMessage !== '-') {\n  addRequest(\n    \"record_inbound_conversation_message\",\n    \"POST\",\n    $env.SUPABASE_URL + \"/rest/v1/conversation_messages\",\n    {\n      conversation_id: reply.conversation_id,\n      line_webhook_event_id: uuidOrNull(reply.source_event_id),\n      correlation_id: uuidOrNull(reply.correlation_id),\n      sender_type: \"guest\",\n      sender_ref: reply.line_user_id ?? reply.actor?.line_user_id ?? null,\n      channel: \"guest_oa\",\n      message_type: \"text\",\n      body: guestMessage,\n      language: reply.language ?? \"th\",\n      direction: \"inbound\",\n      visibility: \"guest_visible\",\n      contains_room_access_info: false,\n      contains_personal_data: true,\n    }\n  );\n}\n\n// Phase 5 Memory updates\nif (Array.isArray(p5actions) && p5actions.length > 0) {\n  addRpc(\"phase5_apply_memory_actions\", {\n    p_conversation_id: reply.conversation_id ?? null,\n    p_source_event_id: reply.source_event_id ?? null,\n    p_actions: p5actions,\n    p_created_by: \"guest_oa_extraction\",\n  });\n}\n// Dynamically fetch active incidents to pass to candidate builder\nlet activeIncidents = [];\nif (reply.conversation_id) {\n  try {\n    const getIncidentsResponse = await this.helpers.httpRequest({\n      method: 'GET',\n      url: $env.SUPABASE_URL + '/rest/v1/operational_incidents?conversation_id=eq.' + reply.conversation_id + '&status=in.(open,acknowledged,in_progress)&select=id,status,issue_family,issue_subtype,severity',\n      headers: { apikey: $env.SUPABASE_SERVICE_ROLE_KEY, Authorization: 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY, 'Content-Type': 'application/json' },\n      json: true\n    });\n    activeIncidents = Array.isArray(getIncidentsResponse) ? getIncidentsResponse : [];\n  } catch (e) {\n    // Ignore\n  }\n}\n\n// Build Guest Incident Candidate\nlet incidentCandidate = buildGuestIncidentCandidate({\n  text: guestMessage,\n  conversationId: reply.conversation_id ?? null,\n  bookingId: bookingId,\n  roomId: roomId,\n  sourceEventId: reply.source_event_id ?? null,\n  correlationId: reply.correlation_id ?? null,\n  currentTopic: reply.interpreted_topic ?? \"general_chat\",\n  activeIncidents: activeIncidents\n});\n\nconst p5IssueAction = Array.isArray(p5actions) ? p5actions.find((action) => action?.field === 'current_issue') : null;\nconst p5SubtypeAction = Array.isArray(p5actions) ? p5actions.find((action) => action?.field === 'current_issue_subtype') : null;\nif (p5IssueAction?.new_value && p5SubtypeAction?.new_value) {\n  const issueFamily = p5IssueAction.new_value;\n  const issueSubtype = p5SubtypeAction.new_value;\n  const shouldIgnoreIssueAction = issueFamily === 'checkout_extension_request' && issueSubtype === 'checkout_policy_question';\n  if (!shouldIgnoreIssueAction) {\n  const isCheckoutPricingPressure =\n    issueFamily === 'checkout_extension_request' &&\n    /(คิดเพิ่ม|จ่ายเพิ่ม|ฟรี|ไม่จ่ายเพิ่ม|คืนเงิน|เท่าไหร่|กี่บาท)/i.test(guestMessage);\n  const severity = (\n    issueFamily === 'room_access_problem' ||\n    issueFamily === 'cleaning_delayed_checkin' ||\n    isCheckoutPricingPressure ||\n    (issueFamily === 'guest_dispute_escalation' && !['deposit_refund_dispute', 'refund_request'].includes(issueSubtype))\n  ) ? 'urgent' : (\n    issueFamily === 'checkout_extension_request' ? 'high' : (incidentCandidate?.severity || 'normal')\n  );\n  incidentCandidate = {\n    source_surface: 'guest_oa',\n    source_event_id: reply.source_event_id ?? null,\n    correlation_id: reply.correlation_id ?? null,\n    idempotency_key: 'guest_oa:' + (reply.source_event_id ?? reply.correlation_id ?? Date.now()) + ':' + issueFamily,\n    conversation_id: reply.conversation_id ?? null,\n    booking_id: bookingId,\n    room_id: roomId,\n    issue_family: issueFamily,\n    issue_subtype: issueSubtype,\n    severity,\n    latest_evidence_text: guestMessage,\n    requires_internal_ops: true,\n    requires_owner: true\n  };\n  }\n}\n\nif (!incidentCandidate) {\n  const activeIssueFamily = reply.phase5_memory?.current_issue?.value;\n  const activeIssueSubtype = reply.phase5_memory?.current_issue_subtype?.value;\n  const isKnownOperationalFamily = [\n    'checkout_extension_request',\n    'guest_dispute_escalation',\n    'cleaning_delayed_checkin',\n    'room_access_problem',\n  ].includes(activeIssueFamily);\n  const isCheckoutPricingPressure =\n    activeIssueFamily === 'checkout_extension_request' &&\n    (\n      /checkout_extension_pricing|pricing_waiver/i.test(String(reply.p5send_reason ?? '')) ||\n      /(คิดเพิ่ม|จ่ายเพิ่ม|ฟรี|ไม่จ่ายเพิ่ม|คืนเงิน|เท่าไหร่|กี่บาท)/i.test(guestMessage)\n    );\n  const isIssueBoundFollowUp =\n    isCheckoutPricingPressure ||\n    (activeIssueFamily === 'cleaning_delayed_checkin' && /^cleaning_delayed_checkin/i.test(String(reply.p5send_reason ?? ''))) ||\n    (activeIssueFamily === 'room_access_problem' && /room_access|service_recovery/i.test(String(reply.p5send_reason ?? ''))) ||\n    (activeIssueFamily === 'guest_dispute_escalation' && ['draft_only', 'internal_now'].includes(reply.p5send_mode));\n\n  if (isKnownOperationalFamily && activeIssueSubtype && isIssueBoundFollowUp) {\n    const severity = (\n      activeIssueFamily === 'room_access_problem' ||\n      activeIssueFamily === 'cleaning_delayed_checkin' ||\n      isCheckoutPricingPressure ||\n      (activeIssueFamily === 'guest_dispute_escalation' && !['deposit_refund_dispute', 'refund_request'].includes(activeIssueSubtype))\n    ) ? 'urgent' : (\n      activeIssueFamily === 'checkout_extension_request' ? 'high' : 'normal'\n    );\n    incidentCandidate = {\n      source_surface: 'guest_oa',\n      source_event_id: reply.source_event_id ?? null,\n      correlation_id: reply.correlation_id ?? null,\n      idempotency_key: 'guest_oa:' + (reply.source_event_id ?? reply.correlation_id ?? Date.now()) + ':' + activeIssueFamily,\n      conversation_id: reply.conversation_id ?? null,\n      booking_id: bookingId,\n      room_id: roomId,\n      issue_family: activeIssueFamily,\n      issue_subtype: activeIssueSubtype,\n      severity,\n      latest_evidence_text: guestMessage,\n      requires_internal_ops: true,\n      requires_owner: true\n    };\n  }\n}\n\nif (incidentCandidate) {\n  incidentCandidate.final_delivery_mode = reply.p5send_mode ?? null;\n  incidentCandidate.model_recommended_mode = reply.p5recommended_mode ?? null;\n\n  // Post incident candidate to public.report_operational_incident RPC\n  addRequest(\n    \"report_operational_incident\",\n    \"POST\",\n    $env.SUPABASE_URL + \"/rest/v1/rpc/report_operational_incident\",\n    { p_incident: incidentCandidate }\n  );\n\n  // If delayed check-in, merge housekeeping task\n  if (incidentCandidate.issue_family === 'cleaning_delayed_checkin') {\n    const subtype = incidentCandidate.issue_subtype;\n    if (subtype !== 'access_prep_incomplete' && (roomId || bookingId)) {\n      const housekeepingTaskType = subtype === 'readiness_unknown' ? 'inspection' : 'turnover_cleaning';\n      const housekeepingInstructions = {\n        cleaning_not_ready: 'ลูกค้าพร้อมเช็กอินแล้ว แต่ห้องยังไม่พร้อม กรุณาเร่งเตรียมห้องและอัปเดตสถานะทันที',\n        housekeeping_no_ack: 'ลูกค้ารอเช็กอินอยู่ กรุณารับทราบงานและอัปเดตสถานะห้องทันที',\n        readiness_unknown: 'ลูกค้ารอเช็กอินอยู่ แต่สถานะห้องยังไม่ชัดเจน กรุณาตรวจสอบหน้างานและอัปเดตสถานะ',\n      }[subtype] || 'ลูกค้ารอเช็กอินอยู่ กรุณาตรวจสอบความพร้อมของห้องและอัปเดตสถานะทันที';\n\n      // Find case ID if already existing:\n      let existingCaseId = null;\n      try {\n        const getCasesResponse = await this.helpers.httpRequest({\n          method: 'GET',\n          url: $env.SUPABASE_URL + '/rest/v1/internal_ops_cases?conversation_id=eq.' + reply.conversation_id + '&status=in.(waiting_admin,assigned,in_progress,open)&select=id,case_context_snapshot',\n          headers: { apikey: $env.SUPABASE_SERVICE_ROLE_KEY, Authorization: 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY, 'Content-Type': 'application/json' },\n          json: true\n        });\n        const openCases = Array.isArray(getCasesResponse) ? getCasesResponse : [];\n        const delayedCheckinCase = openCases.find(c => c.case_context_snapshot?.alert_kind === 'cleaning_delayed_checkin');\n        if (delayedCheckinCase) {\n          existingCaseId = delayedCheckinCase.id;\n        }\n      } catch (e) {\n        // Ignore\n      }\n\n      addRpc(\"merge_housekeeping_cleaning_task\", {\n        p_task: {\n          task_key: 'phase5-delayed-checkin:' + (roomId || bookingId) + ':' + housekeepingTaskType,\n          room_id: roomId,\n          booking_id: bookingId,\n          internal_ops_case_id: existingCaseId,\n          task_type: housekeepingTaskType,\n          priority: 'urgent',\n          instructions: housekeepingInstructions,\n          source: 'concierge'\n        },\n        p_source_event_id: reply.source_event_id ?? null,\n      });\n    }\n  }\n}\n\n// Create message draft if p5send_mode is 'draft_only'\nif (reply.p5send_mode === 'draft_only') {\n  addRequest(\n    \"phase5_create_draft\",\n    \"POST\",\n    $env.SUPABASE_URL + \"/rest/v1/message_drafts\",\n    {\n      conversation_id: reply.conversation_id ?? null,\n      booking_id: bookingId,\n      draft_text: (reply.texts || []).join(\"\\\\n\\\\n\"),\n      draft_purpose: \"follow_up\",\n      channel_target: \"guest_oa\",\n      delivery_mode: \"admin_copy_paste\",\n      draft_surface: \"internal_ops_oa\",\n      draft_trigger: \"auto\",\n      status: \"draft\",\n      approval_required: true,\n      auto_send_allowed: false,\n      draft_importance: \"routine\",\n      language: reply.language ?? \"th\",\n      guest_display_snapshot: reply.booking?.guest_name_snapshot || reply.guest?.guest_name || roomCode || 'ลูกค้า',\n      room_code_snapshot: roomCode || reply.booking?.rooms?.room_code || null,\n      platform_snapshot: reply.booking?.platform || reply.guest?.platform || null,\n      reservation_number_snapshot: reply.booking?.reservation_number || reply.guest?.reservation_number || null,\n      visible_context_summary: reply.visible_context_summary || null,\n      evidence_summary: reply.evidence_summary || null,\n      latest_guest_message_excerpt: guestMessage || null,\n      admin_action_needed: reply.admin_action_needed || \"โปรดตรวจสอบและแก้ไขร่างข้อความ\",\n      reason: reply.p5send_reason,\n      case_context_snapshot: { \n        intent: reply.intent, \n        reason: reply.p5send_reason, \n        risk_flags: reply.risk_flags,\n        final_delivery_mode: reply.p5send_mode,\n        model_recommended_mode: reply.p5recommended_mode,\n        correlation_id: reply.correlation_id\n      },\n      request_idempotency_key: (reply.correlation_id ?? Date.now().toString()) + \"_draft\"\n    }\n  );\n}\n\nconst p5summaryDecision = reply.phase5_summary_decision ?? null;\nconst p5summaryText = typeof reply.phase5_generated_summary_text === \"string\"\n  ? reply.phase5_generated_summary_text.trim()\n  : \"\";\nif (\n  reply.conversation_id &&\n  p5summaryText &&\n  (p5summaryDecision?.action === \"create_summary\" || p5summaryDecision?.action === \"refresh_summary\")\n) {\n  addRequest(\n    \"patch_phase5_existing_stay_summaries\",\n    \"PATCH\",\n    $env.SUPABASE_URL + \"/rest/v1/stay_summaries?conversation_id=eq.\" + reply.conversation_id + \"&is_superseded=eq.false\",\n    {\n      is_superseded: true,\n    }\n  );\n  addRequest(\n    \"insert_phase5_stay_summary\",\n    \"POST\",\n    $env.SUPABASE_URL + \"/rest/v1/stay_summaries\",\n    {\n      conversation_id: reply.conversation_id,\n      summary_text: p5summaryText,\n      message_count_at_generation: Number(p5summaryDecision?.message_count_at_generation ?? 0),\n      is_superseded: false,\n    }\n  );\n}\n\nreturn out;"
        },
        "id": "p3-guest-009",
        "name": "Prepare Phase3 side effects",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1080,
          120
        ]
      },
      {
        "parameters": {
          "method": "={{ $json.method || 'POST' }}",
          "url": "={{ $json.url }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.body }}",
          "options": {}
        },
        "id": "p3-guest-010",
        "name": "Apply Phase3 side effects",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1320,
          120
        ],
        "onError": "stopNode"
      },
      {
        "parameters": {
          "jsCode": "const input = items[0].json;\n\n// --- INJECTED PHASE 5 FUNCTIONS ---\n/**\n * Phase 5 Slice 1 Guest Memory Extraction\n * \n * Deterministically extracts low-risk factual stay context from guest messages.\n * Guards high-risk truth by refusing to extract them casually.\n * \n * Returns a canonical write payload ready for DB persistence (RPC or DML).\n */\n\nfunction detectDisputeEscalationSubtype(text, currentMemory = {}) {\n    const raw = String(text ?? '').trim();\n    const normalized = raw.toLowerCase();\n\n    // First check negative controls explicitly to avoid false positives\n    const isNegativeControl = \n        /ปกติมัดจำคืนเมื่อไหร่/i.test(normalized) ||\n        /ขอใบเสร็จ/i.test(normalized) ||\n        /ปกติเช็กเอาต์/i.test(normalized) ||\n        /ปกติเช็คเอาท์/i.test(normalized) ||\n        /เซเว่นอยู่ตรงไหน/i.test(normalized);\n    if (isNegativeControl) {\n        return null;\n    }\n\n    // 1. Negative Review or Social Threat\n    const hasReviewThreat = /(รีวิวแย่|รีวิว 1 ดาว|รีวิวประจาน|จะรีวิว|1 ดาว|ดิสเครดิต|ประจาน|social|post facebook|ลงเฟส|ลงกลุ่ม)/i.test(normalized);\n    if (hasReviewThreat) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"negative_review_or_social_threat\",\n            emotional_signal: \"threatening\",\n            authority_escalation: \"review_threat\",\n            risk_flags: [\"money\", \"threat\"],\n            recommended_mode: \"internal_now\"\n        };\n    }\n\n    // 2. Fraud or Scam Accusation\n    const hasFraudAccusation = /(โกง|หลอกลวง|ต้มตุ๋น|scam|fraud|cheat)/i.test(normalized);\n    if (hasFraudAccusation) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"deposit_refund_dispute\",\n            emotional_signal: \"angry\",\n            authority_escalation: \"money_dispute\",\n            risk_flags: [\"money\", \"accusation\"],\n            recommended_mode: \"internal_now\"\n        };\n    }\n\n    // 3. Legal or Platform Escalation\n    const hasLegalAuthority = /(ฟ้อง|ดำเนินคดี|ตำรวจ|แจ้งความ|legal|lawsuit)/i.test(normalized);\n    const mentionsPlatform = /(booking\\.com|agoda|airbnb|platform)/i.test(normalized);\n    const hasPlatformEscalation = mentionsPlatform &&\n        /(แจ้ง|ร้องเรียน|คอมเพลน|ฟ้อง|ดำเนินคดี|เอาเรื่อง|รีพอร์ต|report|complain|claim|ไม่จบ|ถ้าไม่|จะ)/i.test(normalized) &&\n        !/(จองผ่าน|จองจาก|จองใน|จองทาง|booking channel|booked through)/i.test(normalized);\n    if (hasLegalAuthority || hasPlatformEscalation) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"legal_or_platform_escalation\",\n            emotional_signal: \"angry\",\n            authority_escalation: \"legal_platform\",\n            risk_flags: [\"legal\", \"platform\"],\n            recommended_mode: \"internal_now\"\n        };\n    }\n\n    // 4. Owner or Manager Request\n    const hasOwnerManager = /(คุยกับเจ้าของ|คุยกับผู้จัดการ|ติดต่อเจ้าของ|ติดต่อผู้จัดการ|ขอสายเจ้าของ|ขอสายผู้จัดการ|ขอคุยกับเจ้าของ|ขอคุยกับผู้จัดการ|talk to manager|talk to owner|contact manager|contact owner)/i.test(normalized);\n    if (hasOwnerManager) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"owner_manager_request\",\n            emotional_signal: \"frustrated\",\n            authority_escalation: \"owner_manager\",\n            risk_flags: [\"authority_required\"],\n            recommended_mode: \"internal_now\"\n        };\n    }\n\n    // 5. Compensation Request\n    const hasCompensation = /(ชดเชย|ค่าเสียเวลา|เยียวยา|ลดราคา|ส่วนลด|compensation|discount)/i.test(normalized);\n    if (hasCompensation) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"compensation_request\",\n            emotional_signal: \"frustrated\",\n            authority_escalation: \"money_dispute\",\n            risk_flags: [\"money\", \"compensation\"],\n            recommended_mode: \"internal_now\"\n        };\n    }\n\n    // 6. Refund Request\n    const hasRefund = /(คืนเงิน|ขอคืน|โอนคืน|refund)/i.test(normalized);\n    if (hasRefund) {\n        const isDepositDispute = /(มัดจำ|deposit)/i.test(normalized);\n        const isCalm = /ครับ|ค่ะ|คะ|รบกวน|สอบถาม/i.test(normalized) && !/(เดี๋ยวนี้|ทันที|โกง|แย่|ช้า|ไม่พอใจ)/i.test(normalized);\n        \n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: isDepositDispute ? \"deposit_refund_dispute\" : \"refund_request\",\n            emotional_signal: isCalm ? \"calm\" : \"angry\",\n            authority_escalation: \"money_dispute\",\n            risk_flags: isCalm ? [\"money\"] : [\"money\", \"refund\"],\n            recommended_mode: isCalm ? \"draft_only\" : \"internal_now\"\n        };\n    }\n\n    // 7. Angry Complaint\n    const hasAngryComplaint = /(แย่มาก|ห่วย|ช้ามาก|รอนาน|โมโห|หงุดหงิด|ไม่พอใจ|แย่|angry|disappointed|unacceptable)/i.test(normalized);\n    if (hasAngryComplaint) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"angry_complaint\",\n            emotional_signal: \"angry\",\n            authority_escalation: \"out_of_sop\",\n            risk_flags: [\"angry\"],\n            recommended_mode: \"internal_now\"\n        };\n    }\n\n    // 8. General Deposit/Money Calm Questions (Account specific)\n    const isCalmDepositQuery = /(เงินมัดจำ|มัดจำ).*?(เมื่อไหร่|กี่โมง|ตอนไหน|โอนคืน)/i.test(normalized) && \n        (/(ของผม|ของฉัน|ของเค้า|หนู|เรา|my)/i.test(normalized) || !/ปกติ/i.test(normalized));\n    if (isCalmDepositQuery) {\n        return {\n            issue_family: \"guest_dispute_escalation\",\n            issue_subtype: \"deposit_refund_dispute\",\n            emotional_signal: \"calm\",\n            authority_escalation: \"money_dispute\",\n            risk_flags: [\"money\"],\n            recommended_mode: \"draft_only\"\n        };\n    }\n\n    return null;\n}\n\nfunction evaluateDisputeSendMode(dispute, guestText, currentMemory = {}) {\n    if (!dispute) {\n        return { send_mode: 'safe_auto', reason: 'non_dispute_factual_policy' };\n    }\n    \n    const riskFlags = dispute.risk_flags || [];\n    const subtype = dispute.issue_subtype;\n    const emotional = dispute.emotional_signal;\n\n    const isHighRisk = \n        emotional === 'angry' || \n        emotional === 'threatening' || \n        subtype === 'negative_review_or_social_threat' || \n        subtype === 'legal_or_platform_escalation' || \n        subtype === 'owner_manager_request' || \n        riskFlags.includes('threat') || \n        riskFlags.includes('accusation') ||\n        riskFlags.includes('refund') ||\n        riskFlags.includes('compensation') ||\n        riskFlags.includes('legal');\n\n    if (isHighRisk) {\n        return { send_mode: 'internal_now', reason: `dispute_high_risk_${subtype}_${emotional}` };\n    }\n\n    if (subtype === 'deposit_refund_dispute' || subtype === 'refund_request' || riskFlags.includes('money')) {\n        return { send_mode: 'draft_only', reason: `dispute_calm_account_specific_money` };\n    }\n\n    return { send_mode: 'internal_now', reason: `dispute_default_escalation` };\n}\n\nfunction detectCheckoutExtensionSubtype(text, currentMemory = {}) {\n    const activeIssue = currentMemory['current_issue'];\n    const isExtensionFollowUp = activeIssue?.value === 'checkout_extension_request' && !activeIssue.is_superseded;\n    const hasCheckoutContext = /(เช็กเอาต์|เช็คเอาท์|เช็กเอาท์|เช็คเอาต์|checkout|check out|ออกจากห้อง|คืนห้อง)/i.test(text);\n    const hasExplicitLateCue = /(ขอเลท|เลทเช็กเอาต์|เลทเช็คเอาท์|เลทเช็กเอาท์|เลทเช็คเอาต์|ขอออกเลท|ออกเลท|เลทได้ไหม|เลทได้มั้ย)/i.test(text);\n    const hasLateTimeCue = /(บ่ายสอง|บ่ายโมง|เที่ยงครึ่ง|ออกบ่าย)/i.test(text);\n    const isPolicyQuestion = /(เช็กเอาต์กี่โมง|เช็คเอาท์กี่โมง|เช็กเอาท์เวลา|เช็คเอาท์เวลา|เวลาเช็กเอาต์|เวลาเช็คเอาท์|ปกติเช็กเอาต์|ปกติเช็คเอาท์|ออกกี่โมง)/i.test(text) &&\n        !/(เลท|ขอออก)/i.test(text);\n    const isLateCheckout = hasExplicitLateCue || (hasCheckoutContext && hasLateTimeCue) || (isExtensionFollowUp && hasLateTimeCue);\n    const isStayExtension = /(อยู่ต่อ|อีกคืน|พักต่อ|จองต่อ|เพิ่มอีก|คืนนี้ต่อ|ต่อห้อง)/i.test(text);\n    const isPricingFollowUp = /(คิดเพิ่มเท่าไหร่|ขอฟรีได้ไหม|ไม่จ่ายเพิ่ม|ถ้าไม่ได้จะขอคืนเงิน|ฟรีได้ไหม|คิดเท่าไหร่|เท่าไหร่|กี่บาท)/i.test(text);\n\n    if (isStayExtension) return 'stay_extension_request';\n    if (isLateCheckout) return 'late_checkout_request';\n    if (isPolicyQuestion) return 'checkout_policy_question';\n    if (isExtensionFollowUp && isPricingFollowUp) {\n        return currentMemory['current_issue_subtype']?.value || 'checkout_policy_question';\n    }\n    return null;\n}\n\nfunction extractMemory(message, currentMemory = {}, liveTruth = {}) {\n    const text = message.text || '';\n    const messageId = message.id || 'unknown';\n    const timestamp = message.timestamp || new Date().toISOString();\n    const actor = message.sender === 'system' ? 'system_extraction' : 'guest_extraction';\n\n    const memory_actions = [];\n    const ignored_actions = [];\n\n    // Use a map to accumulate field updates before pushing\n    const pendingUpdates = new Map();\n\n    const recordUpdate = (field, value, confidence = 'high') => {\n        const existing = currentMemory[field];\n        \n        if (field === 'local_needs_hints') {\n            let currentArr = pendingUpdates.has(field) \n                ? pendingUpdates.get(field).new_value \n                : (existing?.value || []);\n                \n            if (!currentArr.includes(value)) {\n                pendingUpdates.set(field, {\n                    action: 'insert_and_supersede',\n                    field,\n                    new_value: [...currentArr, value],\n                    confidence,\n                    source_message_id: messageId,\n                    actor,\n                    timestamp,\n                    supersedes_memory_id: existing?.id || null,\n                    old_value: existing?.value || null\n                });\n            }\n            return;\n        }\n        \n        if (!existing || existing.value !== value) {\n            pendingUpdates.set(field, {\n                action: 'insert_and_supersede',\n                field,\n                new_value: value,\n                confidence,\n                source_message_id: messageId,\n                actor,\n                timestamp,\n                supersedes_memory_id: existing?.id || null,\n                old_value: existing?.value || null\n            });\n        }\n    };\n\n    // Helper to log ignored high-risk extraction attempts\n    const recordIgnored = (field, reason) => {\n        ignored_actions.push({\n            field,\n            source_message_id: messageId,\n            reason\n        });\n    };\n\n    const recordSupersedeOnly = (field, reason) => {\n        const existing = currentMemory[field];\n        if (!existing || existing.is_superseded) return;\n        pendingUpdates.set(field, {\n            action: 'mark_superseded',\n            field,\n            reason,\n            confidence: existing.confidence || 'medium',\n            source_message_id: messageId,\n            actor,\n            timestamp,\n            supersedes_memory_id: existing.id || null,\n            old_value: existing.value ?? null\n        });\n    };\n\n    // 1. Travel Mode\n    const mentionsTaxi = /(แท็กซี่|taxi|แกรป|grab|bolt)/i.test(text);\n    const mentionsCar = /(ขับรถ|นั่งรถ|รถส่วนตัว|เอารถมา)/.test(text);\n    const correctsAwayFromCar = /(บอกผิด|ไม่ได้เอารถ|ไม่เอารถ|เปลี่ยนใจ|เรียกแท็กซี่|นั่งแท็กซี่)/i.test(text);\n    if (mentionsTaxi && (correctsAwayFromCar || !mentionsCar)) {\n        recordUpdate('travel_mode', 'taxi');\n    } else if (mentionsCar) {\n        recordUpdate('travel_mode', 'car');\n    }\n\n    // 2. Parking Mode\n    if (text.match(/(จอดรถ|ที่จอดรถ|ลานจอด)/)) {\n        recordUpdate('parking_mode', 'needs_parking');\n    }\n\n    // 3. Current Location Hint\n    if (text.match(/(ถึงหน้าตึก|ถึงคอนโด|อยู่หน้าตึก|ถึงแล้ว)/)) {\n        recordUpdate('current_location_hint', 'at_building');\n    } else if (text.match(/(กำลังเดินทาง|กำลังไป|บนรถ|ออกเดินทาง)/)) {\n        recordUpdate('current_location_hint', 'on_the_way');\n    } else if (text.match(/(ยังไม่ออกเดินทาง|ยังไม่ไป|ยังอยู่บ้าน|อยู่บ้าน)/)) {\n        recordUpdate('current_location_hint', 'not_departed');\n    } else if (text.match(/(คอสโม|cosmo|เดินห้าง|เดินเล่นในห้าง|เดินตลาด)/i)) {\n        recordUpdate('current_location_hint', 'in_cosmo');\n    } else if (text.match(/(อยู่ในห้อง|ขึ้นห้องแล้ว)/)) {\n        recordUpdate('current_location_hint', 'in_room');\n    } else if (text.match(/(อยู่ข้างนอก|ไม่แน่ใจ|ไม่รู้)/)) {\n        recordUpdate('current_location_hint', 'unknown');\n    }\n\n    // 4. Arrival / Check-in / Check-out state\n    if (text.match(/(รอเช็คอิน|เช็คอินได้ไหม|เข้าห้องได้หรือยัง)/)) {\n        recordUpdate('arrival_state', 'waiting_to_check_in');\n    } else if (text.match(/(เข้าห้องแล้ว|เช็คอินแล้ว|เปิดประตูแล้ว)/)) {\n        recordUpdate('check_in_state', 'checked_in');\n    } else if (text.match(/(เช็คเอาท์|ออกแล้ว|คืนห้อง|จะออกแล้ว)/)) {\n        recordUpdate('check_out_state', 'checking_out');\n    }\n\n    // 5. Local Needs Hints\n    if (text.match(/(หิว|ร้านอาหาร|ของกิน|กินข้าว)/)) {\n        recordUpdate('local_needs_hints', 'food');\n    }\n    if (text.match(/(เซเว่น|seven|7-11)/i)) {\n        recordUpdate('local_needs_hints', 'seven_eleven');\n    }\n\n    // 6. Purpose / Event Hint\n    if (text.match(/(คอนเสิร์ต|concert|ดูคอน)/i)) {\n        recordUpdate('purpose_context', 'concert');\n    } else if (text.match(/(มาสอบ|เตรียมสอบ|ห้องสอบ)/)) {\n        recordUpdate('purpose_context', 'exam');\n    } else if (text.match(/(มาทำงาน|สัมมนา|ประชุม)/)) {\n        recordUpdate('purpose_context', 'work');\n    }\n\n    // High-Risk Guard: Explicitly map high-risk terms to ignored bucket\n    if (text.match(/(ชื่อผู้จอง|เจ้าของห้อง|เปลี่ยนชื่อ)/)) {\n        recordIgnored('booking_identity', 'booking_identity is a high-risk field and requires stronger evidence or Internal Ops action.');\n    }\n    \n    if (text.match(/(จ่ายเงิน|โอนเงิน|5000|สลิป)/)) {\n        recordIgnored('payment_status', 'payment_status is a high-risk field and requires explicit Internal Ops or system verification.');\n    }\n\n    if (text.match(/(ขอรหัส|เปิดประตูให้หน่อย|รหัสห้อง)/)) {\n        recordIgnored('room_access', 'room_access is safety-critical and must pass standard safety gates, not casual memory update.');\n    }\n\n    // 7. Service Recovery: Room Access Problem\n    // Detect operational blockers for entering the room/building.\n    // Explicitly exclude ordinary questions like \"ขึ้นห้องยังไงครับ\" that don't indicate a problem.\n    const isOrdinaryQuestion = /(ยังไง|อย่างไร|วิธี|ขั้นตอน|กี่โมง|เมื่อไหร่)\\b/i.test(text) && !/(เข้าไม่ได้|เปิดไม่ได้|ไปต่อไม่ได้|ไม่เจอ|หาไม่เจอ|หลง|ติด|stuck)/i.test(text);\n    \n    let accessProblemSubtype = null;\n    \n    if (!isOrdinaryQuestion) {\n        if (/(เข้าไม่ได้|ไปต่อไม่ได้|เข้าตึกไม่ได้).*?(ตึก|อาคาร|หน้าตึก)/i.test(text) || /(stuck.*building|stuck.*ตึก)/i.test(text)) {\n            accessProblemSubtype = 'stuck_at_building';\n        } else if (/(หาทางเข้าไม่เจอ|หลง|ทางเข้า.*อยู่ไหน|ไปทางไหนต่อ)/i.test(text)) {\n            accessProblemSubtype = 'cannot_find_building_path';\n        } else if (/(ไม่เจอกุญแจ|กุญแจอยู่ไหน|หากุญแจไม่เจอ|หาคีย์การ์ดไม่เจอ|ไม่มีกุญแจ)/i.test(text) || (text.match(/หาไม่เจอ/i) && !text.match(/ทาง/))) {\n            accessProblemSubtype = 'cannot_find_key';\n        } else if (/(เปิดห้องไม่ได้|เปิดประตูไม่ได้|รหัสผิด|รหัสกดไม่ได้|เข้าห้องไม่ได้|เปิดไม่ออก)/i.test(text) || (text.match(/เปิดไม่ได้/i))) {\n            accessProblemSubtype = 'cannot_open_room';\n        } else if (/(ส่งวิธีขึ้นห้องอีกที|ขอวิธีเข้าห้องหน่อย|ส่งวิธี.*ให้หน่อย|ยังไม่ได้.*วิธี)/i.test(text) && /(ไปต่อไม่ได้|เข้าไม่ได้|หาไม่เจอ)/i.test(text)) {\n            accessProblemSubtype = 'needs_access_resend';\n        } else if (/(เข้าไม่ได้|ไปต่อไม่ได้)/i.test(text) && text.match(/หน้าตึก/i)) {\n            accessProblemSubtype = 'stuck_at_building';\n        }\n    }\n\n    if (accessProblemSubtype) {\n        recordUpdate('current_issue', 'room_access_problem');\n        recordUpdate('current_issue_subtype', accessProblemSubtype);\n    }\n\n    // Maintenance issues are operational problems and should replace any\n    // older dispute/access issue as the active guest concern for follow-ups.\n    let maintenanceSubtype = null;\n    if (/(แอร์ไม่เย็น|แอร์เสีย|เครื่องปรับอากาศไม่เย็น)/i.test(text)) {\n        maintenanceSubtype = 'aircon_not_cooling';\n    } else if (/(น้ำหยด|น้ำรั่ว|ท่อน้ำรั่ว)/i.test(text)) {\n        maintenanceSubtype = 'water_leak';\n    } else if (/(ไฟดับ|ไฟไม่ติด|ปลั๊กเสีย)/i.test(text)) {\n        maintenanceSubtype = 'electrical_issue';\n    }\n    if (maintenanceSubtype) {\n        recordUpdate('current_issue', 'maintenance_problem');\n        recordUpdate('current_issue_subtype', maintenanceSubtype);\n    }\n\n    // Phase 5 Slice 4: Delayed Check-in Detection\n    const isCheckinIntent = /(เช็กอิน|เช็คอิน|พร้อมแล้ว|เข้าไปได้เลย|ขึ้นห้อง|ห้องพร้อม|จะเข้าห้อง|เข้าห้อง|หน้าตึก|หน้าอาคาร|ถึงตึก|ถึงอาคาร|อยู่ตึก)/i.test(text);\n    const isAccessInstructionQuestion = /(ขึ้นห้อง|เข้าห้อง|เข้าอาคาร|เข้าตึก).*?(ยังไง|อย่างไร|วิธี|ขั้นตอน)/i.test(text);\n    const isCheckinPolicyQuestion = /(เช็กอิน|เช็คอิน|check.?in).*?(กี่โมง|เวลา|เมื่อไหร่|ตอนไหน|when)/i.test(text);\n    if (isCheckinIntent && !isAccessInstructionQuestion && !isCheckinPolicyQuestion && !accessProblemSubtype && !/(ขอเช็คอินก่อน|late checkout|early check|เช็คเอาท์|ออกแล้ว)/i.test(text)) {\n        const blocker = resolveDelayedCheckinBlocker(liveTruth);\n        if (blocker) {\n            recordUpdate('current_issue', 'cleaning_delayed_checkin');\n            recordUpdate('current_issue_subtype', blocker);\n        }\n    }\n\n    // Phase 5 Slice 5: Checkout / Stay Extension\n    const checkoutExtensionSubtype = detectCheckoutExtensionSubtype(text, currentMemory);\n\n    if (checkoutExtensionSubtype) {\n        recordUpdate('current_issue', 'checkout_extension_request');\n        recordUpdate('current_issue_subtype', checkoutExtensionSubtype);\n    }\n\n    // Phase 5 Slice 6: Dispute Detection\n    const dispute = detectDisputeEscalationSubtype(text, currentMemory);\n    if (dispute) {\n        const pendingIssue = pendingUpdates.get('current_issue')?.new_value;\n        const pendingSubtype = pendingUpdates.get('current_issue_subtype')?.new_value;\n        const preserveOperationalBlocker =\n            pendingIssue === 'cleaning_delayed_checkin' &&\n            dispute.issue_subtype === 'angry_complaint' &&\n            pendingSubtype &&\n            !/(คืนเงิน|ขอคืน|ชดเชย|รีวิว|ฟ้อง|booking\\.com|agoda|airbnb|เจ้าของ|ผู้จัดการ|โกง)/i.test(text);\n        if (!preserveOperationalBlocker) {\n            recordUpdate('current_issue', 'guest_dispute_escalation');\n            recordUpdate('current_issue_subtype', dispute.issue_subtype);\n        }\n        recordUpdate('emotional_signal', dispute.emotional_signal);\n        recordUpdate('authority_escalation', dispute.authority_escalation);\n    }\n\n    const hasPendingIssue = pendingUpdates.has('current_issue');\n    const activeIssue = currentMemory['current_issue'];\n    const hasActiveOperationalIssue = activeIssue &&\n        !activeIssue.is_superseded &&\n        [\n            'room_access_problem',\n            'cleaning_delayed_checkin',\n            'checkout_extension_request',\n            'guest_dispute_escalation',\n            'maintenance_problem'\n        ].includes(activeIssue.value);\n    const isShortIssueFollowUp = /^(ไม่ได้|ยังไม่ได้|อีกนาน|แล้วไง|เมื่อกี้|อันนั้น|ยัง|ทำไง|ช่วยดู|ไม่หาย|เหมือนเดิม)/i.test(text.trim());\n    const isClearTopicShift =\n        !isShortIssueFollowUp &&\n        !hasPendingIssue &&\n        (\n            /(หิว|ร้านอาหาร|ของกิน|กินข้าว|เซเว่น|seven|7-11|ฟิตเนส|สระว่ายน้ำ|เพลง|ฝน|รถติด|เส้นทาง|แผนที่|ร้านขายยา|jett|cosmo)/i.test(text) ||\n            /(บอกผิด|ไม่ได้เอารถ|ไม่เอารถ|เรียกแท็กซี่|นั่งแท็กซี่|แท็กซี่|taxi|grab|bolt)/i.test(text)\n        ) &&\n        !/(เข้าไม่ได้|เข้าตึกไม่ได้|เข้าห้องไม่ได้|เปิดไม่ได้|เปิดไม่ออก|ไม่เจอ|หาไม่เจอ|คืนเงิน|รีวิว|ฟ้อง|booking\\.com|เจ้าของ|ผู้จัดการ|โกง|แอร์ไม่เย็น|แอร์เสีย|น้ำรั่ว|ไฟดับ)/i.test(text);\n\n    if (hasActiveOperationalIssue && isClearTopicShift) {\n        recordSupersedeOnly('current_issue', 'guest clearly shifted to a non-issue topic');\n        recordSupersedeOnly('current_issue_subtype', 'guest clearly shifted to a non-issue topic');\n    }\n\n    pendingUpdates.forEach(update => {\n        memory_actions.push(update);\n    });\n\n    return {\n        memory_actions,\n        ignored_actions\n    };\n}\n\n/**\n * Phase 5 Slice 4: Resolve operational blocker for delayed check-in\n */\nfunction resolveDelayedCheckinBlocker(liveTruth) {\n    if (!liveTruth || !liveTruth.room_status) {\n        return 'readiness_unknown';\n    }\n    const cleaningStatus = liveTruth.room_status.cleaning_status;\n    if (!cleaningStatus || !['clean', 'dirty', 'in_progress'].includes(cleaningStatus)) {\n        return 'readiness_unknown';\n    }\n    if (cleaningStatus !== 'clean') {\n        if (liveTruth.cleaning_task?.dispatch_status === 'sent' && !liveTruth.cleaning_task?.acknowledged_at && liveTruth.cleaning_task?.priority === 'urgent') {\n            return 'housekeeping_no_ack';\n        }\n        return 'cleaning_not_ready';\n    }\n    const accessPrepStatus = liveTruth.access_prep?.status;\n    if (accessPrepStatus !== 'complete') {\n        return 'access_prep_incomplete';\n    }\n    return null;\n}\n\n/**\n * Phase 5 Slice 1 Guest Memory Retrieval Core\n * \n * Retrieves active-stay context based on guest intent, combining raw chat\n * evidence and structured memory without dumping all memory into the prompt.\n */\n\nfunction buildRetrievalContext(intent, rawChatContext, structuredMemory, staySummary = null) {\n    const MAX_RAW_CHAT_MESSAGES = 10;\n    \n    // 1. Always prioritize raw recent chat evidence if it's short\n    const recentChat = rawChatContext.slice(-MAX_RAW_CHAT_MESSAGES);\n    const contextLines = [];\n    \n    contextLines.push('--- RECENT CHAT EVIDENCE ---');\n    recentChat.forEach(msg => {\n        contextLines.push(`[${msg.sender.toUpperCase()}]: ${msg.text}`);\n    });\n    \n    // 2. Select structured memory fields based on intent\n    const relevantMemoryFields = [];\n    \n    const latestGuestText = [...recentChat].reverse().find((msg) => msg.sender === 'guest')?.text ?? '';\n    const isShortIssueFollowUp = intent === 'general_chat' &&\n        /^(ไม่ได้|ยังไม่ได้|อีกนาน|แล้วไง|เมื่อกี้|อันนั้น|ยัง|ทำไง|ช่วยดู|ไม่หาย|เหมือนเดิม)/i.test(String(latestGuestText).trim());\n    const issueAwareIntent = intent === 'arrival_access' || intent === 'service_recovery' || isShortIssueFollowUp;\n\n    // Elevate current_issue only when the current turn still needs issue context.\n    if (issueAwareIntent && structuredMemory['current_issue'] && !structuredMemory['current_issue'].is_superseded) {\n        if (!relevantMemoryFields.includes('current_issue')) relevantMemoryFields.push('current_issue');\n        if (!relevantMemoryFields.includes('current_issue_subtype')) relevantMemoryFields.push('current_issue_subtype');\n    }\n    \n    if (intent === 'arrival_access') {\n        relevantMemoryFields.push('travel_mode', 'parking_mode', 'arrival_state', 'check_in_state', 'current_location_hint', 'room', 'room_access_readiness');\n    } else if (intent === 'local_guidance') {\n        relevantMemoryFields.push('current_location_hint', 'local_needs_hints', 'purpose_context', 'special_notes');\n    } else if (intent === 'service_recovery') {\n        relevantMemoryFields.push('room', 'check_in_state', 'emotional_signal');\n    } else if (intent === 'general_chat') {\n        // Just the basics\n        relevantMemoryFields.push('current_location_hint');\n    } else {\n        // Fallback for unknown intent\n        relevantMemoryFields.push('arrival_state', 'check_in_state');\n    }\n    \n    // 3. Assemble structured memory block\n    const memorySubset = {};\n    for (const field of relevantMemoryFields) {\n        if (structuredMemory[field] && !structuredMemory[field].is_superseded) {\n            memorySubset[field] = structuredMemory[field].value;\n        }\n    }\n    \n    if (Object.keys(memorySubset).length > 0) {\n        contextLines.push('');\n        contextLines.push('--- RELEVANT STAY MEMORY ---');\n        for (const [k, v] of Object.entries(memorySubset)) {\n            // Flatten arrays for readable context\n            const displayValue = Array.isArray(v) ? v.join(', ') : v;\n            contextLines.push(`- ${k}: ${displayValue}`);\n        }\n    }\n    \n    // 4. Include Stay Summary if raw chat is truncated or intent demands deep context\n    // Usually triggered if total chat > 50 messages, represented here by staySummary existence\n    if (staySummary && (rawChatContext.length > MAX_RAW_CHAT_MESSAGES || intent === 'service_recovery')) {\n        contextLines.push('');\n        contextLines.push('--- STAY SUMMARY ---');\n        contextLines.push(staySummary.summary_text);\n    }\n    \n    return contextLines.join('\\n');\n}\n/**\n * Phase 5 Slice 1 Stay Summary Generation Logic\n * \n * Evaluates whether an active stay requires a new or refreshed summary\n * based on conversation length thresholds.\n */\n\nconst SUMMARY_THRESHOLD_INITIAL = 50;\nconst SUMMARY_THRESHOLD_REFRESH = 20;\n\nfunction evaluateSummaryTrigger(rawChatContext, existingSummary = null) {\n    const messageCount = rawChatContext.length;\n\n    if (!existingSummary) {\n        if (messageCount >= SUMMARY_THRESHOLD_INITIAL) {\n            return {\n                action: 'create_summary',\n                message_count_at_generation: messageCount,\n                instruction: 'Summarize the entire conversation history. Focus on guest needs, issues, and sentiment.'\n            };\n        }\n    } else {\n        const diff = messageCount - existingSummary.message_count_at_generation;\n        if (diff >= SUMMARY_THRESHOLD_REFRESH) {\n            return {\n                action: 'refresh_summary',\n                message_count_at_generation: messageCount,\n                instruction: 'Update the existing summary with the latest context. Retain old critical issues.'\n            };\n        }\n    }\n\n    return {\n        action: 'skip',\n        reason: 'threshold_not_met'\n    };\n}\n\nfunction normalizePolicyText(value) {\n    return String(value ?? '').trim().toLowerCase();\n}\n\nfunction hasDelayedCheckinAuthorityEscalation(text) {\n    return /(คืนเงิน|refund|ชดเชย|โกง|ฟ้อง|ผู้จัดการ|manager|เจ้าของ|รับผิดชอบ|ยกเลิกการจอง|cancel booking)/i.test(text);\n}\n\nfunction hasDelayedCheckinTimingPressure(text) {\n    return /(อีกกี่นาที|อีกนานไหม|อีกนานมั้ย|เมื่อไหร่จะพร้อม|กี่โมงจะพร้อม|ตอนไหนจะพร้อม|พร้อมเมื่อไหร่|เสร็จหรือยัง|รอนานมาก|นานเกินไป)/i.test(text);\n}\n\nfunction evaluateDelayedCheckinPolicy({ guestText, blocker, currentMode = 'safe_auto' }) {\n    const text = normalizePolicyText(guestText);\n\n    if (currentMode === 'internal_now') {\n        return { send_mode: 'internal_now', reason: 'existing_internal_now' };\n    }\n\n    if (hasDelayedCheckinAuthorityEscalation(text)) {\n        return { send_mode: 'internal_now', reason: 'cleaning_delayed_checkin_authority_bound_escalation' };\n    }\n\n    if (blocker === 'readiness_unknown') {\n        return { send_mode: 'draft_only', reason: 'cleaning_delayed_checkin_unknown_truth' };\n    }\n\n    if (currentMode === 'draft_only') {\n        return { send_mode: 'draft_only', reason: 'existing_draft_only' };\n    }\n\n    if (hasDelayedCheckinTimingPressure(text)) {\n        return { send_mode: 'draft_only', reason: 'cleaning_delayed_checkin_needs_timing_review' };\n    }\n\n    return { send_mode: 'safe_auto', reason: 'cleaning_delayed_checkin_safe_holding_reply' };\n}\n\nfunction buildDelayedCheckinHoldingReply(blocker) {\n    switch (blocker) {\n        case 'housekeeping_no_ack':\n            return 'ตอนนี้ห้องยังไม่พร้อมเข้าพักนะคะ ทางทีมกำลังเร่งประสานงานให้ค่ะ รบกวนรอสักครู่นะคะ';\n        case 'access_prep_incomplete':\n            return 'ตอนนี้ห้องยังไม่พร้อมเข้าพักนะคะ กำลังตรวจสอบความพร้อมให้เรียบร้อยก่อนค่ะ รบกวนรอสักครู่นะคะ';\n        case 'cleaning_not_ready':\n            return 'ตอนนี้ห้องยังไม่พร้อมเข้าพักนะคะ ทางทีมกำลังเตรียมห้องให้ค่ะ รบกวนรอสักครู่นะคะ';\n        case 'readiness_unknown':\n            return 'ตอนนี้กำลังตรวจสอบความพร้อมของห้องให้อยู่นะคะ รบกวนรอสักครู่นะคะ';\n        default:\n            return 'ตอนนี้กำลังตรวจสอบความพร้อมของห้องให้อยู่นะคะ รบกวนรอสักครู่นะคะ';\n    }\n}\n\nfunction hasUnsafeDelayedCheckinReadyWording(text) {\n    return /(ขึ้นห้องได้เลย|เข้าห้องได้เลย|ห้องเปิดไว้|กุญแจวางอยู่ในห้อง|กุญแจอยู่ในห้อง|ห้องพร้อมแล้ว|เข้าไปได้เลย)/i.test(String(text ?? ''));\n}\n\n/**\n * Phase 5 Slice 3: Deterministic Policy Gate\n * \n * Enforces safe boundaries over LLM's recommended send mode.\n */\nfunction evaluateSendMode(aiUnderstanding, intent) {\n    const riskFlags = Array.isArray(aiUnderstanding.risk_flags) ? aiUnderstanding.risk_flags : [];\n    const hasRisk = riskFlags.some(flag => flag !== 'none' && flag !== '');\n\n    // 1 (Highest): Risk flags present\n    if (hasRisk) {\n        const hasHighRiskFlags = riskFlags.some(flag => ['threat', 'accusation', 'legal', 'platform', 'authority_required', 'angry', 'refund', 'compensation'].includes(flag));\n        if (riskFlags.includes('money') && !hasHighRiskFlags) {\n            return { send_mode: 'draft_only', reason: `calm_money_risk_draft_only` };\n        }\n        return { send_mode: 'internal_now', reason: `risk_flags_present: ${riskFlags.join(', ')}` };\n    }\n\n    // 2: Unknown SOP or intent\n    if (aiUnderstanding.suggested_sop_family === 'unknown' || intent === 'unknown_knowledge_gap') {\n        return { send_mode: 'internal_now', reason: 'unknown_sop_or_intent' };\n    }\n\n    // 3: Low confidence\n    if (aiUnderstanding.confidence_level === 'low') {\n        return { send_mode: 'internal_now', reason: 'low_confidence' };\n    }\n\n    // 4: Operational truth verification needed\n    const truthRequiringIntents = ['early_checkin_request', 'extension_interest', 'late_checkout_request', 'room_move_request', 'service_recovery', 'compensation_request'];\n    if (truthRequiringIntents.includes(intent) || aiUnderstanding.suggested_sop_family === 'service_recovery') {\n        return { send_mode: 'draft_only', reason: `operational_truth_required` };\n    }\n\n    // 5: Medium confidence\n    if (aiUnderstanding.confidence_level === 'medium') {\n        return { send_mode: 'draft_only', reason: 'medium_confidence' };\n    }\n\n    // 6 (Lowest): Safe Auto\n    return { send_mode: 'safe_auto', reason: 'low_risk_approved_sop' };\n}\n\nconst MAINTENANCE = [\n  [/แอร์.*(ไม่เย็น|เสีย|น้ำหยด|เสียงดัง)/, \"aircon_not_cooling\"],\n  [/(น้ำรั่ว|น้ำหยด|ท่อแตก)/, \"water_leak\"],\n  [/(ไฟดับ|ไฟไม่ติด)/, \"electrical_problem\"],\n  [/(ควัน|กลิ่นไหม้|ไฟไหม้)/, \"fire_or_smoke\"],\n];\n\nfunction buildGuestIncidentCandidate({\n  text,\n  conversationId,\n  bookingId,\n  roomId,\n  sourceEventId,\n  correlationId,\n  currentTopic,\n  activeIncidents,\n}) {\n  const raw = String(text ?? '').trim();\n  if (!raw) return null;\n\n  let issueFamily = null;\n  let issueSubtype = null;\n  let severity = \"normal\";\n\n  // 1. Check maintenance keywords\n  for (const [pattern, subtype] of MAINTENANCE) {\n    if (pattern.test(raw)) {\n      issueFamily = \"maintenance\";\n      issueSubtype = subtype;\n      if (subtype === \"fire_or_smoke\") {\n        severity = \"urgent\";\n      }\n      break;\n    }\n  }\n\n  // 2. Check memory actions via extractMemory\n  if (!issueFamily) {\n    const memResult = extractMemory({ text: raw, id: sourceEventId || 'unknown' }, {}, {});\n    const actions = memResult?.memory_actions || [];\n    const issueAction = actions.find(a => a.field === 'current_issue');\n    const subtypeAction = actions.find(a => a.field === 'current_issue_subtype');\n    if (issueAction && subtypeAction) {\n      issueFamily = issueAction.new_value;\n      issueSubtype = subtypeAction.new_value;\n\n      if (issueFamily === \"checkout_extension_request\" && issueSubtype === \"checkout_policy_question\") {\n        return null;\n      }\n\n      if (issueFamily === \"guest_dispute_escalation\") {\n        const emoAction = actions.find(a => a.field === 'emotional_signal');\n        const emo = emoAction ? emoAction.new_value : 'calm';\n        severity = (emo === 'angry' || emo === 'threatening' || ['negative_review_or_social_threat', 'legal_or_platform_escalation', 'owner_manager_request'].includes(issueSubtype)) ? 'urgent' : 'normal';\n      } else if (issueFamily === \"room_access_problem\") {\n        severity = \"urgent\";\n      } else if (issueFamily === \"cleaning_delayed_checkin\") {\n        severity = \"urgent\";\n      } else if (issueFamily === \"checkout_extension_request\") {\n        const isPricing = /(คิดเพิ่ม|จ่ายเพิ่ม|ฟรี|ไม่จ่ายเพิ่ม|คืนเงิน|เท่าไหร่|กี่บาท)/i.test(raw);\n        severity = isPricing ? \"urgent\" : \"high\";\n      }\n    }\n  }\n\n  // 3. Check ambiguous follow up with active incident\n  const isAmbiguous = /^(แล้วไง|อีกนานไหม|ยังไม่ได้|เมื่อกี้ล่ะ)$/i.test(raw);\n  if (!issueFamily && isAmbiguous && Array.isArray(activeIncidents)) {\n    const plausible = activeIncidents.filter(inc => inc.status !== \"resolved\" && inc.status !== \"closed\");\n    if (plausible.length === 1) {\n      issueFamily = plausible[0].issue_family;\n      issueSubtype = plausible[0].issue_subtype;\n      severity = plausible[0].severity || \"normal\";\n    }\n  }\n\n  if (issueFamily && issueSubtype) {\n    return {\n      source_surface: \"guest_oa\",\n      source_event_id: sourceEventId,\n      correlation_id: correlationId,\n      idempotency_key: `guest_oa:${sourceEventId}:${issueFamily}`,\n      conversation_id: conversationId,\n      booking_id: bookingId,\n      room_id: roomId,\n      issue_family: issueFamily,\n      issue_subtype: issueSubtype,\n      severity: severity,\n      latest_evidence_text: text,\n      requires_internal_ops: true,\n      requires_owner: true\n    };\n  }\n\n  return null;\n}\n\nfunction canAttachAmbiguousFollowUp(text, recentTurns, activeIncidents) {\n  const ambiguous = /^(แล้วไง|อีกนานไหม|ยังไม่ได้|เมื่อกี้ล่ะ)$/i.test(text.trim());\n  if (!ambiguous) return false;\n  if (!Array.isArray(activeIncidents)) return false;\n  const plausible = activeIncidents.filter((incident) => incident.status !== \"resolved\");\n  if (plausible.length !== 1) return false;\n  if (!Array.isArray(recentTurns) || recentTurns.length === 0) return false;\n  return recentTurns[0]?.incident_id === plausible[0].id;\n}\n\n// ----------------------------------\n\n// 1. Fetch Phase 5 Memory\nconst n8nContext = this;\nlet phase5_memory = {};\nlet stay_summary = null;\nif (input.conversation_id) {\n    try {\n        const response = await n8nContext.helpers.httpRequest({\n            method: 'POST',\n            url: $env.SUPABASE_URL + '/rest/v1/rpc/phase5_get_active_memory',\n            headers: { apikey: $env.SUPABASE_SERVICE_ROLE_KEY, Authorization: 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY, 'Content-Type': 'application/json' },\n            body: { p_conversation_id: input.conversation_id, p_surface: 'guest_oa' },\n            json: true,\n            returnFullResponse: true\n        });\n        const rpcData = response.body;\n        phase5_memory = rpcData?.structured_memory ?? {};\n        stay_summary = rpcData?.stay_summary ?? null;\n    } catch (e) {\n        // Fallback to empty memory if RPC fails\n    }\n}\n\n// 2. Perform Extraction\nconst guestText = input.guest_text ?? '';\nconst intent = input.intent ?? 'safe_general_question';\nconst messageObj = {\n    text: guestText,\n    id: input.source_event_id || 'unknown',\n    timestamp: new Date().toISOString(),\n    sender: 'guest'\n};\nconst liveTruth = {\n    room_status: input.room_status || input.stay_state?.room_status || null,\n    cleaning_task: input.cleaning_task || null,\n    access_prep: input.booking_access_preparations || null\n};\nconst { memory_actions, ignored_actions } = extractMemory(messageObj, phase5_memory, liveTruth);\n\n// 3. Inject missing room code for retrieval if known by system\nconst booking = input.booking ?? null;\nconst roomCode = booking?.rooms?.room_code ?? input.stay_state?.room_code_snapshot ?? null;\nif (roomCode && (!phase5_memory['room'] || phase5_memory['room'].is_superseded)) {\n    phase5_memory['room'] = { value: roomCode, is_superseded: false };\n}\n\n// 4. Retrieve Chat History\nconst chatHistory = $(\"Aggregate Chat History\").first().json?.chat_history ?? [];\n\n// 5. Evaluate Summary Trigger\nconst summaryDecision = evaluateSummaryTrigger(chatHistory, stay_summary);\n\n// 6. Build Retrieval Context String\nconst mappedIntent = (\n    intent === 'room_entry_request' ||\n    intent === 'arrival_location_request' ||\n    intent === 'arrival_mode_car' ||\n    intent === 'arrival_mode_taxi' ||\n    intent === 'arrival_mode_private_motorcycle' ||\n    intent === 'arrival_mode_public_transport' ||\n    intent === 'motorbike_arrival' ||\n    intent === 'motorbike_outbound'\n  ) ? 'arrival_access' \n    : (\n      intent.includes('knowledge_gap') ||\n      intent === 'facility_question' ||\n      intent.includes('question') ||\n      intent === 'food_question' ||\n      intent === 'convenience_store_question' ||\n      intent === 'internet_question'\n    ) ? 'local_guidance'\n    : 'general_chat';\nconst guestStayMemoryStr = buildRetrievalContext(mappedIntent, chatHistory, phase5_memory, stay_summary);\n\n// 7. Format remaining prompt parts\nconst language = input.language ?? 'th';\nconst building = booking?.rooms?.building ?? input.stay_state?.building_snapshot ?? null;\nconst guestName = booking?.guest_name_snapshot ?? input.guest?.guest_name ?? 'ลูกค้า';\nconst platform = booking?.platform ?? 'Booking.com';\nconst checkIn = booking?.check_in_date ?? '-';\nconst checkOut = booking?.check_out_date ?? '-';\nconst reservationNumber = booking?.reservation_number ?? '-';\n\nconst isVerified = input.stay_state?.booking_verification_status === 'confirmed';\nconst isPending = input.stay_state?.booking_verification_status === 'pending_confirmation';\n\nlet friendlyName = guestName;\nif (friendlyName && friendlyName !== 'ลูกค้า' && friendlyName !== 'guest') {\n  friendlyName = friendlyName.split(' ')[0].replace(/ทดสอบ.*/g, '').trim();\n  friendlyName = friendlyName ? 'คุณ' + friendlyName : 'คุณลูกค้า';\n} else {\n  friendlyName = 'คุณ' + friendlyName;\n}\n\nconst systemPrompt = `You are the virtual host for \"Impact Arena Condo\", a daily condo rental business in Muang Thong Thani.\nYour goal is to reply to the guest in a warm, extremely polite, natural, and helpful human host persona.\nYou must speak the language of the guest (mainly Thai, but English if the guest writes in English).\n\nCRITICAL BRAND VOICE & PERSONA RULES:\n1. Zero emojis are allowed in any guest-facing message. Do not output any emojis under any circumstances.\n2. Avoid generic, robotic AI empathy templates (e.g., do not say \"เข้าใจเลยค่ะว่า...\" or \"ยินดีค่ะ เดี๋ยวแอดมินประสานงานให้นะคะ\"). Write like a warm, helpful human host. If you need to acknowledge their situation, personalize it naturally (e.g. \"เข้าใจเลยค่ะ${friendlyName} ถ้าหิวแล้วก็ไม่ต้องกังวลนะคะ...\"). Do not use the word \"แอดมิน\" to refer to yourself; refer to yourself as host / virtual assistant.\n3. Vary your response patterns. Do not start subsequent messages with the same phrases or sentence structures.\n4. GREETING RULE (Situational):\n   - Do NOT repeat greetings (e.g. \"สวัสดีค่ะ\", \"ยินดีต้อนรับสู่...\") during ongoing active chat turns about the current stay (e.g. check-in instructions, directions to Impact, convenience store locations, food recommendations). Start directly and warmly.\n   - DO use a polite greeting (e.g. \"สวัสดีค่ะ ${friendlyName} ยินดีต้อนรับสู่ Impact Arena Condo นะคะ\") under these specific conditions:\n     - The first welcome/booking claim message.\n     - Introductory or identity questions (e.g., \"ฉันเป็นใคร\", \"คุณคือใคร\").\n     - General room availability or booking inquiries for future stays (e.g. \"มีห้องพักกี่ห้องหรอ\", \"อยากพัก C8 มีห้องไหนบ้าง\", \"จองวันที่ 12-13 มิถุนายน\").\n\nCONTEXT FOR THE ACTIVE GUEST:\n- Guest Name: ${friendlyName}\n- Platform: ${platform}\n- Verification Status: ${isVerified ? 'Verified (Confirmed)' : (isPending ? 'Pending Confirmation' : 'Unverified')}\n- Stay Dates: ${checkIn} to ${checkOut}\n- Reservation Number: ${reservationNumber}\n- Room: ${roomCode ?? 'Not assigned yet'}\n- Building: ${building ?? 'Not assigned yet'}\n\n${guestStayMemoryStr}\n\nKNOWLEDGE BASE:\n1. Facilities & Front Desk (ส่วนกลางและนิติ):\n   - Popular Condo does NOT have a swimming pool.\n   - If the guest asks for a gym or fitness place, the approved recommendation is Jett at Cosmo.\n   - We DO NOT have a front desk or reception. Guests must contact us directly via this LINE OA for all matters.\n   - DO NOT hallucinate any facilities or services not explicitly listed here.\n2. Parking (ที่จอดรถ):\n   - Parking around the condo is very hard to find. We strongly recommend paid parking.\n   - Fee: ~40 THB/night.\n   - Primary parking location: https://maps.app.goo.gl/unYXoJiS3CpE2Z4M8\n3. 7-Eleven (เซเว่น):\n   - For C3, C4, C5: Seven Cosmo (Map: https://maps.app.goo.gl/CHDavbxfX6X8b7r47)\n   - For C2, C8, P2: Seven/BigC front of P2 (Map: https://maps.app.goo.gl/XBKtgyT2DUY49SJ67)\n   - For C9, T8, T9: Seven Moriwalk (Map: https://maps.app.goo.gl/ubgk3xEneyjYd14N7)\n4. Moto-taxi (วินมอเตอร์ไซค์):\n   - To get to IMPACT Arena from condo:\n     - C5 building: near motorbike C5 spot (Map: https://maps.app.goo.gl/jgdW9Xj1N25Krwbe6). Fee: ~20 THB.\n     - C3, C4, C9, T8, T9: Moto-taxi Cosmo spot (Map: https://maps.app.goo.gl/PtZE6PNaJdVqyG7K7).\n     - C2, C8, P2: Moto-taxi C2 spot (Map: https://maps.app.goo.gl/92RwfdTqfx1VATM56).\n5. Wi-Fi:\n   - There is NO Wi-Fi in the rooms.\n   - If they ask for Wi-Fi, warmly apologize and advise them that they can buy a SIM card at the building's mapped 7-Eleven (provide the specific 7-Eleven details based on their building C3/C4/C5/etc.).\n6. Check-in/Check-out:\n   - Official Check-in time: from 13:00 onwards.\n   - Official Check-out time: before 11:00 or 12:00.\n   - Early check-in before 13:00 requires admin confirmation.\n   - Standard room access must NOT mention room passcodes, fingerprint entry, or face-scan as the normal entry method.\n   - When room readiness and access prep are confirmed, the guest can go in directly and the key is already left inside the room.\n   - If room readiness or access prep is not confirmed, do not promise that the room is already open.\n7. Building Maps (Google Map links):\n   - C2: https://maps.app.goo.gl/vfEfC1c947vzLeMM6\n   - C3: https://maps.app.goo.gl/pSbdiAM5wsY2iEiK9\n   - C4: https://maps.app.goo.gl/aHyJPJg1FH6EqmB26\n   - C5: https://maps.app.goo.gl/ifeAs5VBWepWpj6K7\n   - C8: https://maps.app.goo.gl/cfEgb93Q44Wv9CFf6\n   - C9: https://maps.app.goo.gl/PntrEvsVmZdgjTwRA\n   - P2: https://maps.app.goo.gl/534tJ9d4WgZ3D5XS6\n   - T8: https://maps.app.goo.gl/QireqAkMMdhTESqf9\n\nINSTRUCTIONS & SCENARIO GUIDELINES:\n1. TRICKY / OUT-OF-SCOPE QUESTIONS (Prevent Room Leaks):\n   - If the guest asks for directions, keys, or details of other rooms or other buildings (e.g. \"ขอวิธีการเดินทางไปตึกอื่นห้องอื่นหน่อยสิมีมั้ย\"), do NOT reveal room assignments or codes. Politely share the list of general building maps (C2, C3, C4, C5, C8, C9, P2, T8) to assist them, exactly as shown below:\n     สำหรับวิธีการเดินทางไปตึกอื่นๆ นะคะ ${friendlyName} สามารถดูแผนที่ของแต่ละตึกได้ตามลิงก์นี้เลยค่ะ:\n     - ตึก C2: https://maps.app.goo.gl/vfEfC1c947vzLeMM6\n     - ตึก C3: https://maps.app.goo.gl/pSbdiAM5wsY2iEiK9\n     - ตึก C4: https://maps.app.goo.gl/aHyJPJg1FH6EqmB26\n     - ตึก C5: https://maps.app.goo.gl/ifeAs5VBWepWpj6K7\n     - ตึก C8: https://maps.app.goo.gl/cfEgb93Q44Wv9CFf6\n     - ตึก C9: https://maps.app.goo.gl/PntrEvsVmZdgjTwRA\n     - ตึก P2: https://maps.app.goo.gl/534tJ9d4WgZ3D5XS6\n     - ตึก T8: https://maps.app.goo.gl/QireqAkMMdhTESqf9\n     หากต้องการสอบถามเส้นทางไปยังสถานที่เฉพาะเจาะจง หรือต้องการความช่วยเหลือเพิ่มเติม แจ้งได้เลยนะคะ\n2. NEW BOOKING / SALES INQUIRIES:\n   - If the guest asks about room availability or options (e.g. \"มีห้องพักกี่ห้องหรอ\"), start directly and ask for dates:\n     สำหรับห้องพักที่ Impact Arena Condo ของเรามีหลายแบบเลยค่ะ ${friendlyName} สนใจเข้าพักช่วงวันไหนเป็นพิเศษไหมคะ จะได้ช่วยแนะนำห้องที่เหมาะสมให้ค่ะ\n   - If they specify a building (e.g. \"อยากพัก C8 มีห้องไหนบ้าง\"), greet them and ask for dates:\n     สวัสดีค่ะ ${friendlyName} ยินดีต้อนรับสู่ Impact Arena Condo นะคะ สำหรับอาคาร C8 ตอนนี้มีห้องว่างให้บริการค่ะ ไม่ทราบว่า ${friendlyName} สนใจเข้าพักช่วงวันไหนเป็นพิเศษไหมคะ\n   - If they provide dates (e.g. \"12 มิถุนายน -13\"), greet them and confirm if they want to book for these dates, prompting for details:\n     สวัสดีค่ะ ${friendlyName} ยินดีต้อนรับสู่ Impact Arena Condo นะคะ ไม่ทราบว่า ${friendlyName} ต้องการสอบถามข้อมูลเกี่ยวกับช่วงวันที่ 12-13 มิถุนายน หรือเปล่าคะ หากต้องการจองห้องพักในช่วงวันดังกล่าว รบกวนแจ้งรายละเอียดเพิ่มเติมได้เลยนะคะ\n3. SERVICE RECOVERY (Room Access Problems):\n   - If the guest reports they cannot enter the room, cannot find the key, or are stuck (e.g. \"เข้าห้องไม่ได้\", \"เปิดไม่ได้\", \"ไม่เจอกุญแจ\"), reassure them safely.\n   - Do NOT give them generic instructions again or overpromise. Do NOT guess what went wrong.\n   - Example response: \"รับทราบค่ะ ${friendlyName} ต้องขออภัยในความไม่สะดวกด้วยนะคะ ตอนนี้ทางเราได้รับแจ้งปัญหาแล้วและกำลังเร่งตรวจสอบให้อยู่ค่ะ รบกวนรอสักครู่นะคะ\"\n4. DELAYED CHECKIN (Room Not Ready):\n   - IF the room is not ready because of cleaning status or access preparation, USE suggested_sop_family \"cleaning_delayed_checkin\".\n5. CONVERSATIONAL FLOW:\n   - Respond warmly and use polite Thai sentence endings like \"ค่ะ\" and \"นะคะ\".\n   - Focus on drafting natural, human-like sentences. Avoid repeating templates.\n\nREFERENCE CONVERSATION EXAMPLES (Match this style and tone exactly):\n- Guest: ฉันเป็นใคร\n  Response: สวัสดีค่ะ ${friendlyName} ยินดีต้อนรับสู่ Impact Arena Condo นะคะ ดิฉันเป็นผู้ดูแลเสมือนของคุณที่นี่ค่ะ หากมีอะไรให้ช่วยเหลือเกี่ยวกับการเข้าพัก หรือต้องการข้อมูลใดๆ เกี่ยวกับสิ่งอำนวยความสะดวกบริเวณคอนโด สามารถสอบถามได้เลยนะคะ\n- Guest: หิวข้าวอะฉันอยากซื้อซิมเน็ตด้วย\n  Response: เข้าใจเลยค่ะ${friendlyName} ถ้าหิวแล้วก็ไม่ต้องกังวลนะคะ สำหรับซิมเน็ต ทางเราไม่มีบริการ Wi-Fi ในห้องพักนะคะ แต่${friendlyName} สามารถหาซื้อซิมได้ที่ 7-Eleven สาขา Seven Cosmo ที่อยู่ใกล้กับอาคาร C3, C4, C5 ของเราเลยค่ะ สะดวกมากๆ เลยค่ะ ส่วนเรื่องอาหาร ถ้า${friendlyName} อยากจะออกไปหาอะไรทานข้างนอก มีร้านอาหารอร่อยๆ อยู่ไม่ไกลเลยค่ะ หรือถ้าอยากได้คำแนะนำเพิ่มเติม บอกได้เลยนะคะ\n- Guest: ฉันอยากไปอิมแพคอารีนาจะไปยังไงดี\n  Response: สำหรับเดินทางไปอิมแพคอารีนานะคะ ${friendlyName} สามารถใช้บริการมอเตอร์ไซค์รับจ้างได้เลยค่ะ จากตึก C5 ของเรา จุดจอดจะอยู่ใกล้ๆ กับตึกเลยค่ะ (https://maps.app.goo.gl/jgdW9Xj1N25Krwbe6) ค่าบริการประมาณ 20 บาทค่ะ สะดวกและรวดเร็วมากๆ ค่ะ\n- Guest: popular condo มีสระว่ายน้ำไหมคะ\n  Response: ที่ Popular Condo ไม่มีสระว่ายน้ำนะคะ ${friendlyName} แต่ถ้าอยากออกกำลังกาย แนะนำ Jett ที่ Cosmo ได้เลยค่ะ เดินทางสะดวกจากคอนโดค่ะ\n\nRespond in JSON format only with the following schema:\n{\n  \"interpreted_topic\": \"string\",\n  \"active_issue_continuation\": \"boolean\",\n  \"suggested_sop_family\": \"string\",\n  \"confidence_level\": \"high|medium|low\",\n  \"risk_flags\": [\"array of strings or 'none'\"],\n  \"recommended_send_mode\": \"safe_auto|draft_only|internal_now\",\n  \"explanation_notes\": \"string\",\n  \"reply_text\": \"YOUR_GENERATED_RESPONSE_WITHOUT_EMOJIS\"\n}`;\n\nconst userMessage = `Guest Message: \"${guestText}\"\\nDetected Intent: \"${intent}\"\\nSelected Language: \"${language}\"`;\n\nreturn [{\n  json: {\n    ...input,\n    phase5_memory,\n    phase5_stay_summary: stay_summary,\n    phase5_memory_actions: memory_actions,\n    phase5_summary_decision: summaryDecision,\n    gemini_url: 'https://generativelanguage.googleapis.com/v1beta/models/' + ($env.GEMINI_MODEL ?? 'gemini-2.5-flash-lite') + ':generateContent?key=' + ($env.GEMINI_API_KEY ?? ''),\n    gemini_body: {\n      contents: [{\n        parts: [\n          { text: systemPrompt + '\\n\\n' + userMessage }\n        ]\n      }],\n      generationConfig: {\n        responseMimeType: 'application/json',\n        temperature: 0.3\n      }\n    }\n  }\n}];"
        },
        "id": "p3-guest-gemini-prompt",
        "name": "Build Gemini Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $json.gemini_url }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.gemini_body }}",
          "options": {}
        },
        "id": "p3-guest-gemini-call",
        "name": "Call Gemini AI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          380,
          0
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversation_messages?conversation_id=eq.{{ $json.conversation_id }}&order=created_at.desc&limit=80",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              }
            ]
          },
          "options": {
            "neverSplitResults": true,
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "id": "p3-guest-chat-history",
        "name": "Load Chat History",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -100,
          120
        ],
        "onError": "continueRegularOutput",
        "settings": {
          "alwaysOutputData": true
        }
      },
      {
        "parameters": {
          "jsCode": "const rawResponse = items[0]?.json ?? {};\nconst rawHistory = Array.isArray(rawResponse?.body) ? rawResponse.body : (Array.isArray(rawResponse) ? rawResponse : []);\nconst messages = rawHistory.map(item => ({\n  sender: item.sender_type,\n  text: item.body,\n  created_at: item.created_at\n})).reverse();\nconst input = $(\"Classify guest intent\").first().json;\nreturn [{ json: { ...input, chat_history: messages } }];"
        },
        "id": "p3-guest-aggregate-history",
        "name": "Aggregate Chat History",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          100,
          120
        ]
      }
    ],
    "connections": {
      "Receive guest concierge job": {
        "main": [
          [
            {
              "node": "Validate guest concierge job",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate guest concierge job": {
        "main": [
          [
            {
              "node": "Classify guest intent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Classify guest intent": {
        "main": [
          [
            {
              "node": "Load Chat History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load guest context": {
        "main": [
          [
            {
              "node": "Merge guest context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Apply Phase3 guardrails": {
        "main": [
          [
            {
              "node": "Build guest reply or internal alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build guest reply or internal alert": {
        "main": [
          [
            {
              "node": "Record guest concierge event",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send through controlled Edge path",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge guest context": {
        "main": [
          [
            {
              "node": "Build Gemini Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send through controlled Edge path": {
        "main": [
          [
            {
              "node": "Prepare Phase3 side effects",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Phase3 side effects": {
        "main": [
          [
            {
              "node": "Apply Phase3 side effects",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Gemini Prompt": {
        "main": [
          [
            {
              "node": "Call Gemini AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Gemini AI": {
        "main": [
          [
            {
              "node": "Apply Phase3 guardrails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Chat History": {
        "main": [
          [
            {
              "node": "Aggregate Chat History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Chat History": {
        "main": [
          [
            {
              "node": "Load guest context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "saveDataErrorExecution": "all",
      "saveDataSuccessExecution": "all"
    },
    "meta": {}
  }
]
